<nav class="navbar navbar-fixed-top navbar-top-red-pleca" role="navigation">
    <div class="container">
        <div class="navbar-header">

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <p class="navbar-text">{{ ::account.name }}</p>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="mca.menu" class="">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>