<form [formGroup]="myform" novalidate>
    <h2 class="text-center padding-barToTittle deleteMargin-h2  color-letra">Mantenimiento de Beneficiarios</h2>
    <fieldset class="padding-TittleToFieldset padding-fieldset-general">
        <div class="row sumando-form-group letranegrita">
            <div class="col-sm-1 sumando-bg-red group-name" style="height: 66px;">
                Desde
            </div>
            <div class="col-sm-11 group-controls padding-InFieldset" style="padding-left: 0px; padding-right:  0px;">
                <div class="form-group">
                    <div class="sumando-dropdown-account">
                        <table id="tablaMantoBen" width="100%" class="letranegrita">
                            <tr>
                                <td align="left" width="40%" style="border: 0px">CUENTA ENLACE PERSONAL <strong>
                                                                            </strong>
                                </td>
                                <td align="left" style="border: 0px">
                                    <strong>
                                        <label>{{saldoDisponibleClienteTdd | currency}}
                                        </label>
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="border: 0px">Cuenta
                                    <strong>
                                                    <label> {{mostrarCuentaMascara}}
                                                     </label>
                                                </strong>
                                </td>
                                <td align="left" style="border: 0px">Saldo Disponible
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: white; padding-left: 20px; padding-right: 20px; padding-top: 20px">
            <h3>Beneficiarios de la Cuenta</h3>
            <table width="100%" id="tablaMantoBen">
                <tr id="trBeneficiary" style="background-color: #e6e5e5">
                    <th>No. Cliente</th>
                    <th>Nombre o Razón Social</th>
                    <th>Parentesco</th>
                    <th>RFC</th>
                    <th>Fecha de Nacimiento</th>
                    <th>(%)</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
                <tr *ngFor="let beneficiario of BEN, let i = index" id="rRegistrosTabla" id="trBeneficiary">
                    <td *ngIf="(beneficiario.Opcion != 'B')" style="text-align: center">{{beneficiario.NumeroCliente}}</td>
                    <td *ngIf="(beneficiario.Opcion != 'B')" style="text-align: center">{{beneficiario.RazonSocial | uppercase}}{{beneficiario.NombreBeneficia | uppercase}} {{beneficiario.ApPaternoBenef | uppercase}} {{beneficiario.ApMaternoBenef | uppercase}}</td>
                    <td *ngIf="(beneficiario.Opcion != 'B')" style="text-align: center">{{beneficiario.Parentesco | uppercase}}</td>
                    <td *ngIf="(beneficiario.Opcion != 'B')" style="text-align: center">{{beneficiario.RegistroFederal | uppercase}}</td>
                    <td *ngIf="(beneficiario.Opcion != 'B')" style="text-align: center">{{beneficiario.NuevaFecha}}</td>
                    <td *ngIf="(beneficiario.Opcion != 'B')" style="text-align: center">{{beneficiario.PorcentajeBenef}}</td>
                    <td *ngIf="(beneficiario.Opcion != 'B')" align=center>
                        <button id="buttonImageMantoBen" type="button"><img src="./assets/img/edit.png" 
                                                alt="Modificar Beneficiario" (click)="modificacionBeneficiarioModal(beneficiario)" width="30px" height="30px" /></button>
                    </td>
                    <td *ngIf="(beneficiario.Opcion != 'B')" align=center>
                        <button id="buttonImageMantoBen" type="button"><img src="./assets/img/trash.png" 
                                                (click)="bajaBeneficiarioModal(beneficiario)" alt="Eliminar Beneficiario" width="30px" height="30px" /></button>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-10">
                    <button id="alta" type="button" class="color-botones btn btn-lg" [disabled]="tamRegistrosBenef == 10 || bloquearAlta || ultimoRegistroGuardado == 10 || contadorAltas == 10" (click)="altaBeneficiario()" style="margin-bottom: 20px; float: inherit; width: 110px;">Alta</button>
                </div>
                <div class="col-lg-2">
                    <button id="gardar" type="button" class="color-botones btn btn-lg pull-right" [disabled]="contadorModificaciones.length == 0 && contadorAltas == 0  && arrayBajas.length == 0" onclick="handlerCallPinpad()" (click)="finalizaProcesoGuardarDatos()" style="margin-left: 40px">Guardar Cambios</button>
                </div>
            </div>
        </div>

        <div class="modal-footer deletePaddingRigth-buttom" style="margin-right: -17px">
            <button type="button" class="btn btn-lg" routerLink="/menuTdd">Cancelar</button>
        </div>
    </fieldset>

    <!--MODAL ALTA-->
    <div class="modal fade" id="altaBenefModal" tabindex="-1" role="dialog" aria-labelledby="ModalTDDLogin" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-benef" role="document" style="max-width: 85%; position: initial !important; margin-top: -41px;">
            <div class="modal-content shadowModal">
                <h2 class="text-center padding-barToTittle deleteMargin-h2  color-letra">Alta de Beneficiario</h2>
                <br>
                <div class="modal-body modal-body-aux">

                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm-1 control-label">Nombre(s)</label>
                        </div>
                        <div class="col-sm-3">
                            <input class="input-whidth form-control amount input-lg text-uppercase" type="text" id=NombreinputText formControlName="nombreBenef" #RNombreBeneficiarioAlta [matKeyboard]="" style="text-align: center" maxlength="20" placeholder="Ingrese Nombre(s)" (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger" *ngIf="myform.get('nombreBenef').errors && myform.get('nombreBenef').touched">
                                <p color="danger">Nombre es Requerido</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label" style="text-align: right; top: -11px;">Apellido Paterno</label>
                        </div>
                        <div class="col-sm-3">
                            <input class="input-whidth form-control amount input-lg text-uppercase" type="text" id=AppPinputText formControlName="apPatBenef" #RApellidoPatAlta [matKeyboard]="" style="text-align: center" maxlength="20" placeholder="Ingrese Apellido Paterno" (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger" *ngIf="myform.get('apPatBenef').errors && myform.get('apPatBenef').touched">
                                <p color="danger">Apellido Paterno es Requerido</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label" style="text-align: right; top: -11px;">Apellido Materno</label>
                        </div>
                        <div class="col-sm-3">
                            <input class="input-whidth form-control amount input-lg text-uppercase" type="text" id=AppMinputText #RApellidoMatAlta [matKeyboard]="" style="text-align: center" maxlength="20" placeholder="Ingrese Apellido Materno" (focus)="tecladoMoverAbajo()">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm-1 control-label">F.Nacimiento</label>
                        </div>
                        <div class="col-sm-3">
                            <input class="input-whidth form-control amount input-lg" type=text formControlName="fechaNacBenef" id=FechaNacInputText #RFechaNacimientoAlta [matKeyboard]="'num'" style="text-align: center" placeholder="AAAA-MM-DD" (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger" *ngIf="myform.get('fechaNacBenef').errors && myform.get('fechaNacBenef').touched">
                                <p color="danger">Formato de Fecha es Incorrecto</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label" style="text-align: right">Parentesco</label>
                        </div>
                        <div class="col-sm-3">
                            <input class="input-whidth form-control amount input-lg text-uppercase" type="text" id=ParentescoInputText formControlName="parentescoBenef" #RParentescoAlta [matKeyboard]="" style="text-align: center" maxlength="20" placeholder="Ingrese Parentesco" (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger" *ngIf="myform.get('parentescoBenef').errors && myform.get('parentescoBenef').touched">
                                <p>Parentesco es Requerido</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label" style="text-align: right; top: -11px;">Tipo de Persona</label>
                        </div>
                        <div class="col-sm-3">
                            <select class="input-whidth form-control amount input-lg selectModificado" id="selTypePersonAlta" (change)="fMSelect($event.target.value)" #RFisicaMoralSelecAlta>                            
                        <option disabled="true" selected="true">SELECCIONE OPCIÓN</option>
                        <option [value]="1">Persona Física</option>
                        <option [value]="2">Persona Moral</option>
                      </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm-1 control-label">RFC</label>
                        </div>
                        <div class="col-sm-3">
                            <input class="input-whidth form-control amount input-lg text-uppercase" type="text" id=RFCInputText formControlName="registroFC" #RRegistroFederalAlta [matKeyboard]="" style="text-align: center" placeholder="Ingrese RFC" (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger">
                                <p color="danger" *ngIf="myform.get('registroFC').errors && myform.get('registroFC').touched">Formato de RFC Incorrecto</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="amount" class="col-sm control-label" style="left:116px">% Asignado al Beneficiario</label>
                        </div>
                        <div class="col-sm-1">
                            <input class="input-whidth form-control amount input-lg" type="text" id=PorcentajeInputText #RPorcentajeAlta [matKeyboard]="'num'" style="text-align: center" placeholder="%" (focus)="tecladoMoverAbajo()">
                        </div>
                        <div class="col-sm-6">
                            <label for="amount" class="col-sm control-label">(La suma de los porcentajes asignados a sus beneficiarios, debe ser igual a 100%)</label>
                        </div>
                    </div>
                    <br>
                    <div [formGroup]="myformCP" class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm-2 control-label">CP</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="input-whidth form-control amount input-lg" type="text" id=CPInputText formControlName="CodPBenef" #RAltaCodigoPostal [matKeyboard]="'num'" style="text-align: center" placeholder="CP" (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger">
                                <p color="danger" *ngIf="myformCP.get('CodPBenef').errors && myformCP.get('CodPBenef').touched">Ingrese CP válido</p>
                                <p color="danger" *ngIf="codigoPvacio === 1">No se encontraron resultados, por favor ingrese otro CP</p>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button id="cp" type="button" class="color-botones btn btn-lg pull-right" [disabled]="myformCP.invalid" (click)="consultaCodigoPostalSoap(RAltaCodigoPostal.value)" style="font-size: 16px !important; margin-top: -2px">Consulta CP</button>
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label">Estado</label>
                        </div>
                        <div class="col-sm-3">
                            <input class="input-whidth form-control amount input-lg text-uppercase" type=text id=EdoInputText #RDescripcionEstadoAlta style="text-align: center" [value]="descripcionEstado" placeholder="Ingrese Estado" disabled="true">
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label" style="top: -11px;">Delegación/ Municipio</label>
                        </div>
                        <div class="col-sm-3">
                            <input class="input-whidth form-control amount input-lg text-uppercase" type=text id=DelMunIputText #RDescripcionDelegacionAlta style="text-align: center" placeholder="Delegación/Municipio" [value]="descripcionDelegacion" disabled="true">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label">Colonia</label>
                        </div>
                        <div class="col-lg-3">
                            <select class="input-whidth form-control amount input-lg selectModificado" id="selColonia" (change)="seleccionColonia()" #rColonias style=" background-size: auto">
                                <option [disabled]="true" selected="true">SELECCIONE COLONIA</option>
                                <option *ngFor="let colonias of CP"  [value]="colonias.Colonia">{{colonias.Colonia}}</option>                      
                        </select>
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label">Calle</label>
                        </div>
                        <div class="col-sm-5">
                            <input class="input-whidth form-control amount input-lg text-uppercase" type="text" id=CalleInputText formControlName="nomCalleBenef" #RNombreCalleAlta [matKeyboard]="" style="text-align: center" maxlength="23" placeholder="Ingrese Calle" (focus)="tecladoMoverArriba()">
                            <div class="alert-danger">
                                <p color="danger" *ngIf="myform.get('nomCalleBenef').errors && myform.get('nomCalleBenef').touched">Nombre de la Calle es requerido</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label">No. Ext</label>
                        </div>
                        <div class="col-sm-1">
                            <input class="input-whidth form-control amount input-lg" type="text" id=NumExtInputText #RNumeroCalleAlta [matKeyboard]="'num'" style=" text-align: center" maxlength="6" placeholder="No. Ext" (focus)="tecladoMoverArriba()">
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label">Departamento</label>
                        </div>
                        <div class="col-sm-1">
                            <input class="input-whidth form-control amount input-lg" type="text" id=DepaInputText #RNumeroDepartamentoAlta [matKeyboard]="'num'" style="text-align: center" maxlength="4" placeholder="Dpto" (focus)="tecladoMoverArriba()">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                    <button id="confirmar" type="button" class="color-botones btn btn-lg pull-right" [disabled]="myform.invalid  || rColonias.value === 'Seleccione Colonia' || rColonias.value === '' || RFisicaMoralSelecAlta.value  === 'Seleccione Opción' || RFisicaMoralSelecAlta.value === ''"
                        ng-click="location.reload()" data-dismiss="modal" (click)="altaBeneficiarioView(myform.value, myformCP.value)">Confirmar</button>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal Modificación de Beneficiarios-->
    <div class="modal fade" id="modalModificacionBeneficiarios" tabindex="-1" role="dialog" aria-labelledby="ModalTDDLogin" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 85%; position: initial !important; margin-top: -41px;">
            <div class="modal-content shadowModal">
                <h2 class="text-center padding-barToTittle deleteMargin-h2  color-letra">Modificacion de Beneficiario</h2>
                <!--<h4 class="text-center padding-barToTittle deleteMargin-h2" class="text-center padding-barToTittle deleteMargin-h2" style="color: #B01657; font-weight: 700;">Modificacion de Beneficiario</h4>-->
                <br>
                <div class="modal-body modal-body-aux">

                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm-1 control-label">Nombre(s)</label>
                        </div>
                        <div class="col-sm-3">
                            <input class=" input-whidth form-control amount input-lgtext-uppercase" type="text" id=NombreinputText [matKeyboard]="" #RNombreBeneficiario formControlName="nombreBenef" style="text-align: center; text-transform: uppercase" maxlength="20" placeholder="Ingrese Nombre(s)"
                                (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger" *ngIf="myform.get('nombreBenef').errors && myform.get('nombreBenef').touched">
                                <p color="danger">Nombre es Requerido</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label" style="text-align: right; top: -11px;">Apellido Paterno</label>
                        </div>
                        <div class="col-sm-3">
                            <input class="input-whidth form-control amount input-lg text-uppercase" type="text" id=AppPinputText formControlName="apPatBenef" #RApellidoPat [matKeyboard]="" style="text-align: center" maxlength="20" placeholder="Ingrese Apellido Paterno" (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger" *ngIf="myform.get('apPatBenef').errors && myform.get('apPatBenef').touched">
                                <p color="danger">Apellido Paterno es Requerido</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label" style="text-align: right; top: -11px;">Apellido Materno</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="input-whidth form-control amount input-lg text-uppercase" id=AppMinputText #RApellidoMat [matKeyboard]="" style="text-align: center" maxlength="20" placeholder="Ingrese Apellido Materno" (focus)="tecladoMoverAbajo()">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm-1 control-label">F.Nacimiento</label>
                        </div>
                        <div class="col-sm-3">
                            <input class="input-whidth form-control amount input-lg" type="text" id=FechaNacInputText formControlName="fechaNacBenef" #RFechaNacimiento [matKeyboard]="'num'" style="text-align: center" placeholder="AAAA-MM-DD" (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger" *ngIf="myform.get('fechaNacBenef').errors && myform.get('fechaNacBenef').touched">
                                <p color="danger">Formato de Fecha es Incorrecto</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label" style="text-align: right">Parentesco</label>
                        </div>
                        <div class="col-sm-3">
                            <input class="input-whidth form-control amount input-lg text-uppercase" type="text" id=ParentescoInputText formControlName="parentescoBenef" [matKeyboard]="" #RParentesco style=" text-align: center" maxlength="20" placeholder="Ingrese Parentesco" (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger" *ngIf="myform.get('parentescoBenef').errors && myform.get('parentescoBenef').touched">
                                <p>Parentesco es Requerido</p>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <label for="amount" class="col-sm control-label" style="text-align: right; top: -11px;">Tipo de Persona</label>
                        </div>
                        <div class="col-lg-3">
                            <input class="input-whidth form-control amount input-lg text-uppercase" id="selTypePersonAlta" [value]="fisicaMoralSeleccionada" #RFisicaMoralSelec required style="text-align: center; background-image: none" disabled="true">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm-1 control-label">RFC</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="input-whidth form-control amount input-lg text-uppercase" id=RFCInputText [matKeyboard]="" formControlName="registroFC" #RRegistroFederal style="text-align: center" placeholder="Ingrese RFC" (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger">
                                <p color="danger" *ngIf="myform.get('registroFC').errors && myform.get('registroFC').touched">Formato de RFC Incorrecto</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="amount" class="col-sm control-label" style="left:116px">% Asignado al Beneficiario</label>
                        </div>
                        <div class="col-sm-1">
                            <input class="input-whidth form-control amount input-lg" type="text" id=PorcentajeInputText [matKeyboard]="'num'" #RPorcentaje style="text-align: center" placeholder="%" (focus)="tecladoMoverAbajo()">
                        </div>
                        <div class="col-sm-6">
                            <label for="amount" class="col-sm control-label">(La suma de los porcentajes asignados a sus beneficiarios, debe ser igual a 100%)</label>
                        </div>
                    </div>
                    <br>
                    <div [formGroup]="myformCPMod" class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm-2 control-label">CP</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="input-whidth form-control amount input-lg" type="text" id=CPInputText [matKeyboard]="'num'" formControlName="CodPBenefMod" #RCodigoPostal style=" text-align: center" placeholder="CP" (focus)="tecladoMoverAbajo()">
                            <div class="alert-danger">
                                <p color="danger" *ngIf="myformCPMod.get('CodPBenefMod').errors && myformCPMod.get('CodPBenefMod').touched">Ingrese CP válido</p>
                                <p color="danger" *ngIf="codigoPvacio === 1">No se encontraron resultados, por favor ingrese otro CP</p>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button id="cp2" type="button" [disabled]="myformCPMod.invalid" class="color-botones btn btn-lg pull-right" (click)="consultaCodigoPostalSoap(RCodigoPostal.value)" style="font-size: 16px !important; margin-top: -2px">Consulta CP</button>
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label">Estado</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="input-whidth form-control amount input-lg text-uppercase" id=EdoInputText #RDescripcionEstado [value]="descripcionEstado" style="text-align: center" placeholder="Ingrese Estado" disabled="true">
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label" style="top: -11px;">Delegación/ Municipio</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="input-whidth form-control amount input-lg text-uppercase" id=DelMunIputText #RDescripcionDelegacion [value]="descripcionDelegacion" style="text-align: center" placeholder="Delegación/Municipio" disabled="true">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label">Colonia</label>
                        </div>
                        <div class="col-sm-3">
                            <select class="input-whidth form-control amount input-lg selectModificado" id="selColonia" (change)="seleccionColonia()" #RColoniasM style="text-align: center; background-size: auto">
                                            <option *ngIf="descripcionColonia !== ''">{{descripcionColonia}}</option>
                                            <option disabled="true">SELECCIONE COLONIA</option>
                                            <option  *ngFor="let colonias of CP" [value]="colonias.Colonia">{{colonias.Colonia}}</option>
                                  </select>
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label">Calle</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="input-whidth form-control amount input-lg text-uppercase" id=CalleInputText [matKeyboard]="" formControlName="nomCalleBenef" #RNombreCalle style="text-align: center" maxlength="23" placeholder="Ingrese Calle" (focus)="tecladoMoverArriba()">
                            <div class="alert-danger">
                                <p color="danger" *ngIf="myform.get('nomCalleBenef').errors && myform.get('nomCalleBenef').touched">Nombre de la Calle es requerido</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label">No. Ext</label>
                        </div>
                        <div class="col-sm-1">
                            <input class="input-whidth form-control amount input-lg" type="text" id=NumExtInputText [matKeyboard]="'num'" #RNumeroCalle style="text-align: center" maxlength="6" placeholder="No. Ext" (focus)="tecladoMoverArriba()">
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="amount" class="col-sm control-label">Departamento</label>
                        </div>
                        <div class="col-sm-1">
                            <input class="input-whidth form-control amount input-lg" type="text" id=DepaInputText [matKeyboard]="'num'" #RNumeroDepartamento style="text-align: center" maxlength="4" placeholder="Dpto" (focus)="tecladoMoverArriba()">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                    <button id="guardar2" type="button" class="color-botones btn btn-lg pull-right" [disabled]="myform.invalid  || RColoniasM.value === 'Seleccione Colonia' || RColoniasM.value === ''" (click)="guardarModificacionesView(myform.value, myformCPMod.value)" ng-click="location.reload()"
                        data-dismiss="modal">Guardar</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Baja de Beneficiario -->

    <div class="modal fade" id="modalBajaBeneficiarios" tabindex="-1" role="dialog" aria-labelledby="ModalTDDLogin" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 21%; position: initial !important;">
            <div class="modal-content shadowModal">
                <!--<h2 class="text-center padding-barToTittle deleteMargin-h2  color-letra">Aviso</h2>-->
                <h4 class="text-center padding-barToTittle deleteMargin-h2" style="color: #B01657; font-weight: 700;">Aviso</h4>
                <br>
                <div class="modal-body modal-body-aux">
                    <p style="text-align: center; font-weight: bold">Confirmar la eliminación del beneficiario: </p>
                    <br>
                    <p style="text-align: center; font-weight: bold">{{razonSocial}} {{nombreBeneficiario}} {{apellidoPat}} {{apellidoMat}}</p>
                </div>
                <div class="modal-footer">
                    <button id="aceptar" type="button" class="color-botones btn btn-lg pull-right" data-dismiss="modal" (click)="bajaBeneficiariosView()" ng-click="location.reload()" style="margin-right: 44px" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="btn btn-lg" data-dismiss="modal" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Aviso de Porcentajes -->

    <div class="modal fade" id="porcentajeModal" tabindex="-1" role="dialog" aria-labelledby="ModalTDDLogin" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 21%; position: initial !important;">
            <div class="modal-content shadowModal">
                <!--<h2 class="text-center padding-barToTittle deleteMargin-h2  color-letra">Aviso</h2>-->
                <h4 class="text-center padding-barToTittle deleteMargin-h2" style="color: #B01657; font-weight: 700;">Aviso</h4>
                <br>
                <div class="modal-body modal-body-aux">
                    <p style="text-align: justify; font-weight: bold">Para poder continuar, es necesario que la suma de los porcentajes asignados a sus beneficiarios sea igual a 100%, por favor modifique, elimine o realice alta de beneficiarios hasta sumar el 100%.</p>
                </div>
                <div class="modal-footer">
                    <button id="aceptar2" type="button" class="color-botones btn btn-lg pull-right" data-dismiss="modal" data-dismiss="modal">Aceptar</button>
                </div>

            </div>
        </div>
    </div>

</form>