<div class="padding-barToTittle">
    <h2 class="text-center color-letra letranegrita">Activaci&oacute;n de alertas exitosa</h2>
</div>
<fieldset class="padding-TittleToFieldset padding-fieldset-general">
    <div class="well sumando-well-white row">
        <div class="col-sm-12"><br></div>
        <div class="col-sm-12">
            Las alertas de la cuenta
            <label> {{NumCuenta}}</label> se han
            <strong>activado.</strong>
        </div>

        <div class="col-sm-12"><br></div>
        <div class="col-sm-12">
            Recibir&aacute;s una notificaci&oacute;n cada vez que se genere un movimiento o transacci&oacute;n monetaria en tu cuenta {{NumCuenta}}
        </div>
        <div class="col-sm-12"><br></div>

        <div class="col-sm-12">
            Correo electr&oacute;nico registrado: <label>{{Email}}</label>
        </div>

        <div class="col-sm-12">
            N&uacute;mero m&oacute;vil registrado: <label>{{Celular}}</label>
        </div>

        <div class="col-sm-12"><br></div>

        <div class="col-sm-12">
            Si deseas actualizar tus datos de contacto selecciona la opci&oacute;n <label>Actualizar datos de contacto.</label>
        </div>

        <div class="col-sm-12"><br></div>

        <div class="col-sm-12">
            Para dudas o aclaraciones sobre este cambio comun&iacute;cate de lunes a viernes de 8:00 a 20:00 hrs. y s&aacute;bados de 9:00 a 14:00 hrs. a los siguientes tel&eacute;fonos:
        </div>

        <div class="col-sm-12">
            M&eacute;xico D.F (55) 5140-5600
        </div>

        <div class="col-sm-12">
            Resto del pa&iacute;s 01-800-226-6783
        </div>

        <div class="col-sm-12"><br></div>
    </div>
    <div style="margin:30px 0px 0px 0px;" class="row">
        <div style=" padding: 0px;" class="col-sm-12">
            <button class="btn btn-danger pull-right btn-lg letranegrita" (click)="irMenuTDD()" type="button">
        Terminar
      </button>
        </div>
    </div>
</fieldset>