<div class="padding-barToTittle">
    <h2 class="text-center color-letra letranegrita">Activaci&oacute;n exitosa</h2>
</div>

<fieldset class="padding-TittleToFieldset padding-fieldset-general">
    <div class="well sumando-well-white row">
        <div class="col-sm-12"><br></div>
        <div class="col-sm-12">
            Las alertas de la cuenta
            <label id="cuenta"></label> se han
            <strong>activado.</strong>
        </div>

        <div class="col-sm-12"><br></div>
        <div class="col-sm-12">
            Recibir&aacute;s una notificaci&oacute;n cada vex que se genere un movimeitno o transacci&oacute;n financiera en tu cuenta
        </div>
        <div class="col-sm-12"><br></div>

        <div class="col-sm-12">
            Correo electr&oacute;nico registrado: <label id="eMail"></label>
        </div>

        <div class="col-sm-12">
            N&uacute;mero m&oacute;vil registrado: <label id="numMovil"></label>
        </div>

        <div class="col-sm-12"><br></div>

        <div class="col-sm-12">
            Si deseas actualizar tus datos de contacto delecciona la opci&oacute;n <label>Actualizar datos de contacto.</label>
        </div>

        <div class="col-sm-12"><br></div>

        <div class="col-sm-12">
            Para dudas o aclaraciones sobre este cambio comun&iacute;cate de lunes a viernes de 8:00 a 20:00 hrs. y s&aacute;bados de 9:00 a 14:00 hrs. a los siguientes tel&eacute;fonos:
        </div>

        <div class="col-sm-12">
            M&eacute;xico D.F (55) 5140-5600
        </div>

        <div class="col-sm-12">
            Resto del pa&iacute;s 01-800-226-6783
        </div>

        <div class="col-sm-12"><br></div>
    </div>
    <div style="margin:30px 0px 0px 0px;" class="row">
        <div style=" padding: 0px;" class="col-sm-12">
            <button class="btn btn-danger pull-right btn-lg letranegrita" (click)="confirmacion()" type="button">
        Aceptar
      </button>
        </div>
    </div>

</fieldset>

<div id="servicioNoDisponible" class="modal fade">
    <div class="modal-dialog modal-dialog-error">
        <div class="modal-content">
            <div class="modal-body" style="margin-left: 25px; margin-right: 25px;">
                <h4 class="color-letra">Aviso</h4>
                <p id="mnsErrorModal">Estimado cliente, es necesario que registres tu correo electr&oacute;nico y n&uacute;mero m&oacute;vil para poder continuar.</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="currentPage.loadMenu()">Salir</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>