<div ng-cloak class="padding-barToTittle">
    <h2 class="text-center color-letra">Comprar tiempo aire</h2>
</div>


<fieldset class="padding-fieldset-general padding-TittleToFieldset">
    <div class="row sumando-form-group letranegrita">
        <div class="col-sm-1 sumando-bg-red group-name">
            Desde
        </div>
        <div class="col-sm-11 group-controls  padding-InFieldset" style="padding-left: 0px; padding-right:  0px;">
            <div class="form-group">
                <div class="sumando-bg-white">
                    <input type="hidden">
                    <div class="dropdown sumando-dropdown-account">
                        <button class="btn btn-default btn-block dropdown-toggle btn-color-cuentas" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <table id="tableOrigen" style="display: none" width="100%">
                            <tr>
                              <td align="left" width="45%">
                                <strong><label  id="lblAliasOrigen" #lblAliasOrigen></label></strong>
                              </td>
                              <td align="left" width="45%">
                                <strong>$<label id ="lblSaldoOrigen"></label>
                                </strong>
                              </td>
                              <td width="5%" rowspan="2" class="dropdown-caret" style="padding-left: 21px;">
                                <img  class="select-img" src="./assets/img/bg_selectN.png" style="width: 91%; height: 181%;" >
                              </td>
                            </tr>
                            <tr>
                              <td align="left">Cuenta <label id="lblCuentaOrigen" #lblCuentaOrigen></label></td>
                              <td align="left">Saldo Disponible</td>
                            </tr>
                          </table>
                          <table  id="tableDefaultOrigen" width="100%" style="height: 100%;">
                            <tr>
                              <td align="left" rowspan="2">Seleccione una cuenta de origen...</td>
                              <td width="5%" style="height: 40px;" rowspan="2" class="dropdown-caret">
                                <img src="./assets/img/bg_selectN.png" class="select-img">
                              </td>
                            </tr>
                          </table>
                        </button>
                        <div>
                            <ul id="ul_Cuentas" #listaCuentas class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1" style="width: 100%; height: 200px; overflow: auto">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <form [formGroup]="forma">
        <div id="divisionInputs"></div>
        <div class="row sumando-form-group letranegrita">
            <div class="col-sm-1 sumando-bg-red group-name">Para</div>
            <div class="col-sm-11 sumando-well-white">

                <div id="tranSPEI" style="display: block;">
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Selecciona un operador de telefon&iacute;a celular</label>
                            </div>
                            <!-- <div id="atributo" class="col-lg-2 "> -->

                            <div id="carriersDiv" class="row col-sm-8" style="height:60px; width:1200px;">
                                <input type="hidden" id="carrier" name="carrier" />
                                <div [ngClass]="{'Telcel col-sm-2': true , 'border border-danger': blClassT}">
                                    <!-- <img src="./assets/img/7000.png" style="display: inline-block; float: center !important;" class="imagenTelcel compTelefonica" #importeTelcel id="imagenTelcel" name='importeTelcel' ngDefaultControl formControlName="operador" (click)="insertaSaldo(importeTelcel)"
                                    /> -->
                                    <img src="./assets/img/7000.png" style="display: inline-block; float: center !important;" class="imagenTelcel compTelefonica" #importeTelcel id="imagenTelcel" name='importeTelcel' ngDefaultControl (click)="insertaSaldo(importeTelcel)" />
                                </div>
                                <div [ngClass]="{'Movistar col-sm-2': true , 'border border-danger': blClassM}">
                                    <img src="./assets/img/11000.png" style="display: inline-block;float: left;" class="imagenMovistar compTelefonica" #importeMovi id="importeMovi" name='importeMovi' ngDefaultControl (click)="insertaSaldo(importeMovi)" />
                                </div>
                                <div [ngClass]="{'Unefon col-sm-2': true , 'border border-danger': blClassU}">
                                    <img src="./assets/img/5000.png" style="display: inline-block;float: left;" class="imagenUnefon compTelefonica" #importeUnefon id="importeUnefon" name='importeUnefon' ngDefaultControl (click)="insertaSaldo(importeUnefon)" />
                                </div>
                                <div [ngClass]="{'Iusacell col-sm-2': true , 'border border-danger': blClassI}">
                                    <img src="./assets/img/6000.png" style="display: inline-block;float: left;" class="imagenIusacell compTelefonica" #importeIusa id="importeIusa" name='importeIusa' ngDefaultControl (click)="insertaSaldo(importeIusa)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-InFieldset">
                        <label style="width: 8.3%;" class="col-sm-2 control-label">Monto</label>
                        <div class="col-sm-1 amount-list" *ngFor="let recarga of recargas; let i = index">
                            <!--<label formControlName="importe" ngDefaultControl #importe id="{{recarga.ImporteTiempoAire}}" (click)="cargaImporte(importe)">{{recarga.ImporteTiempoAire | currency}}</label> -->
                            <label ngDefaultControl #importe id="{{recarga.ImporteTiempoAire}}" (click)="cargaImporte(importe)">{{recarga.ImporteTiempoAire | currency}}</label>

                            <div id="botonMontos" style="display:none; ">
                                <div id="muestraMontos" name="muestraMontos" class="btn-group" role="group">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <label class="col-sm-2 control-label">Tel&eacute;fono</label>

                            <div class="col-sm-10">
                                <input disabled="disabled" [matKeyboard]="'num'" formControlName="telefono" id="telefono" name="telefono" type="text" class="input-whidth form-control amount input-lg" />
                                <div class="alert-danger" *ngIf="(forma.get('telefono').errors  && forma.get('telefono').touched)">
                                    <p color="danger" *ngIf="forma.get('telefono').hasError('required')">Dato obligatorio, favor de capturar.</p>
                                    <p color="danger" *ngIf="forma.get('telefono').hasError('pattern')">Dato incorrecto, favor de verificar.</p>
                                    <p color="danger" *ngIf="forma.get('telefono').hasError('minlength') || forma.get('telefono').hasError('maxlength')">El numero telefonico debe ser a 10 digitos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin:30px 20px 0px 0px;" class="row actions-form-group text-right">
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-lg" routerLink="/menuBXI">Regresar</button>
            </div>
            <!-- <button class="btn btn-primary [disabled]="!forma.valid" btn-lg" ng-click="onSiguiente01();"> -->
            <div class="col-sm-1">
                <button id="continuarTA" name="continuarspei" [disabled]="!forma.valid" class="color-botones btn btn-lg " (click)="validarSaldo()">
                  Continuar</button>
            </div>
        </div>
    </form>

</fieldset>
<!-- </form> -->


<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadowModal ">

            <div class="modal-body" style="padding: 2rem;">

                <h4 style="color: ##B01657; font-weight: 700;">Confirmar pago</h4>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Cuenta origen:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{cuentaSeleccionada}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>telefon:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{telefonoF}}</label>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg 6">
                        <label>Importe total:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>${{importe}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label style="display: block; text-align: center; line-height: 280%; color: #eb012a;">Por favor captura tu <label>{{labelTipoAutentica}}</label> para poder continuar</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 12">
                        <div id="challenger" class="row">
                            <div class="col-lg 6">
                                <label>N&uacute;mero de seguridad</label>
                            </div>
                            <div class="col-lg 6">
                                <label class='form-control input-lg'>{{NumeroSeguridad}}</label>
                            </div>

                        </div>
                        <div id="divPass" class="row">
                            <div class="col-lg 6">
                                <label>{{labelTipoAutentica}}</label>
                            </div>
                            <div class="col-lg 6">
                                <label>
                                <input id="inputToken" type="password" class="form-control input-lg" #token [matKeyboard]="'num'">
                                <div *ngIf="(token.value == '')  && token.touched" class="alert alert-danger">
                                    <p color="danger" *ngIf="(token.value == '')">Dato obligatorio, favor de capturar. </p>
                                </div>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                    <button class="color-botones btn btn-lg " (click)="confirmarPago(token.value)">
                                Confirmar
                              </button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="uiv-animate " ui-view></div>

<div id="modalErrorMessage " class="modal fade " data-backdrop="static " data-keyboard="false ">
    <div class="modal-dialog modal-dialog-error ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 class="modal-title ">
                    <span class="glyphicon glyphicon-exclamation-sign " aria-hidden="true "></span> Hubo un problema al efectuar la operaci&oacute;n
                </h4>
            </div>
            <div class="modal-body ">
                <p>
                    <small><label id="errorMensaje "></label></small>
                </p>
            </div>
            <div id="btnRegresaMenu " style="display: block " class="modal-footer ">
                <button type="button " class="btn btn-default " data-dismiss="modal " onClick="currentPage.loadMenu(); ">Cerrar</button>
            </div>
            <div id="btnCerrar " style="display: none " class="modal-footer ">
                <button type="button " class="btn btn-default " data-dismiss="modal ">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<!-- MODAL CUENTA SIN PLASTICOS -->


<div id="modalErrorPlastico " class="modal fade " data-backdrop="static " data-keyboard="false ">
    <div class="modal-dialog modal-dialog-error ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 class="modal-title ">
                    <span class="glyphicon glyphicon-exclamation-sign " aria-hidden="true "></span> Hubo un problema al efectuar la operaci&oacute;n
                </h4>
            </div>
            <div class="modal-body ">
                <p>
                    <small><label id="errorMensajePlastico "></label></small>
                </p>
            </div>
            <div id="btnRegresaMenu " style="display: block " class="modal-footer ">
                <button type="button " class="btn btn-default " data-dismiss="modal ">Cerrar</button>
            </div>
            <div id="btnCerrar " style="display: none " class="modal-footer ">
                <button type="button " class="btn btn-default " data-dismiss="modal ">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>