<div class="padding-barToTittle">
    <h2 class="text-center color-letra letranegrita">Operaci&oacute;n exitosa</h2>
</div>

<fieldset class="padding-TittleToFieldset padding-fieldset-general">
    <div class="well sumando-well-white row">
        <div class="col-sm-12"><br></div>
        <div class="col-sm-12" align="center">
            <strong>Tus datos de contacto se han actualizado exitosamente.</strong>
        </div>

        <div class="col-sm-12"><br></div>
        <div class="col-sm-6" align="right">
            <strong>Fecha de Operaci&oacute;n:</strong>
        </div>
        <div class="col-sm-6">
            <label id="fechaOperacionFinish"></label>
        </div>


        <div class="col-sm-6" align="right">
            <strong>Cuenta Origen:</strong>
        </div>
        <div class="col-sm-6">
            <label id="cuentaOrigenFinish"></label>
        </div>


        <div class="col-sm-6" align="right">
            <strong>Hora de Operaci&oacute;n</strong>
        </div>
        <div class="col-sm-6">
            <label id="horaOperacion"></label>
        </div>


        <div class="col-sm-6" align="right">
            <strong>Email:</strong>
        </div>
        <div class="col-sm-6">
            <label id="eMail"></label>
        </div>


        <div class="col-sm-12"><br></div>
    </div>
    <div style="margin:30px 0px 0px 0px;" class="row">
        <div style=" padding: 0px;" class="col-sm-12">
            <button class="btn btn-danger pull-right btn-lg letranegrita">
        Aceptar
      </button>
        </div>
    </div>

</fieldset>