<form [formGroup]="myForm" novalidate>
    <div ng-cloak class="padding-barToTittle">
        <h2 class="text-center color-letra">{{nombreServicio}}</h2>
    </div>
    <fieldset class="padding-TittleToFieldset padding-fieldset-general">
      <div class="sumando-well-white" style="padding-right: 15px; padding-left: 15px;padding: 2%;">
        <div class="sumando-form-group  ">
            <div class=" group-controls sumando-bg-white padding-bgWhite">
                <div class="form-group">
                    <div class="row padding-InFieldset">
                        <div class="col-lg-2">
                            <label>Cuenta origen:</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" id="idCuentaCargo" #rCuentaCargo class="form-control input-lg " value="{{cuentaCargo}}" readonly>
                        </div>
                    </div>
                    <div *ngIf="myForm.get('fcTelefono') !== null && myForm.get('fcDigitoVerificador') !== null">
                        <div class="row padding-InFieldset">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="row ">
                                        <div class=" col-lg-2">
                                            <label> Telefono:</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="text" id="idTelefono"  class="form-control input-lg" formControlName="fcTelefono" #rTelefono [matKeyboard]="'num'" />
                                            <div *ngIf="myForm.get('fcTelefono').errors  && myForm.get('fcTelefono').touched" class="alert alert-danger">
                                                <p *ngIf="myForm.get('fcTelefono').hasError('required')">
                                                        Dato obligatorio, favor de capturar.
                                                </p>
                                                <p *ngIf="myForm.get('fcTelefono').hasError('minlength')">
                                                        Los datos proporcionados son incorrectos, favor de verificar.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <label>DV: </label>
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="text" id="idDigitoV" class="form-control input-lg" #rDigitoVerificador formControlName="fcDigitoVerificador" [matKeyboard]="'num'" />
                                            <div *ngIf="myForm.get('fcDigitoVerificador').errors  && myForm.get('fcDigitoVerificador').touched" class="alert alert-danger">
                                                <p *ngIf="myForm.get('fcDigitoVerificador').hasError('required')">
                                                        Dato obligatorio, favor de capturar.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="myForm.get('fcReferencia') !== null">
                        <div class="row padding-InFieldset">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="row ">
                                        <div class=" col-lg-2">
                                            <label> Referencia:</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="text" id="idReferencia"  class="form-control input-lg" formControlName="fcReferencia" #rReferencia [matKeyboard]="'num'" />
                                            <div *ngIf="myForm.get('fcReferencia').errors  && myForm.get('fcReferencia').touched" class="alert alert-danger">
                                                <p *ngIf="myForm.get('fcReferencia').hasError('required')">
                                                        Dato obligatorio, favor de capturar.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-InFieldset">
                        <div class="col-lg-2">
                            <label>Fecha de vencimiento: </label>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" id="txtFechaVencimiento" class="form-control input-lg " formControlName="fcFechaVencimiento" #rFechaVencimiento [matKeyboard]="'num'" placeholder="AAAA-MM-DD" />
                            <div *ngIf="myForm.get('fcFechaVencimiento').errors  && myForm.get('fcFechaVencimiento').touched " class="alert alert-danger">

                                <p color="danger" *ngIf="myForm.get('fcFechaVencimiento').hasError('required')"> Dato obligatorio, favor de capturar.</p>
                                <p color="danger" *ngIf="myForm.get('fcFechaVencimiento').hasError('pattern')">Los datos proporcionados son incorrectos, favor de verificar.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-2">
                            <label>Importe: </label>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" id="idImporte" class="form-control input-lg" formControlName="fcImporte" #rImporte [matKeyboard]="'num'"
                            (blur)="transformAmount(rImporte.value)"  />
                            <div *ngIf="(myForm.get('fcImporte').errors  && myForm.get('fcImporte').touched)||( rImporte.value === '' && myForm.get('fcImporte').errors === null)" class="alert alert-danger">
                                <p color="danger" *ngIf="myForm.get('fcImporte').hasError('required') ">Dato obligatorio, favor de capturar. </p>
                                <p color="danger" *ngIf=" ( rImporte.value === '' && myForm.get('fcImporte').errors === null)">Dato obligatorio, favor de capturar. </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row actions-form-group text-right">
                <div class="col-lg-9"></div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-lg" (click)="irMenuBXI()">Cancelar</button>
                </div>
                <div class="col-lg-1" style="padding-right: 2%;">
                    <button type="button" class="btn btn-danger btn-lg" [disabled]="myForm.invalid" (click)="showDetallePago(myForm.value)">
                                        Continuar
                    </button>
                </div>
        </div>
     </fieldset>

    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadowModal ">

                <div class="modal-body" style="padding: 2rem;">

                    <h4 style="color: #eb012a; font-weight: 700;">Confirmar pago</h4>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Cuenta origen:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{cuentaCargo}}</label>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Servicio:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{nombreServicio}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Importe neto:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>${{importe}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Comision:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>$0.00</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Descuentos:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>$0.00</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Importe total:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>${{importe}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 12">
                        <div id="challenger" class="form-group">
                            <label>N&uacute;mero de seguridad</label>
                            <input type='text' id='numeroSeguridad' class='form-control input-lg' ng-model='challenge.rcg' readonly>

                        </div>
                        <div id="divPass" class="form-group">
                            <label>TipoAutentica</label>
                            <input type="password" class="form-control input-lg" #token [matKeyboard]="'num'" >
                            <div *ngIf="(token.value == '')  && token.touched" class="alert alert-danger">
                                    <p color="danger" *ngIf="(token.value == '')">Dato obligatorio, favor de capturar. </p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                    <button class="color-botones btn btn-lg " (click)="confirmarPago(token.value)" [disabled]="(token.value == '')">
                                Confirmar
                              </button>
                </div>

            </div>
        </div>
    </div>
</div>
</form>

<div class="modal fade" id="ModalLectordeRecibo" tabindex="-1" role="dialog" aria-labelledby="ModalBXIError" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadowModal ">
                <div class="modal-header">
                        <div style=" padding-left: 90%;"><img  style="width: 83%; " data-dismiss="modal" src="./assets/img/fail_icon.png"></div>
                </div>
                <div class="modal-body" style="padding: 2rem;">
                    <h4 class="modal-title" style="color: #eb012a; font-weight: 700;">Coloca tu recibo para continuar</h4>
                    <div>
                        <p>
                        Instrucciones:
                        </p>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-5">
                                <p>  
                                        1.  Coloca tu recibo con el
                                          código de barras visible
                                          en el Scanner
                                  </p>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-5">
                                    <p>  
                                            2. Espera a que el
                                            dispositivo valide la
                                            información
                                      </p>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-5">
                                    <p>  
                                            3.  Tiene 5 intentos para
                                            que el scanner valide
                                            información, si no,
                                            capture manualmente   
                                      </p>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-5">
                                    <input type="text"  #rCodeBar autofocus (input)="leeCodeBar(rCodeBar.value)" class="txt-codeBar">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
