<form [formGroup]="myForm"  novalidate>
        <h2 class="text-center padding-barToTittle deleteMargin-h2">{{nombreServicio}}</h2>
        <fieldset class="padding-TittleToFieldset padding-fieldset-general">
            <div class="sumando-form-group padding-InFieldset ">
                <div class=" group-controls sumando-bg-white padding-bgWhite">
                    <div class="form-group">
                    <div class="row padding-InFieldset">
                        <div class="col-lg-2">
                            <label >Cuenta origen:</label> 
                        </div>
                        <div class="col-lg-10">
                            <input type="text"  id="idCuentaCargo"  #rCuentaCargo class ="form-control input-lg " value="{{cuentaCargo}}"  readonly>   
                        </div>
                    </div>
                    <div *ngIf="myForm.get('fcTelefono') !== null && myForm.get('fcDigitoVerificador') !== null">
                        <div class="row padding-InFieldset">
                            <div class="col-lg-12">
                                <div class="form-group" >
                                    <div class="row ">
                                        <div class=" col-lg-2">
                                            <label> Telefono:</label>    
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="text"   id="idTelefono" class="form-control input-lg" formControlName="fcTelefono" #rTelefono  [matKeyboard]="'num'" />
                                                <div *ngIf="myForm.get('fcTelefono').errors  && myForm.get('fcTelefono').touched" 
                                                    class="alert alert-danger">
                                                    <p  *ngIf="myForm.get('fcTelefono').hasError('required')">
                                                        fcTelefono  requerida.
                                                    </p >   
                                                </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <label >DV: </label>    
                                        </div>
                                        <div class="col-lg-1">
                                        <input type="text"   id="idDigitoV"  class="form-control input-lg" #rDigitoVerificador formControlName="fcDigitoVerificador" [matKeyboard]="'num'" />
                                        <div *ngIf="myForm.get('fcDigitoVerificador').errors  && myForm.get('fcDigitoVerificador').touched" 
                                                class="alert alert-danger">
                                                    <p  *ngIf="myForm.get('fcDigitoVerificador').hasError('required')">
                                                            fcDigitoVerificador  requerida.
                                                    </p >   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>         
                        </div>
                 </div>
                 <div *ngIf="myForm.get('fcReferencia') !== null">
                    <div class="row padding-InFieldset">
                        <div class="col-lg-12">
                            <div class="form-group" >
                                <div class="row ">
                                    <div class=" col-lg-2">
                                        <label> Referencia:</label>    
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="text"   id="idReferencia" class="form-control input-lg" formControlName="fcReferencia" #rReferencia   [matKeyboard]="'num'" />
                                           <div *ngIf="myForm.get('fcReferencia').errors  && myForm.get('fcReferencia').touched" 
                                                class="alert alert-danger">
                                                <p  *ngIf="myForm.get('fcReferencia').hasError('required')">
                                                    fcReferencia  requerida.
                                                </p >  
                                           </div>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>
                <div class="row padding-InFieldset">
                  <div class="col-lg-2">
                      <label >Fecha de vencimiento: </label>    
                  </div>
                  <div class="col-lg-10">
                      <input type="text" id="txtFechaVencimiento"  class="form-control input-lg "  
                    formControlName="fcFechaVencimiento"   #rFechaVencimiento [matKeyboard]=""  placeholder="AAAA-MM-DD" />
                        <div *ngIf="myForm.get('fcFechaVencimiento').errors  && myForm.get('fcFechaVencimiento').touched " 
                                              class="alert alert-danger">
    
                                        <p color="danger" *ngIf="myForm.get('fcFechaVencimiento').hasError('required')"> fechaVencimiento  requerida.  </p >
                                        <p color="danger"  *ngIf="myForm.get('fcFechaVencimiento').hasError('pattern')">No es formato solicitado</p>
                          </div>
                  </div>
                </div>
                <div class="row padding-InFieldset">
                    <div class="col-lg-2">
                      <label >Importe: </label>            
                    </div>
                    <div class="col-lg-10">
                        <input  type="text"  id="idImporte"  class="form-control input-lg"  formControlName="fcImporte"  #rImporte  [matKeyboard]=""/>
                        <div *ngIf="myForm.get('fcImporte').errors  && myForm.get('fcImporte').touched" 
                                              class="alert alert-danger">
                                        <p color="danger" *ngIf="myForm.get('fcImporte').hasError('required')">importe requerido. </p >
                                        <p color="danger"  *ngIf="myForm.get('fcImporte').hasError('pattern')">No es formato solicitado</p>
                          </div>
                    </div>    
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer deletePaddingRigth-buttom">
                <button  class="btn btn-lg"  	 >Cancelar</button>
               <!-- <div *ngIf="myForm.get('fcTelefono') !== null && myForm.get('fcDigitoVerificador') !== null">-->
                        <button  type="button" class="btn btn-primary  btn-lg" [disabled]="myForm.invalid" (click)="showDetallePago(myForm.value)">
                                Continuar
                        </button>
               <!-- </div>
                <div *ngIf="myForm.get('fcReferencia') !== null">
                        <button  type="button" class="btn btn-primary  btn-lg" [disabled]="myForm.invalid" (click)="showDetallePago(myForm )">
                                Continuar
                        </button>
                </div>-->
        </div>     
     </fieldset>
    </form>
    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadowModal ">
    
                <div class="modal-body" style="padding: 2rem;">
    
                    <h4 style="color: #eb012a; font-weight: 700;">Confirmar pago</h4>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Cuenta origen:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{cuentaOrigen}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Servicio:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{nombreServicio}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Importe neto:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>$${{importe}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Comision:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>$0.00</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Descuentos:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>$0.00</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Importe total:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>$${{importe}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 12">
                            <div id="challenger" class="form-group">
                                <label>N&uacute;mero de seguridad</label>
                                <input type='text' id='numeroSeguridad' class='form-control input-lg' ng-model='challenge.rcg' readonly>
    
                            </div>
                            <div id="divPass" class="form-group">
                                <label>TipoAutentica</label>
    
                                <input type="password" class="form-control input-lg" #token [matKeyboard]="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                        <button class="color-botones btn btn-lg " (click)="confirmarPago(token.value)">
                                Confirmar
                              </button>
                    </div>
    
                </div>
            </div>
        </div>
    </div> 
    