<script src="./js/pagoServiciosMCA.js"></script>
<script>
    $.getScript(path + "Keyboard-master/docs/js/demo.js");
</script>

<div>

    <nav class="navbar navbar-fixed-top navbar-top-red-pleca" role="navigation">
        <div class="container">
            <div class="navbar-header"></div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <!-- <p class="navbar-text">{{ ::account.name }}</p> -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a onClick="currentPage.loadMenu();" id="menud"> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="padding-barToTittle">
        <h2 class="text-center deleteMargin-h2 color-letra">Pago de servicios</h2>
    </div>
    <fieldset class="padding-TittleToFieldset padding-fieldset-general">
        <div class="row sumando-form-group ">
            <div class="col-sm-2 sumando-bg-orange group-name">
                Desde
            </div>
            <div class="col-sm-10 group-controls padding-left-0 padding-right-0 sumando-well-white">
                <div class="form-group">
                    <div class="sumando-bg-white">
                        <input type="hidden" name="originAccount" />

                        <div class="dropdown sumando-dropdown-account">
                            <button style="width: 100% !important;" class="btn btn-default btn-block dropdown-toggle fondoblanco" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" disabled="disabled">
         <table width="100%" aria-labelledby="dropdownMenu1">
           <tr>
             <td align="left" width="40%">
               <strong></strong>
             </td>
             <td align="left" width="40%">
               <strong>
               </strong>
             </td>
           </tr>
           <tr>
             <td align="left" style = "color:#000000 !important"  id="nombreTitular"><b></b></td>
             <td align="left" style = "color:#000000 !important" id="salDisponible"><b></b></td>
           </tr>
         </table>
         <table width="100%" aria-labelledby="dropdownMenu1">
           <tr>
             <td align="left" width="40%">
               <strong></strong>
             </td>
             <td align="left" width="40%">
               <strong>
               </strong>
             </td>
           </tr>
           <tr>
             <td align="left" style = "color:#000000 !important" id="cuentaTable"></td>
             <td align="left" style = "color:#000000 !important">Saldo Disponible</td>
           </tr>
         </table>
       </button>
                            <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="javascript:void(0)"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sumando-form-group">
            <div class="col-sm-2 sumando-bg-orange group-name ">
                Para
            </div>
            <div class="col-sm-10 group-controls padding-left-0 padding-right-0 sumando-well-white">
                <div class="input-group">
                    <!-- <select id="combobox" style="width:1265px; height: 62px;" onchange="ponerColor()"> -->

                    <input id="combobox" type="text" class="form-control" placeholder="Facturadores">
                    <input id="facturador" type="hidden">
                </div>


            </div>
            <!--  <div class="input-group" >
   <div id="combobox" style="width:1265px; height: 800px;"></div>
 </div> -->
        </div>
        <div class="row actions-form-group text-right" style="margin:30px 0px 0px 0px;">
            <div class="col-sm-10">
                <button class="btn btn-lg" onclick="currentPage.loadMenu();">Regresar</button></div>
            <button class="btn btn-danger  btn-lg" onclick="return validarCampos()">
 Continuar
</button>
        </div>
    </fieldset>

</div>