<div>
  <img src="assets/images/k_banner.png" class="img-responsive" />
</div>

<h1 class="text-center">Bienvenido a banorte</h1>
<h4 class="text-center">¿Que podriamos hacer hoy por ti?</h4>

<div class="container">
  <div class="kiosko-menu">


    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 text-center">
        <a ng-click="onConsultarSaldoClick()">
          <img src="assets/images/k_cs.png" draggable="false" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 text-center">
        <a ng-click="onConsultarEstadoCuentaClick()">
          <img src="assets/images/m_ied_2.png" draggable="false" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 text-center">
        <a ui-sref="kiosk.mc.home">
          <img src="assets/images/k_mc.png" draggable="false" />
        </a>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-md-offset-2 col-lg-offset-2 text-center">
        <a ng-click="onTransferenciaClick()">
          <img src="assets/images/k_rt.png" draggable="false" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 text-center">
        <a ui-sref="kiosk.pts">
          <img src="assets/images/k_pts.png" />
        </a>
      </div>
    </div>

  </div>


</div>

<div id="modalProximamente" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-error sumando-modal-dialog" style="margin:200px auto">
    <div class="modal-content" style="height:auto;">
      <div class="modal-header">
        <button type="button" class="close bxi-red" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/close-32-red.png" />
        </button>
        <h4 class="modal-title">&nbsp;</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="text-center">Próximamente</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
