<div ng-cloak class="padding-barToTittle">
    <h2 class="text-center color-letra letranegrita">Tu pago ha sido enviado</h2>
</div>

<fieldset align="center" class="padding-TittleToFieldset padding-fieldset-general">
    <div align="center" class="well sumando-well-white">
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Folio de Operaci&oacute;n:</strong>
            </div>
            <div class="col-lg-6">
                <label id="folioFinish"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Fecha de Operaci&oacute;n:</strong>
            </div>
            <div class="col-lg-6">
                <label id="fechaOperacionFinish"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Cuenta Origen:</strong>
            </div>
            <div class="col-lg-6">
                <label id="cuentaOrigenFinish"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>N&uacute;mero de Tarjeta:</strong>
            </div>
            <div class="col-lg-6">
                <label id="numeroTarjetaFinish"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Comisión e IVA:</strong>
            </div>
            <div class="col-lg-6">
                <label id="comisionEIvaFinish"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Importe:</strong>
            </div>
            <div class="col-lg-6">
                <label id="importeFinish"></label>
            </div>
        </div>
    </div>
    <div style="margin:30px 0px 0px 0px;" class="row">
        <div style=" padding: 0px;" class="col-sm-12">
            <button class="btn btn-danger pull-right btn-lg letranegrita" onClick="currentPage.loadMenu();">
        Terminar
      </button>
        </div>
    </div>

</fieldset>