<div class="form-group" ng-class="{
                'has-error':  currentForm.password.$invalid && currentForm.password.$dirty,
                'has-success': currentForm.password.$valid}">
    <input type="password" class="form-control" id="password"
           placeholder="Contraseña" ng-model="command.pss" required>
</div>
<div class="form-group" ng-show="userData.uty=='A' && userData.ist">
    <label>Numero de seguridad</label>
    <input type="text" class="form-control" ng-model="challenge.rcg" readonly>
</div>
<div class="form-group">
    <input type="password" class="form-control" id="token"
           placeholder="Token"
           ng-model="command.utk" ng-show="userData.uty !='B'" ng-required="userData.uty !='B'">
</div>


<button type="submit" class="btn btn-primary btn-block" ng-disabled="currentForm.$invalid">
    Continuar
</button>
<button class="btn btn-block" ui-sref="home.user" type="button">
    Regresar
</button>



