<div class="row">
  <div class="alert alert-danger" ng-show="errorMessage">
    {{ errorMessage }}
  </div>

  <div class="row ">

    <ul rn-carousel rn-carousel-controls class="menu-container" rn-carousel-index="carouselIndex">
      <li>

        <h2 class="text-center">Operaciones frecuentes</h2>

        <div class="row">
          <div class="col-md-1-5"></div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.topup.carrier">
              <img src="assets/images/m_tae.png" draggable="false" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.accounts.list">
              <img src="assets/images/m_saldo.png" draggable="false" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ng-click="carouselIndex=3">
              <img src="assets/images/m_pagos.png" draggable="false" />
            </a>
          </div>
        </div>

        <br/>

        <div class="row">
          <div class="col-md-3 col-md-offset-3 col-sm-3 col-xl-3">
            <a ng-click="carouselIndex=1">
              <img src="assets/images/m_tran.png" draggable="false" />
            </a>
          </div>

          <div class="col-md-3 col-sm-3 col-xl-3">
            <a>
              <img src="assets/images/m_evalua.png" draggable="false" />
            </a>
          </div>
        </div>

        <!-- <div class="row">
                  <div class="col-md-3 col-sm-3 col-xl-3">
                    <a ng-click="carouselIndex=1" >
                      <img src="assets/images/m_tran.png" draggable="false" />
                    </a>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xl-3">
                    <a  >
                      <img src="assets/images/btn_blanco.png" draggable="false"/>
                    </a>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xl-3">
                    <a  >
                      <img src="assets/images/btn_blanco.png" draggable="false"/>
                    </a>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xl-3">
                    <a  >
                      <img src="assets/images/btn_blanco.png" draggable="false"/>
                    </a>
                  </div>
                </div> -->


      </li>
      <li>
        <h2 class="text-center">Realizar transferencias</h2>

        <div class="row">
          <div class="col-md-1-5"></div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.transfer.own.accs">
              <img src="assets/images/m_tran_prop.png" draggable="false" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.transfer.third.init">
              <img src="assets/images/m_tran_ter.png" draggable="false" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.transfer.spei.gen.init">
              <img src="assets/images/m_tran_spei.png" draggable="false" />
            </a>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-md-3 col-md-offset-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.transfer.tef.gen.init">
              <img src="assets/images/m_tran_tef.png" draggable="false" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.transfer.quick.init">
              <img src="assets/images/m_tran_rap.png" draggable="false" />
            </a>
          </div>
        </div>

      </li>

      <!--
            <li>
              <h2 class="text-center">Productos</h2>

              <div class="row">
                <div class="col-md-3 col-sm-3 col-xl-3">
                  <a  >
                    <img src="assets/images/m_hipotecario.png" draggable="false"/>
                  </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3">
                  <a  >
                    <img src="assets/images/m_creditos.png" draggable="false"/>
                  </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3">
                  <a  >
                    <img src="assets/images/m_autos.png" draggable="false"/>
                  </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3">
                  <a >
                    <img src="assets/images/m_seguros.png" draggable="false"/>
                  </a>
                </div>
              </div>
              <br/>

              <div class="row">
                <div class="col-md-3 col-sm-3 col-xl-3">
                  <a  >
                    <img src="assets/images/m_inversion.png" draggable="false"/>
                  </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3">
                  <a  >
                    <img src="assets/images/m_blank.png" draggable="false"/>
                  </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3">
                  <a  >
                    <img src="assets/images/m_blank.png" draggable="false"/>
                  </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xl-3">
                  <a  >
                    <img src="assets/images/m_blank.png" draggable="false"/>
                  </a>
                </div>
              </div>

            </li>
      -->
      <li>
        <h2 class="text-center">Realizar pagos</h2>

        <div class="row">
          <div class="col-md-1-5"></div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.payment.cc.own.accounts">
              <img src="assets/images/m_tdc_ban.png" draggable="false" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.payment.cc.external.accounts">
              <img src="assets/images/m_tdc_otros.png" draggable="false" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.payment.cc.third.accounts">
              <img src="assets/images/m_tdc_ter.png" draggable="false" />
            </a>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-md-1-5"></div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.payment.cc.amex.accounts">
              <img src="assets/images/m_tdc_amex.png" draggable="false" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.payment.service.payee">
              <img src="assets/images/m_pagserv.png" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xl-3">
            <a ui-sref="bxi.topup.carrier">
              <img src="assets/images/m_tae.png" />
            </a>
          </div>
        </div>

      </li>
    </ul>


  </div>
  <div class="row">
    <h4 class="text-center">Para consultar el menú de operaciones desliza la pantalla.</h4>
  </div>
</div>
