<div class="padding-barToTittle">
    <h2 class="text-center deleteMargin-h2 color-letra">Movimientos de cuenta</h2>
</div>

<div id="contenedor" class="padding-fieldset-general ">
    <div ui-view="navbar">
        <div class="row">
            <div class="col-sm-9">
                <div class="row padding-TittleToFieldset padding-InFieldset">
                    <div style="width: 300px" class="col-lg-6 ">
                        <h4 class="color-letra">Selecciona una opci&oacute;n</h4>
                    </div>
                    <div style="width: 980px" class="col-lg-6 text-right">
                        <select class="form-control input-lg" id="account-cicle" (change)="calcularFecha()">
                                <option value="0" #mes >Mes Actual</option>
                                <option value="1" #mes>Mes Anterior</option> 
              </select>
                    </div>
                </div>
                <div class="row padding-top-15">
                    <div class="col-lg-12">
                        <!-- <table class="table table-striped accounts-table">
          <thead>
            
          </thead>
          <tbody>
            <tr ng-repeat="t in accountDetail.movimientos  | startFrom:currentPage*pageSize | orderBy:'-numeroMovimientos' | limitTo:pageSize ">
              <td>{{t.fechaOperacion | date:'dd/MM/yyyy'}}</td>
              <td>{{t.observaciones}}</td>
              <td>{{t.importe | currency:"$"}}</td>
            </tr>
          </tbody>
        </table> -->



                        <div id="paginador">
                            <table class="table table-striped accounts-table" id="tblDatos">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Descripci&oacute;n</th>
                                    <th>Importe</th>
                                </tr>
                                <tr *ngFor="let movimiento of movimientosCue; let i = index">
                                    <td *ngIf="(i>=NumeroDatoInicial) && (i < NumeroDatoFinal)">{{movimiento.FechaOperacion}}</td>
                                    <td *ngIf="(i>=NumeroDatoInicial) && (i < NumeroDatoFinal)">{{movimiento.DescripVariableUno}}</td>
                                    <td *ngIf="(i>=NumeroDatoInicial) && (i < NumeroDatoFinal)">{{movimiento.ImporteAbono}}</td>
                                </tr>

                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item boton"><a class="page-link" ng-click='setPage(page.no)' (click)="PreviousPag(NumeroDatoInicial)" #algo>Anterior</a></li>
                                        <li class="page-item" *ngFor="let pagina of arrayNumPag"><a class="page-link" #paginaNum (click)="Cambiarpagina(paginaNum)">{{pagina + 1}}</a></li>
                                        <li class="page-item"><a class="page-link" (click)="NextPag(NumeroDatoFinal)" #algo1>Siguiente</a></li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                        <div class="row text-center accounts-pager" id="navPag">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 panel-account-detail-mca margin-panelAccount">
                <h4 class="color-letra">Tu cuenta</h4>
                <ul class="list-group">
                    <li class="list-group-item list-group-item1">
                        <strong>Titular:</strong>
                        <samp id="txtTitular"></samp>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <strong>Cuenta:</strong>
                        <samp id="txtCuenta">{{alias.NumeroCuenta}}</samp>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <strong>CLABE:</strong>
                        <samp id="txtClabe">{{alias.ClabeCuenta}}</samp>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <strong>Saldo al dia:</strong>
                        <samp id="txtSaldoDia">{{alias.SaldoDia}}</samp>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <strong>Saldo disponible:</strong>
                        <samp id="txtSaldoDisponible">{{alias.SaldoDisponible}}</samp>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <strong>Saldo retenido:</strong>
                        <samp id="txtSaldoRetenido">{{alias.SaldoRetenido}}</samp>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <strong>Saldo mes anterior:</strong>
                        <samp id="txtSaldoAnterior">{{alias.SaldoMesAnterior}}</samp>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div style="margin:30px 0px 0px 0px;" class="row">
    <div class="col-sm-11"></div>
    <div style=" padding: 0px;" class="col-sm-1">
        <button class="btn btn-danger  btn-lg letranegrita">
    Algo
  </button>
    </div>
</div>