<div ng-cloak class="padding-barToTittle">
    <h2 class="text-center deleteMargin-h2 color-letra">Tu pago ha sido enviado</h2>
</div>

<fieldset class="padding-TittleToFieldset padding-fieldset-general">
    <div class="well sumando-well-white">
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Fecha de Operaci&oacute;n:</strong>
            </div>
            <div class="col-lg-6">
                <label>{{ res.FechaOperacion | date: 'dd-MM-yyyy' }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Hora de Operaci&oacute;n:</strong>
            </div>
            <div class="col-lg-6">
                <label>{{ res.HoraOperacion }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>N&uacute;mero de Sucursal:</strong>
            </div>
            <div class="col-lg-6">
                <label>{{ res.NumeroSucursal }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Cuenta Origen:</strong>
            </div>
            <div class="col-lg-6">
                <label>{{ cuentaClienteTdd }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Cuenta Destino:</strong>
            </div>
            <div class="col-lg-6">
                <label>{{ ctaAbono }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Importe:</strong>
            </div>
            <div class="col-lg-6">
                <label>{{ res.ImporteTotTraspaso | currency }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Importe comisi&oacute;n:</strong>
            </div>
            <div class="col-lg-6">
                <label>{{ res.ImporteIva | currency }}</label>
            </div>
        </div>

    </div>
    <div style="margin:30px 0px 0px 0px;" class="row">
        <div style=" padding: 0px;" class="col-sm-12">
            <button class="btn btn-danger pull-right btn-lg" [routerLink]="['/menuTdd']">
    Terminar
  </button>
        </div>
    </div>

</fieldset>