<nav id="navBar" class="nav-img-banorte navbar navbar-expand-lg ">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

        </ul>
        <ul class="nav navbar-nav navbar-right">
           <!-- <li><a onClick="currentPage.loadMenu();"  id="menud"> -->
          <li>
              <a>
                 <span style="font-size: 28px; margin-right: 13px; color: white;">CR: 
                    </span>
                  <span id="terminal" style="font-size: 28px; margin-right: 13px; color: white;"> 
                    </span>
              </a>
          </li>
          

        </ul>

    </div>
</nav>
