<nav class="navbar navbar-fixed-bottom" role="navigation" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <ul ng-if="path == '/home'">
        <li>
          <a href="#modalAvisodePrivacidad" data-target="#modalAvisodePrivacidad" data-toggle="modal">
                        Aviso de privacidad
                    </a>
        </li>
        <!--<li>
                  <a ui-sref="public.home">
                    Ayuda
                  </a>

                </li> -->

        <li>
          <!-- https://15.128.25.221:8443/encuesta/index.html?idCamp=1 -->
          <a ng-click="showEncuestaModal()">
                        Contestar Encuesta
                    </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
