<div class="container">
  <h2>Consultar estado de cuenta</h2>
  <h4>Seleccionar los per&iacute;odos que deseas consultar. M&aacute;ximo 3 meses.</h4>

  <div class="row">
    <div class="col-md-4" ng-repeat="item in monthsResume">
      <div class="kiosk-cec-carousel-item">
        <span class="icon">9</span>
        <br/>
        <br/>
        <span class="title">{{ item.consultaSaldosBXI.saldoMesAnterior | currency }}</span>
      </div>
    </div>
  </div>
</div>

<div class="kiosk-actions">
  <div class="row">
    <a class="btn btn-kiosk btn-kiosk-back pull-left" ng-click="onCancelarClick()">REGRESAR</a>
    <a class="btn btn-kiosk btn-kiosk-next pull-right" ng-click="onSiguienteClick();" ng-disabled="itemsSelected.length == 0">ENVIAR ESTADOS DE CUENTA POR EMAIL</a>
  </div>

</div>