<div class="container">
  <h2>Consultar estado de cuenta</h2>
  <h4>Seleccionar los per&iacute;odos que deseas consultar. M&aacute;ximo 3 meses.</h4>

  <div id="carousel-example-generic" class="carousel slide kiosk-cec-carousel" data-ride="carousel" data-wrap="false">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item" ng-if="documentosDisponibles.length > 6">
        <div class="row">
          <div class="col-md-4 float-right" ng-repeat="item in documentosDisponibles | limitTo:6:6">
            <div class="kiosk-cec-carousel-item" ng-click="onPeriodoItemClick(item, $event)">
              <span class="icon">{{ item.Fecha | date:'MM' }}</span>
              <span class="title">{{ item.Fecha | etiquetaMes }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="item active">
        <div class="row">
          <div class="col-md-4 float-right" ng-repeat="item in documentosDisponibles | limitTo:6:0">
            <div class="kiosk-cec-carousel-item" ng-click="onPeriodoItemClick(item, $event)">
              <span class="icon">{{ item.Fecha | date:'MM' }}</span>
              <span class="title">{{ item.Fecha | etiquetaMes }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Controls -->


    <span class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </span>

    <span class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </span>

  </div>


</div>

<div class="kiosk-actions">
  <div class="row">
    <a class="btn btn-kiosk btn-kiosk-next pull-right" ng-click="viewImprimirClick();" ng-disabled="itemsSelected.length == 0">IMPRIMIR</a>
  </div>
  <div class="row ">
    <a class="btn btn-kiosk btn-kiosk-back pull-left" ng-click="onLogout()">CANCELAR</a>
    <a class="btn btn-kiosk btn-kiosk-next pull-right" ng-click="viewEnviarCorreoClick();" ng-disabled="itemsSelected.length == 0">ENVIAR POR CORREO</a>
  </div>
</div>