<h2 class="text-center">Transferencia banorte terceros</h2>
<form novalidate name="currentForm">
  <fieldset>
    <div class="row sumando-form-group">
      <div class="col-sm-1 sumando-bg-red group-name">
        Desde
      </div>
      <div class="col-sm-11 group-controls padding-left-0 padding-right-0">
        <div class="form-group" ng-class="{'has-error':  currentForm.originAccount.$invalid && currentForm.originAccount.$dirty,
          'has-success': currentForm.originAccount.$valid}">
          <input type="hidden" name="originAccount" ng-model="command.originAccount" required/>

          <div class="dropdown sumando-dropdown-account">
            <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <table ng-if="command.originAccount" width="100%">
                <tr>
                  <td align="left" width="45%">
                    <strong>{{ command.originAccount.accal }}</strong>
                  </td>
                  <td align="left" width="45%">
                    <strong>{{ command.originAccount.accab | currency }}
                    </strong>
                  </td>
                  <td rowspan="2" width="10%" class="dropdown-caret">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                  </td>
                </tr>
                <tr>
                  <td align="left">Cuenta {{ command.originAccount.acccn | accountmask }}</td>
                  <td align="left">Saldo Disponible</td>
                </tr>
              </table>
              <table ng-if="!command.originAccount" width="100%">
                <tr>
                  <td align="left" rowspan="2">Seleccione una cuenta de origen...</td>
                  <td width="10%" rowspan="2" class="dropdown-caret">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                  </td>
                </tr>
              </table>
            </button>
            <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
              <li ng-repeat="account in ownAccounts" ng-click="setSelectedOriginAccount(account)">
                <a href="javascript:void(0)">{{ account.accal }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row sumando-form-group">
      <div class="col-sm-1 sumando-bg-red group-name">
        Para
      </div>
      <div class="col-sm-11 group-controls padding-left-0 padding-right-0 ">
        <div class="form-group" ng-class="{
          'has-error':  currentForm.destinyAccount.$invalid && currentForm.destinyAccount.$dirty,
          'has-success': currentForm.destinyAccount.$valid}">
          <input type="hidden" name="destinyAccount" ng-model="command.destinyAccount" required/>

          <div class="dropdown sumando-dropdown-account">
            <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <table ng-if="command.destinyAccount" width="100%">
                <tr>
                  <td>{{ command.destinyAccount.oali }}</td>
                  <td width="10%" rowspan="2" class="dropdown-caret">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                  </td>
                </tr>
              </table>
              <table ng-if="!command.destinyAccount" width="100%">
                <tr>
                  <td align="left" rowspan="2">Seleccione una cuenta de destino...</td>
                  <td width="10%" rowspan="2" class="dropdown-caret">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                  </td>
                </tr>
              </table>
            </button>
            <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
              <li ng-repeat="account in destinyAccounts" ng-click="setSelectedDestinyAccount(account)">
                <a href="javascript:void(0)">{{ account.oali }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-11 col-lg-offset-1 sumando-well-white">
        <div class="form-group" ng-class="{
          'has-error':  currentForm.amount.$invalid && currentForm.amount.$dirty,
          'has-success': currentForm.amount.$valid}">
          <label for="amount" class="col-sm-2 control-label">Importe</label>

          <div class="col-sm-10">
            <input name="amount" id="amount" type="text" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" currency required class="form-control amount input-lg" ng-model="command.amount" />
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group" ng-class="{
          'has-error':  currentForm.description.$invalid && currentForm.description.$dirty,
          'has-success': currentForm.description.$valid}">
          <label class="col-sm-2 control-label">Descripci&oacute;n</label>

          <div class="col-sm-10">
            <input name="description" type="text" class="form-control amount input-lg" ng-model="command.description" maxlength="60" ng-pattern="/^[A-Za-z0-9 ]{2,60}$/" required />
          </div>
        </div>
      </div>
    </div>
    <div class="row actions-form-group text-right">
      <button class="btn btn-lg" ui-sref="bxi.menu2">Regresar</button>
      <button class="btn btn-primary btn-lg" ng-click="onSiguiente01();" ng-disabled="currentForm.$invalid">
        Continuar
      </button>
    </div>

  </fieldset>
</form>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form novalidate name="currentForm1" method="post" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Confirmar pago</h4>
        </div>
        <div class="modal-body">

          <ul class="list-group">
            <li class="list-group-item">
              <label>Cuenta Origen:</label>
              {{ command.originAccount.accal }}
            </li>
            <li class="list-group-item">
              <label>Cuenta Destino:</label>
              {{ command.destinyAccount.accal }}
            </li>
            <li class="list-group-item">
              <label>Importe:</label>
              {{ command.amount | currency }}
            </li>
            <li class="list-group-item">
              <label>Descripcion:</label>
              {{ command.description }}
            </li>
          </ul>
          <div class="form-group" ng-show="account.uty=='A' && account.ist">
            <label>Numero de seguridad</label>
            <input type="text" class="form-control input-lg" ng-model="challenge.rcg" readonly>
          </div>
          <div class="form-group" ng-class="{
            'has-error':  currentForm1.password.$invalid && currentForm1.password.$dirty,
            'has-success': currentForm1.password.$valid}">
            <label ng-show="account.uty=='A' && account.ist">Captura tu contraseña y código dinámico Token
            </label>
            <label ng-show="account.uty=='A' && !account.ist">Captura tu contraseña y token</label>
            <label ng-show="account.uty=='B' && !account.ist">Captura tu contraseña</label>
            <input name="password" type="password" class="form-control input-lg" ng-model="command.password" ng-required="true">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-lg " ng-click="onProcessTransfer();" ng-disabled="currentForm1.$invalid">
            Confirmar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
