<form novalidate [formGroup]="myForm">
    <div class="padding-barToTittle">
        <h2 class="text-center deleteMargin-h2 color-letra">Actualizar datos de contacto</h2>
    </div>
    <fieldset class="padding-TittleToFieldset padding-fieldset-general">
        <div align="center" class="well sumando-well-white col-sm-12">
            <div class="row">
                <div class="col-sm-5 col-md-5" align="right">
                    <strong>Correo electr&oacute;nico</strong>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input #correoElectronico type="text" class="tamimput form-control amount input-lg" (focus)="focusTeclado(correoElectronico)" formControlName="fcCorreo" [matKeyboard]="" placeholder="Correo electr&oacute;nico" readonly/>
                    <div *ngIf="IsControlCorreo">
                        <div *ngIf="(myForm.get('fcCorreo').errors  && myForm.get('fcCorreo').touched) ">
                            <p *ngIf="myForm.get('fcCorreo').hasError('required')" class="alert alert-danger">
                                Dato obligatorio, favor de capturar.
                            </p>
                            <p *ngIf="myForm.get('fcCorreo').hasError('pattern') && correoElectronico.value !== '' " class="alert alert-danger">
                                Los datos proporcionados son incorrectos, favor de verificar.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1" align="left">
                    <a> <img src="./assets/img/edit.png" type="image/png" width="30" height="30" (click)="editarCorreo(correoElectronico)"> </a>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-5 col-md-5" align="right">
                    <strong>N&uacute;mero de celular</strong>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input #numeroCelular type="text" id="iNumeroCelular" class="tamimput form-control amount input-lg" (focus)="focusTeclado(numeroCelular)" formControlName="fcCelular" [matKeyboard]="'num'" placeholder="Número de celular" readonly/>

                    <div *ngIf="myForm.get('fcCelular').errors  && myForm.get('fcCelular').touched">
                        <p *ngIf="myForm.get('fcCelular').hasError('required')" class="alert alert-danger">
                            Dato obligatorio, favor de capturar.
                        </p>

                        <p *ngIf="(!myForm.get('fcCelular').hasError('pattern') && !myForm.get('fcCelular').hasError('maxlength') && myForm.get('fcCelular').hasError('minlength')) || (!myForm.get('fcCelular').hasError('pattern') && myForm.get('fcCelular').hasError('maxlength') && !myForm.get('fcCelular').hasError('minlength'))"
                            class="alert alert-danger">
                            El n&uacute;mero celular debe ser de 10 d&iacute;gitos.
                        </p>

                        <p *ngIf="myForm.get('fcCelular').hasError('pattern')" class="alert alert-danger">
                            Los datos proporcionados son incorrectos, favor de verificar.
                        </p>

                    </div>

                </div>
                <div class="col-sm-1 col-md-1" align="left">
                    <a> <img src="./assets/img/edit.png" type="image/png" width="30" height="30" (click)='editarNumCel(numeroCelular)'> </a>
                </div>
            </div>
        </div>


    </fieldset>



    <div style="margin:30px 0px 0px 0px;" class="row">
        <div class="col-lg-10 "></div>
        <div style=" padding: 0px;" class="col-lg-2 pull-right">
            <button class="btn  btn-lg letranegrita" (click)="irMenuTDC()">
                                        Regresar
                                    </button>
            <button id="guardar" class="btn color-botones btn-lg letranegrita" type="button" [disabled]="myForm.invalid || !validar" (click)="mostrarConfirmacion(correoElectronico.value,numeroCelular.value)">
                                Guardar
                            </button>
        </div>
    </div>

</form>


<div id="actualizarCorreo" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-error" role="document">
        <div class="modal-content">
            <div class="modal-body" style="margin-left: 25px; margin-right: 25px;">
                <h4 style="color: #B01657">Confirmar cambio</h4>
                <div style="display:none" id="numCel">
                    <div class="row">
                        <div class="col-lg 6">
                            <label>N&uacute;mero celular:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{celActualizado}}</label>
                        </div>
                    </div>
                </div>
                <div style="display:none" id="correo">
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Correo electr&oacute;nico:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{correoActualizado}}</label>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer text-center">
                <button id="cancelar2" type="button" class="btn" data-dismiss="modal" onclick="currentPage.loadMenu()">Cancelar</button>
                <button id="Confirmar2" type="button" class="btn color-botones" data-dismiss="modal" (click)="iniciaPinpad()">Confirmar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div id="datosIguales" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-dialog-error">
        <div class="modal-content">
            <div class="modal-body" style="margin-left: 25px; margin-right: 25px;">
                <h4 style="color: #B01657">Aviso</h4>
                <p id="mnsErrorModal">No hay cambios en datos contacto, no es posible continuar</p>
            </div>
            <div class="modal-footer text-center">
                <button id="salir" type="button" class="btn color-botones" data-dismiss="modal" onclick="currentPage.loadMenu(correoElectronico.value,numeroCelular.value)">Aceptar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- Modal -->
<div class="modal fade" id="ModalTDCLogin" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ModalTDCLogin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px;">
        <div class="modal-content shadowModal">
            <div class="modal-header" align="center" style="align-self: center;">
                <!--<button type="button" class="close bxi-red" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/close-32-red.png">
        </button>-->

                <h3 class="modal-title" id="capturaInicio" align="center" style="display: block; color: #B01657;  font-weight: 700;">
                    Inicie sesión con tu tarjeta
                    <br> Banorte para continuar
                </h3>
                <h3 class="modal-title" id="caputuraSesion" align="center" style="display: none; color: #B01657;  font-weight: 700;">
                    Captura nuevamente <br> tu NIP para continuar
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7" style="color: #080808;">

                        <h4 class="instruccionesMargin"></h4>

                        <div>

                            <br>
                            <h3>De clic en <b>iniciar</b> y siga las instrucciones de la <b>pantalla del lector de tarjeta.</b> Después de capturar su NIP presione ENTER</h3>

                        </div>

                    </div>
                    <div class="col-lg-5" style="margin-left: -20px;">
                        <div>
                            <img src="assets/img/pin_pad.jpg" class="align-center" alt="Smiley face" height="100%" width="100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="color-botones btn btn-lg " data-dismiss="modal" style="background: #F1F1F1 !important; color: black;">Cancelar</button>
                <button type="button" class="color-botones btn btn-lg " style="width: 106px;" (click)="validartarjeta()">Iniciar</button>
            </div>
            <!--
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-primary" style="background-color: #eb012a;
      border-color: #eb012a;">Continuar</button>
  </div>
-->
        </div>
    </div>
</div>