<div class="container" style="max-width: 100%; margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="./assets/img/banner_01.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="./assets/img/banner_02.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="./assets/img/banner_recarga.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon arrowCarousel" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon arrowCarousel" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<br>

<div class="row" style="margin-top: 40px; width: 1920px; height: 310px; margin-right: 0px;margin-left: 0px;">
    <div class="col-sm-4 text-center animated fadeIn fast" (click)="BxiLogin()">
        <a data-toggle="modal">
            <img class="styleMenuButton sizeMenuBtn" src="./assets/img/btn_acc_bxi.png">
        </a>
    </div>
    <div class="col-sm-4  text-center animated fadeIn fast" onclick="handlerCallPinpad()" (click)="onPlasticLogin()">
        <!-- <a ng-click="onPlasticLogin()" class="home-menu-item"> -->
        <!-- <a data-toggle="modal" data-target="#ModalTDDLogin" class="">
            <a onClick="pantallaInicio()" class="home-menu-item"> -->
        <a data-toggle="modal" class="">
            <img class="styleMenuButton sizeMenuBtn" src="./assets/img/btn_acc_tar.png">
        </a>
        <!-- </a> -->
    </div>
    <div class="col-sm-4  text-center animated fadeIn fast">
        <a ng-click="loadEncuesta()" class="home-menu-item">
            <!-- <a class="home-menu-item" ng-click=""> -->
            <img class="styleMenuButton sizeMenuBtn" src="./assets/img/btn_acc_eva.png">
        </a>
    </div>


</div>

<div class="row" style="width: 1920px; margin-top: 20px; margin-right: 0px;margin-left: 0px;">
    <div class="col-sm-4 text-center animated fadeIn fast" (click)="BxiLogin()">
        <a>
            <h2>Iniciar sesión de <br> banca por internet</h2>
        </a>
    </div>
    <div class="col-sm-4  text-center animated fadeIn fast" (click)="onPlasticLogin()">
        <a>
            <h2>Iniciar con tarjeta <br> de debito o crédito</h2>
        </a>
    </div>
    <div class="col-sm-4  text-center animated fadeIn fast">
        <a>
            <h2>Evaluar</h2>
        </a>
    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="ModalBXILogin" tabindex="-1" role="dialog" aria-labelledby="ModalBXILogin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadowModal">
            <div class="modal-header">


                <h4 class="modal-title" style="margin-left: auto;
                  margin-right: auto; color: #eb012a; font-weight: 700;">
                    Banca en línea
                </h4>
            </div>

            <div class="modal-body" style="padding: 2rem;">


                <app-login-bxi></app-login-bxi>



                <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" style="background-color: #eb012a;
                border-color: #eb012a;">Continuar</button>
            </div>
          -->
            </div>
        </div>
    </div>
</div>
