<div ng-cloak>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-md-offset-4">
      <form name="currentForm" novalidate>
        <div class="form-group">
          <label>Cuenta Origen</label>
          <select class="form-control" ng-model="command.originAccount" ng-options="a.accal for a in ownAccounts">
            <option value="">Seleccione una cuenta</option>
          </select>
        </div>

        <div class="form-group">
          <label>Rango de cheques</label>
          <select class="form-control" ng-model="command.checkingRange" ng-options="c for c in checkingRange" ng-change="updateAmounts(command.ccDestinyAccount)">
            <option value="">Seleccione un rango</option>
          </select>
        </div>

        <div class="form-group" ng-if="amounts">
          <label>Cheque inicial</label>
          <input type="number" currency class="form-control amount" ng-model="command.inick" />
        </div>

        <div class="form-group" ng-if="amounts">
          <label>Cheque final</label>
          <input type="number" currency class="form-control amount" ng-model="command.finck" />
        </div>

        <button type="submit" class="btn btn-primary pull-right" ui-sref="client.services.checking.verify">
          Confirmar
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </button>
        <button type="submit" class="btn pull-left" ui-sref="client.services.checking">
          Regresar
        </button>
      </form>
    </div>

  </div>

</div>
