<div id="contenedorPrincipal" align="center">
    <div class="row menu-mca-container">

        <div class="row menu-mca-grid" style="width: 100%;">
            <!--<div align="center" style="width: 100%; margin-top: 20px;">
                <h2 class="text-center">Operaciones</h2>
                <label id="sessionCuenta">----</label>
            </div>-->


            <div id="operacionesFrecuentes" class="" style="display: block; width: 100%;">
                <div>
                    <h2 class=" text-center " style="margin-top: 220px; margin-bottom: 50px;">Operaciones frecuentes</h2>

                </div>
                <div class="row ">
                    <div class="col-md-2 col-sm-2 col-xl-2 " style="margin-left: 120px;">
                        <a>
                            <img src="./assets/img/m_tran_spei.png " width="200px " draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a id="loadPage2Button ">
                            <img src="./assets/img/m_tran_ter.png " width="200px " draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            <img src="./assets/img/m_tae.png " width="200px " draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            <img src="./assets/img/m_tdc_ter.png " width="200px " draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            <img src="./assets/img/m_tdc_ter.png " width="200px " draggable="false " />
                        </a>
                    </div>
                </div>


                <div class="row ">
                    <div class="col-md-2 col-sm-2 col-xl-2 " style="margin-left: 120px;">
                        <a>
                            Saldos y Movimientos
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            Impresion de EDC
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            Compra de tiempo de aire
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            Transferencias SPEI
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            Tranferencias cuentas banorte
                        </a>
                    </div>
                </div>

            </div>


            <div id="masOpciones" class="" style="display: none; width: 100%;">
                <div class="row " style="margin-top: 220px; margin-bottom: 50px;">
                    <div class="col-md-6 col-sm-6 col-xl-6 ">
                        <h2>Pagos</h2>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xl-6 ">
                        <h2>Configuracion de la cuenta</h2>
                    </div>
                </div>
                <div class="row ">

                    <div class="col-md-2 col-sm-2 col-xl-2 " style="margin-left: 120px;">
                        <a>
                            <img src="./assets/img/m_tae.png " class="sizeMenuButtons" width="200px " draggable="false " />
                        </a>

                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a id="loadPage2Button ">
                            <img src="./assets/img/m_tran_ter.png " class="sizeMenuButtons" width="200px " draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-1 ">

                    </div>
                    <div id="espacioSPEI" class="col-md-2 col-sm-2 col-xl-2 ">
                        <!--<div id="espacioSPEI" class="col-md-2 col-sm-2 col-xl-2 espacioBotones">-->
                        <a>
                            <img src="./assets/img/m_tran_spei.png " class="sizeMenuButtons" width="200px " draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            <img src="./assets/img/m_tdc_ter.png " class="sizeMenuButtons" width="200px " draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            <img src="./assets/img/m_tdc_ter.png " class="sizeMenuButtons" width="200px " draggable="false " />
                        </a>
                    </div>

                </div>

                <div class="row ">

                    <div class="col-md-2 col-sm-2 col-xl-2 " style="margin-left: 120px;">
                        <a>
                            Pago de servicios
                        </a>

                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                             Pago de tarjetas de credito
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-1 ">

                    </div>
                    <div id="espacioTextSPEI" class="col-md-2 col-sm-2 col-xl-2 ">
                        <!--<div id="espacioTextSPEI" class="col-md-2 col-sm-2 col-xl-2 espacioBotones">-->
                        <a>
                            Mantenimiento de beneficiarios
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            Actualizar datos de contacto
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            Activar alertas Banorte
                        </a>
                    </div>

                </div>

            </div>



            <br/>






        </div>
    </div>
</div>


<div id="opciones" class="row " style="display: block; float: right; margin-right: 140px; margin-top: 120px;">
    <div class="col-md-3 col-sm-3 col-xl-12">
        <a>
            <img (click)="moreOptions()" src="./assets/img/m_tdc_ter.png " width="170px " draggable="false " />
        </a>
    </div>
    <br>
    <div align="center">
        Mas operaciones
    </div>
</div>

<div id="regresar" class="row " style="display: none; float: right; margin-right: 140px; margin-top: 120px;">
    <div class="col-md-3 col-sm-3 col-xl-12">
        <a>
            <img (click)="regresar()" src="./assets/img/m_tran_spei.png " width="170px " draggable="false " />
        </a>
    </div>
    <br>
    <div align="center">
        Regresar
    </div>
</div>