<div id="contenedorPrincipal" align="center">
    <div class="row menu-bxi-container">

        <div class="row menu-bxi-grid" style="width: 100%;">
            <!--<div align="center" style="width: 100%; margin-top: 20px;">
                <h2 class="text-center">Operaciones</h2>
                <label id="sessionCuenta">----</label>
            </div>-->


            <div id="operacionesFrecuentes" class="" style="display: block; width: 100%;">
                <div>
                    <h1 class=" text-center " style="margin-top: 220px; margin-bottom: 50px;color: rgb(176, 22, 87);">Operaciones frecuentes</h1>

                </div>
                <div class="row ">
                    <div class="col-md-2 col-sm-2 col-xl-2 " style="margin-left: 120px;">
                        <a>
                            <img (click)="comenzarOperacion('saldoBXI')" src="./assets/img/4_Saldos-y-movimientos.png " width="200px " class="styleMenuButton" draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a id="loadPage2Button ">
                            <img (click)="comenzarOperacion('impresionEDC')" src="./assets/img/9_Impresión-de-EDC.png " (click)="comenzarOperacion()" width="200px " class="styleMenuButton" draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            <img (click)="comenzarOperacion('compraTA')" src="./assets/img/5_Compra-de-tiempo-aire.png " width="200px " class="styleMenuButton" draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            <img (click)="comenzarOperacion('trnasfSPEI')" src="./assets/img/6_Transferencias-SPEI.png " width="200px " class="styleMenuButton" draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            <img (click)="comenzarOperacion('transferBanorte')" src="./assets/img/7_Transferencias-cuentas-Banorte.png " width="200px " class="styleMenuButton" draggable="false " />
                        </a>
                    </div>
                </div>


                <div class="row " style="margin-top: 40px;">
                    <div class="col-md-2 col-sm-2 col-xl-2 " style="margin-left: 120px;" (click)="comenzarOperacion('saldoBXI')">
                        <a>
                            <h3>Saldos y Movimientos</h3>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 " (click)="comenzarOperacion('impresionEDC')">
                        <a>
                            <h3>Impresión de EDC</h3>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 " (click)="comenzarOperacion('compraTA')">
                        <a>
                            <h3>Comprar tiempo aire</h3>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 " (click)="comenzarOperacion('trnasfSPEI')">
                        <a>
                            <h3>Transferencias SPEI</h3>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 " (click)="comenzarOperacion('transferBanorte')">
                        <a>
                            <h3>Transferencias cuentas Banorte</h3>
                        </a>
                    </div>
                </div>

            </div>


            <div id="masOpciones" class="" style="display: none; width: 100%;">
                <div class="row " style="margin-top: 220px; margin-bottom: 50px;color: rgb(176, 22, 87);">
                    <div class="col-md-6 col-sm-6 col-xl-6 ">
                        <h1>Pagos</h1>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xl-6 ">
                        <h1>Configuración de la cuenta</h1>
                    </div>
                </div>
                <div class="row ">

                    <div class="col-md-2 col-sm-2 col-xl-2 " style="margin-left: 130px;">
                        <a>
                            <img src="./assets/img/10_Pago-de-servicios.png " (click)="comenzarOperacion('pagoserv')" class="sizeMenuButtons styleMenuButton" width="200px " draggable="false " />
                        </a>

                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a id="loadPage2Button ">
                            <img src="./assets/img/11_Pago-de-tarjetas-de-crédito.png " class="sizeMenuButtons styleMenuButton" (click)="comenzarOperacion('pagotar')" width="200px " draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">

                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            <img src="./assets/img/13_Actualizar-datos-de-contacto.png " (click)="comenzarOperacion('actualizaDatos')" class="sizeMenuButtons styleMenuButton" width="200px " draggable="false " />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">
                        <a>
                            <img src="./assets/img/14_Activar-alertas-Banorte.png " class="sizeMenuButtons styleMenuButton" (click)="comenzarOperacion('activaAlertas')" width="200px " draggable="false " />
                        </a>
                    </div>

                </div>

                <div class="row " style="margin-top: 40px;">

                    <div class="col-md-2 col-sm-2 col-xl-2 " style="margin-left: 130px;" (click)="comenzarOperacion('pagoserv')">
                        <a>
                            <h3>Pago de servicios</h3>
                        </a>

                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 " (click)="comenzarOperacion('pagotar')">
                        <a>
                            <h3>Pago de tarjetas de cr&eacute;dito</h3>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 ">

                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 " (click)="comenzarOperacion('actualizaDatos')">
                        <a>
                            <h3>Actualizar datos de contacto</h3>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2 " (click)="comenzarOperacion('activaAlertas')">
                        <a>
                            <h3>Activar alertas Banorte</h3>
                        </a>
                    </div>
                </div>

            </div>



            <br/>






        </div>
    </div>
</div>


<div id="opciones" class="row " style="display: block; float: right; margin-right: 140px; margin-top: 120px;">
    <div class="col-md-3 col-sm-3 col-xl-12">
        <a>
            <img (click)="moreOptions()" src="./assets/img/8_Más-operaciones.png " class="styleMenuButton" width="170px " draggable="false " />
        </a>
    </div>
    <br>
    <div align="center">
        <h3>Más operaciones</h3>
    </div>
</div>

<div id="regresar" class="row " style="display: none; float: right; margin-right: 140px; margin-top: 120px;">
    <div class="col-md-3 col-sm-3 col-xl-12">
        <a>
            <img (click)="regresar()" src="./assets/img/15_Regresar.png " class="styleMenuButton" width="170px " draggable="false " />
        </a>
    </div>
    <br>
    <div align="center">
        <h3>Regresar</h3>
    </div>
</div>

<!--MODAL CAMPAÑA-->
<div class="modal fade" id="campaniaModal" tabindex="-1" role="dialog" aria-labelledby="ModalTDDLogin" aria-hidden="true" data-backdrop="static">
    <div id="divLargo" class="modal-dialog modal-dialog-centered" role="document" style="align-items: normal">
        <div id="divAltura" class="modal-content shadowModal">
            <!-- class="button b-close"  -->
            <span class="btn btn-lg pull-right" (click)="send('cerrar')" style="position: absolute; top: 5px; right: 5px; color: white"><b>X</b></span>
            <iframe id="frameCampania" #rIframe></iframe>
        </div>
    </div>
</div>
