<form novalidate [formGroup]="myForm"  >

    <!-- Primera parrte del modal captura usr -->
    <div id="view_usr" style="display: block;">

        <h4 style="color: #eb012a;">Iniciar sesi&oacute;n</h4>

        <div class="form-group">

            <label style="font-weight: 700;">Captura tu usuario</label>
            <input type="password"   class="form-control input-lg " #usuarioBXI formControlName="fcUsuario" autocomplete="off" [matKeyboard]="" />
            <div *ngIf="myForm.get('fcUsuario').errors  && myForm.get('fcUsuario').touched" class="alert alert-danger">
                    <p *ngIf="myForm.get('fcUsuario').hasError('required')">
                            Dato obligatorio, favor de capturar.
                    </p>
            </div>
        </div>
        <!-- <button [routerLink]="['/menuBXI']" type="button" class="btn btn-primary btn-block btn-lg" style="border: 0; border-color: #eb012a; background-color: #eb0029;" id="botonUsr"> -->
        <button type="button" (click)="validaUsuario(usuarioBXI.value)"  class="btn btn-primary btn-block btn-lg"
         style="border: 0; border-color: #eb012a; background-color: #eb0029;" [disabled]="myForm.get('fcUsuario').invalid">
                                Continuar
                            </button>
        <br/>


    </div>
    <div id="viewGeneralAutentica"  style="display:block">
        <div class="row">
            <div class="col-lg-12"><label>{{nombreEnmascarado}}</label></div>
        </div>
        <!-- Captura TOKEN CELULAR-->
        <div id="view_pass_token_cel" class="modal-bxi" style="display: none;">
            <h4 style="color: #eb012a;">Acceso con token celular</h4>

            <div class="row">
                <div class="col-lg-3">
                    <div>
                        <img #imagenTokenCel src="{{urlImagen}}" />
                    </div>
                    <div>

                        <span id="mensajeSegTel"></span>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <label>Captura tu contrase&ntilde;a</label>
                        <input type="password" class="form-control input-lg" id="passwordTokenTel" autocomplete="off" [matKeyboard]="">
                    </div>
                    <div class="form-group">
                        <label>Numero de seguridad</label>
                        <input type="text" class="form-control input-lg" id="numSeguridad" readonly>
                    </div>
                    <div class="form-group">
                        <label>Token</label>
                        <input type="password" class="form-control input-lg" id="tokenTel" autocomplete="off" [matKeyboard]="'num'" >
                    </div>

                    <button type="button" class="btn btn-primary btn-block btn-lg" style="border: 0; border-color: #eb012a; background-color: #eb0029;" (click)="autenticaUsuario()">
                              Continuar
                            </button>
                </div>
                <div class="col-lg-3">
                    <img style="width: 120px;" src="./assets/img/cel_token.png" />
                    <br/>
                    <strong align="center">Debes tener tu token activo y sincronizado</strong>
                </div>
            </div>

        </div>

        <!-- Acceso con TOKEN FISICO-->
        <div id="view_pass_token" class="modal-bxi" style="display: none;">
            <h4 style="color: #eb012a;">Acceso con token</h4>

            <div class="row">
                <div class="col-lg-4" style="margin-left: 60px;">
                    <div>
                        <img #imagenTokenFisico src="{{urlImagen}}" />
                    </div>
                    <div>

                        <span id="mensajeSeg"></span>
                    </div>
                </div>
                <div class="col-lg-5">

                    <div class="descripcion">
                        <h5 id="mensajePersonal">Nombre</h5>
                        <p>

                            Si tu imagen es correcta, ingresa tu contraseña para entrar

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="form-group">
                        <label>Captura tu contrase&ntilde;a</label>
                        <input type="password" class="form-control input-lg" id="passwordToken" autocomplete="off" [matKeyboard]="" />
                    </div>
                    <div class="form-group">
                        <label>Token</label>
                        <input type="password" #token class="form-control input-lg" id="token" autocomplete="off" [matKeyboard]="" />
                    </div>


                </div>
                <div class="col-lg-4" style="margin-top: 30px;">
                    <img style="width: 140px;" src="./assets/img/token_fisico.png" />
                    <br/>
                    <strong>Debes tener tu token activo y sincronizado</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <!-- <button type="button" class="btn btn-primary btn-block btn-lg" ng-disabled="currentForm.$invalid" ng-click="onPassClick3()"> -->
                    <button (click)="autenticaUsuario(token.value)"  type="button" class="color-botones btn btn-block btn-lg">
                        Continuar
                      </button>
                </div>
            </div>
        </div>



        <!-- PASSWORD -->
        <div id="view_pass" style="display: none;">
            <div class="row padding-top-100">
                <div class="col-lg-3">
                    <div>
                        <img #imagenTokenPass src="{{urlImagen}}" />
                    </div>
                    <div>

                        <span id="mensajeSegPass"></span>
                    </div>
                </div>
                <div class="col-lg-6">

                    <div class="form-group">
                        <label>Captura tu contrase&ntilde;a</label>
                        <input type="password"  class="form-control input-lg" #claveAcceso formControlName="fcPass"  autocomplete="off" [matKeyboard]="'es'" />
                        <div *ngIf="myForm.get('fcPass').errors  && myForm.get('fcPass').touched" class="alert alert-danger">
                                <p *ngIf="myForm.get('fcPass').hasError('required')">
                                        Dato obligatorio, favor de capturar.
                                </p>
                        </div>
                    </div>
                    <button style="border: 0; border-color: #eb012a; background-color: #eb0029;" type="button" class="btn btn-primary btn-block btn-lg" 
                    (click)="autenticaUsuario(claveAcceso.value)" [disabled]="myForm.get('fcPass').invalid">
                      Continuar
                    </button>
                </div>
            </div>
        </div>
        <div id="NosoyYo" style="display:none">
            <div class="row">
                <div class="col-lg-12"><label><a (click)="modalIdentificaUsuario()">No soy yo.</a></label></div>
            </div>
        </div>
    </div>

</form>
