<div ng-cloak class="padding-barToTittle">
    <h2 class="text-center">Transferencia exitosa</h2>
</div>

<fieldset align="center" class="padding-TittleToFieldset padding-fieldset-general">
    <div class="well sumando-well-white">
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Referencia:</strong>
            </div>
            <div class="col-lg-6">
                <label id="numReferenciaFinish"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Clave rastreo SPEI:</strong>
            </div>
            <div class="col-lg-6">
                <label id="claveRastreoSpeiFinish"> </label>
            </div>
        </div>
        <!-- ------------------------------------------------ -->
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Fecha de operaci&oacute;n:</strong>
            </div>
            <div class="col-lg-6">
                <label id="fechaFinish"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Comisi&oacute;n:</strong>
            </div>
            <div class="col-lg-6">
                <label id="comisionFinish"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Iva:</strong>
            </div>
            <div class="col-lg-6">
                <label id="ImporteIvaFinish"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Cuenta origen:</strong>
            </div>
            <div class="col-lg-6">
                <label id="CuentaOrdenanteWSFinish"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Titular cuenta origen:</strong>
            </div>
            <div class="col-lg-6">
                <label id="NombreOrdenanteWSFinish"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Cuenta Abono:</strong>
            </div>
            <div class="col-lg-6">
                <label id="CuentaClabeBeneficiaWSFinish"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Titular cuenta abono:</strong>
            </div>
            <div class="col-lg-6">
                <label id="NombreBeneficarioWSFinish"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Importe:</strong>
            </div>
            <div class="col-lg-6">
                <label id="ImporteOperacionWSFinish"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Importe total:</strong>
            </div>
            <div class="col-lg-6">
                <label id="ImporteIvaWSFinish"> </label>
            </div>
        </div>
    </div>
    <div style="margin:30px 0px 0px 0px;" class="row">
        <div style=" padding: 0px;" class="col-sm-12">
            <button  id="terminar" class="btn color-botones pull-right btn-lg" onClick="currentPage.loadMenu();">
        Terminar
      </button>
        </div>
    </div>

</fieldset>
