<div ng-cloak class="padding-barToTittle">
    <h2 class="text-center  color-letra">Operaci&oacute;n exitosa</h2>
</div>

<fieldset align="center" class="padding-TittleToFieldset padding-fieldset-general">
    <div class="well sumando-well-white">
        <div class="row">
            <div class="col-lg-12" style="text-align: center">
                <strong>Tu lista de beneficiarios se ha actualizado.</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Fecha de operaci&oacute;n:</strong>
            </div>
            <div class="col-lg-6" align="left">
                <label>{{detalleBeneficiarios.fechaOperacion}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="left: 358px">
                <strong>Cuenta origen:</strong>
            </div>
            <div class="col-lg-6" align="left">
                <label>{{numeroCuentaTitular}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="left: 376px">
                <strong>Hora de Operaci&oacute;n:</strong>
            </div>
            <div class="col-lg-6" align="left">
                <label>{{detalleBeneficiarios.horaOperacion}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="left: 354px">
                <strong>Beneficiarios:</strong>
            </div>
        </div>

    </div>

    <div style="background-color: white; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px">
        <table width="100%" id="tablaMantoBen">
            <tr id="trBeneficiary">
                <th>No. Cliente</th>
                <th>Nombre o Razón Social</th>
                <th>Parentesco</th>
                <th>RFC</th>
                <th>Fecha de Nacimiento</th>
                <th>(%)</th>
            </tr>
            <tr *ngFor="let beneficiario of BEN, let i = index" id="trBeneficiary">
                <td style="text-align: center">{{beneficiario.NumeroCliente}}</td>
                <td style="text-align: center">{{beneficiario.RazonSocial | uppercase}}{{beneficiario.NombreBeneficia | uppercase}} {{beneficiario.ApPaternoBenef | uppercase}} {{beneficiario.ApMaternoBenef | uppercase}}</td>
                <td style="text-align: center">{{beneficiario.Parentesco | uppercase}}</td>
                <td style="text-align: center">{{beneficiario.RegistroFederal | uppercase}}</td>
                <td style="text-align: center">{{beneficiario.NuevaFecha}}</td>
                <td style="text-align: center">{{beneficiario.PorcentajeBenef | uppercase}}</td>
        </table>
    </div>

    <div style="margin:30px 0px 0px 0px;" class="row">
        <div style=" padding: 0px;" class="col-sm-12">
            <button id="terminar" class="color-botones btn btn-lg pull-right" routerLink="/menuTdd">
        Terminar
      </button>
        </div>
    </div>

</fieldset>