<div ng-cloak class="padding-barToTittle">
    <h2 class="text-center color-letra">Transferencias a otros bancos</h2>
</div>

<fieldset class="padding-TittleToFieldset padding-fieldset-general">
    <div class="row sumando-form-group letranegrita">
        <div class="col-sm-1 sumando-bg-red group-name" style="height: 66px;">
            Desde
        </div>
        <div class="col-sm-11 group-controls padding-InFieldset" style="padding-left: 0px; padding-right:  0px;">
            <div class="form-group">
                <div class="sumando-dropdown-account">
                    <table width="100%" class="letranegrita">
                        <tr>
                            <td align="left" width="40%" style="border: 0px">CUENTA ENLACE PERSONAL <strong>
                                                                        </strong>
                            </td>
                            <td align="left" style="border: 0px">
                                <strong>
                                    <label>{{saldoDisponibleClienteTdd | currency}}
                                    </label>
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="border: 0px; font-weight: normal;">Cuenta
                                <label> {{mostrarCuentaMascara}}</label>
                            </td>
                            <td align="left" style="border: 0px; font-weight: normal">Saldo Disponible
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row sumando-form-group letranegrita padding-InFieldset">
        <div class="col-sm-1 sumando-bg-red group-name">
            Tipo
        </div>
        <div class="dropdown sumando-dropdown-account col-sm-11" style="padding-left: 0px; padding-right: 0px;">

            <select class="input-whidth selectModificado" name="tipo" id="tipo" #rTipoTransferencia (change)="seleccionOperacion($event.target.value)" style=" width: 100%; height: 60px; border:0px solid red;">
                       <!-- <img src="./assets/img/bg_selectN.png" align="right" style="width: 3.8%; float: right; position: absolute;     margin-left: 1549px;"> -->
    
                    <option disabled="true" selected>Seleccione transferencia</option>
                   <!-- <option value="1">SPEI</option>-->
                    <option value="1">Rapida</option>
                    <option value="2">TEF</option>                    
                </select>
        </div>

    </div>

    <form [formGroup]="myform" novalidate>
        <div id="divisionInputs"></div>
        <div class="row sumando-form-group letranegrita">
            <div class="col-sm-1 sumando-bg-red group-name">Para</div>


            <div class="col-sm-11 sumando-well-white">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="amount" class="col-sm-2 control-label" style="max-width: 165px;">Banco Destino:</label>
                    </div>
                    <div class="dropdown sumando-dropdown-account col-sm-9">
                        <select class="input-whidth input-lg selectModificado" name="sel1" id="selecBanco" #rSelecBanco (change)="selectBanco($event.target.value)" style="border:0px solid red; background-size: auto; width: 100%">
                            <option disabled="true">Seleccione un banco</option>
                            <option *ngFor="let bancos of listaBancos"  [value]="bancos.IdSecoban">{{bancos.NombreBanco}}</option>                                     
                        </select>
                    </div>
                </div>
                <br/>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="amount" class="col-sm-2 control-label">Clabe:</label>
                    </div>
                    <div class="col-sm-9">
                        <input name="clabe" id="clabe" #rClabe formControlName="numeroClabeF" [matKeyboard]="'num'" type="text" maxlength="18" class="input-whidth form-control amount input-lg" (focus)="tecladoMoverAbajo()" />
                        <div class="alert-danger" *ngIf="myform.get('numeroClabeF').errors && myform.get('numeroClabeF').touched">
                            <p color="danger">Ingrese Clabe</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <br/>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="amount" class="col-sm-2 control-label">Beneficiario:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" name="beneficiario" [matKeyboard]="" id="beneficiario" #rBeneficiario formControlName="nombreBeneficiarioF" maxlength="100" class="form-control amount input-lg text-uppercase" (focus)="tecladoMoverAbajo()" />
                        <div class="alert-danger" *ngIf="myform.get('nombreBeneficiarioF').errors && myform.get('nombreBeneficiarioF').touched">
                            <p color="danger">Ingrese Nombre de Beneficiario</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <br/>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label class="col-sm-2 control-label">Descripci&oacute;n:</label>
                    </div>
                    <div class="col-sm-9">
                        <input id="descripcion" [matKeyboard]="" #rDescripcion name="descripcion" formControlName="descripcionF" type="text" class="input-whidth form-control amount input-lg text-uppercase" maxlength="60" (focus)="tecladoMoverAbajo()" />
                        <div class="alert-danger" *ngIf="myform.get('descripcionF').errors && myform.get('descripcionF').touched">
                            <p color="danger">Ingrese Descripción</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <br/>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="amount" class="col-sm-2 control-label">Importe:</label>
                    </div>
                    <div style="width: 654px;" class="col-sm-4">
                        <input name="importe" [matKeyboard]="'num'" id="importe" #rImporte formControlName="importeF" type="text" maxlength="10" required (blur)="transformAmount(rImporte.value)" class="form-control amount input-lg" (focus)="tecladoMoverArriba()" />
                        <div class="alert-danger">
                            <p color="danger" *ngIf="myform.get('importeF').errors && myform.get('importeF').touched">Ingrese Importe</p>
                        </div>
                    </div>

                    <label class="col-sm-1 control-label">Referencia:</label>

                    <div style="margin-left: -2px; width: 656px;" class="col-sm-4">
                        <input id="referencia" [matKeyboard]="'num'" #rReferencia name="referencia" formControlName="referenciaF" type="text" maxlength="7" class="form-control amount input-lg" (focus)="tecladoMoverArriba()" />
                        <div class="alert-danger">
                            <p color="danger" *ngIf="myform.get('referenciaF').errors && myform.get('referenciaF').touched">Ingrese Referencia</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <br/>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="amount" class="col-sm-5 control-label" style="max-width: 180px;">Correo a Notificar:</label>
                    </div>
                    <div class="col-sm-9">
                        <input name="email" id="email" [matKeyboard]="" #rEmail type="text" maxlength="120" formControlName="correoF" class="input-whidth form-control amount input-lg" (focus)="tecladoMoverArriba()" />
                        <div class="alert-danger" *ngIf="myform.get('correoF').errors && myform.get('correoF').touched">
                            <p color="danger">Ingrese Correo</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label class="col-sm-12 control-label">RFC Emisor</label>
                    </div>
                    <div class="col-sm-9">
                        <input [matKeyboard]="" name="rfcEmisor" id="rfcEmisor" #rRfcEmisor formControlName="rFcEmisorF" type="text" maxlength="13" class="input-whidth form-control amount input-lg text-uppercase" />
                        <div class="alert-danger" *ngIf="myform.get('rFcEmisorF').errors && myform.get('rFcEmisorF').touched">
                            <p color="danger">Formato de RFC Incorrecto</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div> -->
                <div id="someDiv" name="someDiv"></div>
            </div>
        </div>



        <div style="margin:30px 20px 0px 0px; margin-top: 5px" class="row actions-form-group text-right">
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
                <button class="btn btn-lg" routerLink="/menuTdd" style="margin-right: -49px;">Regresar</button>
            </div>
            <!-- <button class="btn btn-primary  btn-lg" ng-click="onSiguiente01();" ng-disabled="currentForm.$invalid"> -->
            <div class="col-sm-1">
                <button id="continuarspei" name="continuarspei" class="btn color-botones btn-lg" [disabled]="myform.invalid || rSelecBanco.value === 'Seleccione un banco' || rSelecBanco.value === ''
                || rTipoTransferencia.value === 'Seleccione transferencia' || rTipoTransferencia.value === ''" (click)="validarSaldo(rClabe.value, rBeneficiario.value, rReferencia.value, rImporte.value, rDescripcion.value,
                    rEmail.value)" style="margin-right: -49px;">
                        Continuar</button>
            </div>
        </div>
    </form>
</fieldset>



<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadowModal" style="height: 410px; width: 550px;">

            <div class="modal-body" style="padding: 2rem;">

                <h4 style="color: #B01657; font-weight: 700;">Confirmar pago</h4>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Cuenta origen:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{numeroCuentaTitular}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Banco Destino:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{nombreBanco | uppercase}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Clabe Destino:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{clabe}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Importe neto:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{importe | currency}}</label>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-lg 6">
                        <label>Comision:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>$0.00</label>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-lg 6">
                        <label>Correo:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{email}}</label>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-lg 6">
                        <label>Importe total:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>${{importe}}</label>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-lg 6">
                        <label>Beneficiario:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{nombreBene | uppercase}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Descripción:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{descripcion | uppercase}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Referencia:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{referencia}}</label>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-lg 6">
                        <label>RFC Emisor:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{rfcEmi | uppercase}}</label>
                    </div>
                </div> -->
                <div class="modal-footer">
                    <button class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                    <button id="continuar" class="color-botones btn btn-lg " onclick="handlerCallPinpad()" (click)="confirmarTransaccion()" data-dismiss="modal">
                                    Confirmar
                                  </button>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// Modal End here-->


<div id="modalErrorMessage" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-error">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    <label id="errorMensaje"></label>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onClick="currentPage.loadMenu();">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- <div class="modal fade" id="modalErrorMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Ocurrio un error</h4>
            </div>
            <div class="modal-body">
      
              <ul class="list-group">
                <li class="list-group-item">
                  <label></label>
                  <label id="errorMensaje"></label>
                </li>
                
             
              </ul>
            </div>
         <div class="modal-footer">
              <button type="button" class="btn btn-lg" data-dismiss="modal">Cerrar</button>
         </div>
              <div class="modal-footer">   <button type="button" class="btn btn-primary btn-lg" onClick="onTransferSPEI()">Confirmar</button>
            </div>
          </div>
      
        </div>
      </div> -->