<div ng-cloak class="padding-barToTittle">
    <h2 class="text-center color-letra">Transferencia SPEI</h2>
</div>

<fieldset class="padding-TittleToFieldset padding-fieldset-general">
    <div class="row sumando-form-group letranegrita">
        <div class="col-sm-1 sumando-bg-red group-name">
            Desde
        </div>
        <div id="contOrigin" class="col-sm-11 group-controls padding-left-0 padding-right-0 sumando-well-white">
            <div class="form-group">
                <input type="hidden" name="originAccount" required/>

                <div class="sumando-dropdown-account">
                    <button style="width: 100% !important;" class=" letranegrita fondoblanco btn btn-default btn-block dropdown-toggle" type="button">
                <table  width="100%" class="letranegrita">  
                  <tr>
                    <td align="left" width="45%">
                      <strong><label id="TitularSPEI"></label></strong>
                    </td>
                    <td align="left" width="45%">
                      <strong> <label id="SaldoSPEI"></label>
                      </strong>
                    </td>
                    <td rowspan="2" width="10%" class="dropdown-caret">
                      
                    </td>
                  </tr>
                  <tr>
                    <td align="left">Cuenta <label id="CuentaSPEI"></label></td>
                    <td align="left">Saldo Disponible</td> {{datosCuenta.SaldoDisponible}}
                  </tr>
                </table>
               
              </button>
                    <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
                        <li>
                            <a></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <form (ngSubmit)="onConfirmacion(forma)" #forma="ngForm">
        <div id="divisionInputs"></div>
        <div class="row sumando-form-group letranegrita">
            <div class="col-sm-1 sumando-bg-red group-name">Para</div>



            <div class="col-sm-11 sumando-well-white">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="amount" class="col-sm-2 control-label">Banco Destino</label>
                    </div>
                    <div class="dropdown sumando-dropdown-account col-sm-9">
                        <select class="input-whidth form-control input-lg" name="sel1" [(ngModel)]="sel1" id="sel1" style="border:0px solid red;">
            <option value="0">Seleccione un banco</option>
              <option value="40002">Banamex - Citibank</option>
              <option value="40012">BBVA Bancomer</option>
              <option value="40014">Santander</option>
              <option value="40021">HSBC</option>
              <option value="40044">Scotiabank - Inverlat</option>
              <option value="40062">Afirme</option>
              <option value="40133">Actinver</option>
              <option value="90638">Akala</option>
              <option value="40103">American Express</option>
              <option value="40128">Autofin</option>
              <option value="40127">Azteca</option>
              <option value="40138">ABC Capital</option>
              <option value="40130">Banco Compartamos</option>
              <option value="02001">Banco de Mexico</option>
              <option value="37006">Bancomext</option>
              <option value="40137">Bancoppel</option>
              <option value="37019">Banjercito</option>
              <option value="37009">Banobras</option>
              <option value="40058">Banregio</option>
              <option value="37166">Bansefi</option>
              <option value="40129">Barclays</option>
              <option value="40145">Base</option>
              <option value="90614">Casa Bolsa Accival</option>
              <option value="90626">Casa Bolsa Deustche Securities</option>
              <option value="90601">Casa Bolsa GBM</option>
              <option value="90630">Casa Bolsa Intercam</option>
              <option value="90640">Casa Bolsa JPMorgan</option>
              <option value="90602">Casa Bolsa Masari</option>
              <option value="90615">Casa Bolsa Merrill Lynch</option>
              <option value="40112">Casa Bolsa Monex</option>
              <option value="90605">Casa Bolsa Value</option>
              <option value="90631">Casa Bolsa CI</option>
              <option value="90608">Casa Bolsa Vector</option>
              <option value="90637">Casa Cambio Order Express</option>
              <option value="40143">CIBANCO,S.A</option>
              <option value="40126">Credit Suisse</option>
              <option value="40030">Del Bajio</option>
              <option value="40124">Deutsche</option>
              <option value="90634">Fincomun</option>
              <option value="40131">FAMSA</option>
              <option value="40036">Inbursa</option>
              <option value="90902">Indeval</option>
              <option value="40037">Interacciones</option>
              <option value="40059">Invex</option>
              <option value="40110">JP Morgan</option>
              <option value="90619">Mapfre Tepeyac</option>
              <option value="40042">Mifel</option>
              <option value="40112">Monex</option>
              <option value="40132">Multiva</option>
              <option value="37135">Nafin</option>
              <option value="90642">Operadora Recursos Reforma</option>
              <option value="90620">Profuturo GNP</option>
              <option value="90646">STP</option>
              <option value="90607">Tiber Capital y Soluciones</option>
              <option value="40108">Tokyo</option>
              <option value="40139">UBS</option>
              <option value="40113">Ve por Mas</option>
              <option value="40141">Volkswagen</option>
              <option value="40135">Wal-Mart</option>
           </select>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="amount" class="col-sm-2 control-label">Clabe</label>
                    </div>
                    <div class="col-sm-9">
                        <input name="clabe" [(ngModel)]="clabe" id="clabe" type="text" maxlength="18" required class="input-whidth form-control amount input-lg" />
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="amount" class="col-sm-2 control-label">Beneficiario</label>
                    </div>
                    <div class="col-sm-4">
                        <input name="beneficiario" [(ngModel)]="beneficiario" id="beneficiario" type="text" maxlength="100" required class="form-control amount input-lg" />
                    </div>

                    <div class="col-sm-1">
                        <label for="amount" class="col-sm-1 control-label">RFC beneficiario</label>
                    </div>
                    <div style="margin-left: 9px; width: 661px;" class="col-sm-4">
                        <input name="rfc" [(ngModel)]="rfc" id="rfc" type="text" maxlength="13" required class="form-control amount input-lg" />
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                    </div>
                    <div class="col-sm-9">
                        <input id="descripcion" name="descripcion" [(ngModel)]="descripcion" type="text" class="input-whidth form-control amount input-lg" maxlength="60" required />
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="amount" class="col-sm-2 control-label">Importe</label>
                    </div>
                    <div style="width: 654px;" class="col-sm-4">
                        <input name="importe" [(ngModel)]="importe" id="importe" type="text" maxlength="10" required class="form-control amount input-lg" />
                    </div>

                    <label class="col-sm-1 control-label">Referencia</label>

                    <div style="margin-left: -2px; width: 656px;" class="col-sm-4">
                        <input id="referencia" [(ngModel)]="referencia" name="referencia" type="text" maxlength="7" class="form-control amount input-lg" required />
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="amount" class="col-sm-5 control-label">Correo a notificar</label>
                    </div>
                    <div class="col-sm-9">
                        <input name="email" [(ngModel)]="email" id="email" type="text" maxlength="120" required class="input-whidth form-control amount input-lg" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label class="col-sm-12 control-label">RFC emisor</label>
                    </div>
                    <div class="col-sm-9">
                        <input name="rfcEmisor" [(ngModel)]="rfcEmisor" id="rfcEmisor" type="text" maxlength="13" required class="input-whidth form-control amount input-lg" />
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div id="someDiv" name="someDiv"></div>

            </div>







        </div>



        <div style="margin:30px 20px 0px 0px;" class="row actions-form-group text-right">
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
                <button class="btn btn-lg" onClick="currentPage.loadMenu();">Regresar</button>
            </div>
            <!-- <button class="btn btn-primary  btn-lg" ng-click="onSiguiente01();" ng-disabled="currentForm.$invalid"> -->
            <div class="col-sm-1">
                <button id="continuarspei" name="continuarspei" class="btn btn-danger btn-lg" type="submit">Continuar</button>
            </div>
        </div>
    </form>
</fieldset>



<!-- Modal -->
<div class="modal fade " id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog letranegrita" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title letranegrita" id="myModalLabel">Confirmar pago</h4>
            </div>
            <div class="modal-body">

                <ul class="list-group">
                    <li class="list-group-item">
                        <label>Cuenta Origen:</label>
                        <label id="cuentaOrigenSPEI2"></label>
                    </li>
                    <li class="list-group-item">
                        <label>Banco Destino:</label>
                        <label id="bancoDestinoSPEI"></label>
                    </li>
                    <li class="list-group-item">
                        <label>Cuenta Destino:</label>
                        <label id="cuentaOrigenSPEI"></label>
                    </li>
                    <li class="list-group-item">
                        <label>Beneficiario:</label>
                        <label id="beneficiarioSPEI"></label>
                    </li>
                    <li class="list-group-item">
                        <label>Referencia:</label>
                        <label id="referenciaSPEI"></label>
                    </li>
                    <li class="list-group-item">
                        <label>Importe:</label>
                        <label id="importeSPEI"></label>
                    </li>
                    <li class="list-group-item">
                        <label>Correo:</label>
                        <label id="correoSPEI"></label>
                    </li>
                    <li class="list-group-item">
                        <label>RFC emisor:</label>
                        <label id="rfcEmisorSPEI"></label>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                <button id="ontransferID" name="ontransferID" type="button" class="btn btn-primary btn-lg" onClick="onTransferSPEI()">Confirmar</button>
            </div>
        </div>

    </div>
</div>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// Modal End here-->


<div id="modalErrorMessage" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-error">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    <label id="errorMensaje"></label>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onClick="currentPage.loadMenu();">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- <div class="modal fade" id="modalErrorMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Ocurrio un error</h4>
        </div>
        <div class="modal-body">
  
          <ul class="list-group">
            <li class="list-group-item">
              <label></label>
              <label id="errorMensaje"></label>
            </li>
            
         
          </ul>
        </div>
     <div class="modal-footer">
          <button type="button" class="btn btn-lg" data-dismiss="modal">Cerrar</button>
     </div>
          <div class="modal-footer">   <button type="button" class="btn btn-primary btn-lg" onClick="onTransferSPEI()">Confirmar</button>
        </div>
      </div>
  
    </div>
  </div> -->