<div ng-cloak class="padding-barToTittle">
    <h2 class="text-center color-letra">Transferencias a otros bancos</h2>
</div>
<form [formGroup]="forma" class="needs-validation">
    <fieldset class="padding-TittleToFieldset padding-fieldset-general">

        <div class="row sumando-form-group letranegrita padding-InFieldset" style="padding-bottom: 14px;">
            <div class="col-sm-1 sumando-bg-red group-name">
                Tipo
            </div>
            <div class="dropdown sumando-dropdown-account col-sm-11" style="padding-left: 0px; padding-right: 0px;">

                <select class="input-whidth selectModificado" #selectTipo id="tipoTransfer" (change)="setCuentasBenficiarioXTipo();" style=" width: 100%; height: 60px; border:0px solid red; ">
                       <!-- <img src="./assets/img/bg_selectN.png" align="right" style="width: 3.8%; float: right; position: absolute;     margin-left: 1549px;"> -->

                    <option value="0" disabled selected>Seleccione transferencia</option>
                    <option value="1" class="text-li">Mismo día (SPEI)</option>
                    <option value="2" class="text-li">Día hábil siguiente (TEF)</option>
                    <option value="3" class="text-li">Rápida</option>
                </select>
            </div>

        </div>

        <div class="row sumando-form-group letranegrita">
            <div class="col-sm-1 sumando-bg-red group-name">
                Desde
            </div>
            <div class="col-sm-11 group-controls  padding-InFieldset" style="padding-left: 0px; padding-right:  0px; padding-bottom: 4px;">
                <div class="form-group">
                    <div class="sumando-bg-white">
                        <input type="hidden">
                        <div class="dropdown sumando-dropdown-account">
                            <button class="btn btn-default btn-block dropdown-toggle btn-color-cuentas" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" disabled="true" aria-expanded="true">
              <table id="tableOrigen" style="display: none" width="99%">
                <tr>
                  <td align="left" width="45%">
                    <strong><label  id="lblAliasOrigen" #lblAliasOrigen></label>{{nombreCuenta}}</strong>
                  </td>
                  <td align="left" width="45%">
                    <strong><label id ="lblSaldoOrigen">{{ SaldoOrigen | currency }}</label>
                    </strong>
                  </td>
                  <td width="5%" rowspan="2" class="dropdown-caret" style="padding-left: 21px; width:5%; ">
                    <img  class="select-img" src="./assets/img/bg_selectN.png" style="width: 90%; height: 190%;" >
                  </td>
                </tr>
                <tr>
                  <td align="left">Cuenta <label id="lblCuentaOrigen" #lblCuentaOrigen></label></td>
                  <td align="left">Saldo Disponible</td>
                </tr>
              </table>
              <table  id="tableDefaultOrigen" width="100%" style="height: 100%;">
                <tr>
                  <td align="left" rowspan="2">Seleccione una cuenta de origen...</td>
                  <td width="5%" style="height: 40px;" rowspan="2" class="dropdown-caret">
                    <img src="./assets/img/bg_selectN.png" class="select-img">
                  </td>
                </tr>
              </table>
            </button>
                            <div>
                                <ul id="ul_Cuentas" #listaCuentas class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1" style="width: 100%; height: 200px; overflow: auto">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="beneficiarios">
            <div class="row sumando-form-group letranegrita">
                <div class="col-sm-1 sumando-bg-red group-name">
                    Para
                </div>
                <div class="col-sm-11 group-controls  padding-InFieldset" style="padding-left: 0px; padding-right:  0px;">
                    <div class="form-group">
                        <div class="sumando-bg-white">
                            <input type="hidden">
                            <div class="dropdown sumando-dropdown-account">
                                <button disabled="true" class="btn btn-default btn-block dropdown-toggle btn-color-cuentas" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <table id="tableBeneficiarios" style="display: none" width="97%">
                <tr>
                  <td align="left" width="50%" style="width: 0px;">
                    <strong><label  id="lbDescripcionCtaBen" #lbDescripcionCtaBen></label></strong>
                  </td>
                  <!-- <td align="left" width="45%">
                   <strong>$<label id ="lblSaldoOrigen"></label>
                   </strong>
                 </td>-->
                  <td width="5%" rowspan="2" class="dropdown-caret" style="">
                    <img  class="select-img" src="./assets/img/bg_selectN.png" style="width: 75%; height: 190%; margin-left: 68px;">
                  </td>
                </tr>
                <tr>
                    <td align="left">Cuenta <label id="lblCuentaDestino" #lblCuentaDestino></label></td>
                    <!--<td align="left">Saldo Disponible</td-->
                  </tr>
              </table>
              <table  id="tableDefaultBeneficiarios" width="100%" style="height: 100%;">
                <tr>
                    <td align="left" rowspan="2">Seleccione una cuenta destino...</td>
                  <td width="5%" style="height: 40px;" rowspan="2" class="dropdown-caret">
                    <img src="./assets/img/bg_selectN.png" class="select-img">
                  </td>
                </tr>
              </table>
            </button>
                                <div>
                                    <ul id="ul_CuentasBen" #listaCuentasBeneficiario class="dropdown-menu btn-block" aria-labelledby="dropdownMenu2" style="width: 100%; height: 200px; overflow: auto">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div id="divisionInputs"></div>
        <div class="row sumando-form-group letranegrita" style="margin-top: 2px !important;">
            <!--<div class="col-sm-1 sumando-bg-red group-name">Para</div>-->
            <div class="col-sm-1 sumando-bg-red group-name" style="background-color: #ff000000 !important;"></div>
            <div class="col-sm-11 sumando-well-white">

                <div id="tranSPEI" style="display: block;">
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>Importe: </label>
                            </div>
                            <div class="col-lg-10">
                                <input disabled="disabled" formControlName="amountSPEI" [matKeyboard]="'num'" name="amountSPEI" #rImporteSPEI id="amountSPEI" type="text" step="0.01" currency required class="form-control amount input-lg" (blur)="transformAmount(rImporteSPEI.value)" />
                                <div class="alert alert-danger" *ngIf="(forma.get('amountSPEI').errors  && forma.get('amountSPEI').touched)">
                                    <p *ngIf="forma.get('amountSPEI').hasError('required') " style="margin-bottom: 0rem !important;">Dato obligatorio, favor de capturar. </p>
                                    <p *ngIf="forma.get('amountSPEI').hasError('pattern')" style="margin-bottom: 0rem !important;">Los datos proporcionados son incorrectos, favor de verificar. </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>Descripci&oacute;n: </label>
                            </div>
                            <div class="col-sm-10">
                                <input disabled="disabled" name="descriptionSPEI" [matKeyboard]="" formControlName="descriptionSPEI" id="descriptionSPEI" type="text" class="form-control amount input-lg" maxlength="60" required />
                                <div *ngIf="forma.hasError('maxlength', 'descriptionSPEI')" class="alert alert-danger">
                                    Los datos proporcionados son incorrectos, favor de verificar.
                                </div>
                                <div *ngIf="forma.hasError('required', 'descriptionSPEI') && forma.get('descriptionSPEI').touched" class="alert alert-danger">
                                    Dato obligatorio, favor de capturar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>Referencia: </label>
                            </div>
                            <div class="col-sm-10">
                                <input disabled="disabled" id="referenceSPEI" [matKeyboard]="'num'" name="referenceSPEI" formControlName="referenceSPEI" type="text" maxlength="7" class="form-control amount input-lg" required />
                                <div *ngIf="forma.hasError('maxlength', 'referenceSPEI')" class="alert alert-danger">
                                    Los datos proporcionados son incorrectos, favor de verificar.
                                </div>
                                <div *ngIf="forma.hasError('required', 'referenceSPEI') && forma.get('referenceSPEI').touched" class="alert alert-danger">
                                    Dato obligatorio, favor de capturar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>RFC Beneficiario:</label>
                            </div>
                            <div class="col-sm-10">
                                <input disabled="disabled" id="RFCben" [matKeyboard]="" name="RFCben" formControlName="RFCben" type="text" maxlength="13" class="form-control amount input-lg" />

                                <div class="alert alert-danger" *ngIf="(forma.get('RFCben').errors  && forma.get('RFCben').touched)">

                                    <p *ngIf="forma.get('RFCben').hasError('pattern')" style="margin-bottom: 0rem !important;">Los datos proporcionados son incorrectos, favor de verificar. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tranTEF" style="display: none;">

                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>Importe: </label>
                            </div>
                            <div class="col-sm-10">
                                <input disabled="disabled" id="amountTEF" #rImporteTEF [matKeyboard]="'num'" name="amountTEF" formControlName="amountTEF" type="text" class="form-control amount input-lg" maxlength="60" required (blur)="transformAmount(rImporteTEF.value)" />
                                <div *ngIf="forma.hasError('min', 'amountTEF') || forma.hasError('max', 'amountTEF') || forma.get('amountTEF').hasError('pattern')" class="alert alert-danger">
                                    Los datos proporcionados son incorrectos, favor de verificar.
                                </div>
                                <div *ngIf="forma.hasError('required', 'amountTEF') && forma.get('amountTEF').touched" class="alert alert-danger">
                                    Dato obligatorio, favor de capturar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>Descripci&oacute;n: </label>
                            </div>
                            <div class="col-sm-10">
                                <input disabled="disabled" id="descriptionTEF" [matKeyboard]="" name="descriptionTEF" formControlName="descriptionTEF" type="text" maxlength="7" class="form-control amount input-lg" required />
                                <div *ngIf="forma.hasError('maxlength', 'descriptionTEF')" class="alert alert-danger">
                                    Los datos proporcionados son incorrectos, favor de verificar.
                                </div>
                                <div *ngIf="forma.hasError('required', 'descriptionTEF') && forma.get('descriptionTEF').touched" class="alert alert-danger">
                                    Dato obligatorio, favor de capturar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>Referencia: </label>
                            </div>
                            <div class="col-sm-10">
                                <input disabled="disabled" id="referenceTEF" [matKeyboard]="'num'" name="referenceTEF" formControlName="referenceTEF" type="text" maxlength="7" class="form-control amount input-lg" required />
                                <div *ngIf="forma.hasError('maxlength', 'referenceTEF')" class="alert alert-danger">
                                    Los datos proporcionados son incorrectos, favor de verificar.
                                </div>
                                <div *ngIf="forma.hasError('required', 'referenceTEF') && forma.get('referenceTEF').touched" class="alert alert-danger">
                                    Dato obligatorio, favor de capturar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>RFC Beneficiario:</label>
                            </div>
                            <div class="col-sm-10">
                                <input disabled="disabled" id="RFCbenTEF" [matKeyboard]="" name="RFCbenTEF" formControlName="RFCbenTEF" type="text" maxlength="13" class="form-control amount input-lg" />
                                <div class="alert alert-danger" *ngIf="(forma.get('RFCbenTEF').errors  && forma.get('RFCbenTEF').touched)">

                                    <p *ngIf="forma.get('RFCbenTEF').hasError('pattern')" style="margin-bottom: 0rem !important;">Los datos proporcionados son incorrectos, favor de verificar. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tranQuick" style="display: none;">
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>Cuenta: </label>
                            </div>
                            <div class="col-lg-10">
                                <input disabled="disabled" name="cuenta" [matKeyboard]="'num'" id="cuenta" formControlName="cuenta" type="text" step="0.01" currency required class="form-control amount input-lg" ng-model="command.amount" ng-min="1" ng-max="7000" />

                                <div class="alert alert-danger" *ngIf="(forma.get('cuenta').errors  && forma.get('cuenta').touched)">
                                    <p *ngIf="forma.get('cuenta').hasError('required') " style="margin-bottom: 0rem !important;">Dato obligatorio, favor de capturar. </p>
                                    <p *ngIf="forma.get('cuenta').hasError('pattern')" style="margin-bottom: 0rem !important;">Dato incorrecto, favor de verificar. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label for="amount" class="col-sm-2 control-label" style="margin-left: -15px;">Banco Destino</label>
                            </div>
                            <div class="dropdown sumando-dropdown-account col-sm-9">
                                <select disabled="disabled" class="input-whidth input-lg selectModificado" name="sel1" id="selecBanco" #rSelecBanco (change)="selectBanco($event.target.value)" style="border:0px solid red; background-size: auto; width: 111%">
                                    <option disabled="true" value="">Seleccione un banco</option>
                                    <ng-container *ngFor="let bancos of listaBancos">
                                        <option class="text-li" *ngIf="bancos.Mostrar !== '0'" [value]="bancos.IdSecoban">{{bancos.NombreBanco}}</option>
                                    </ng-container>                                    
                                </select>
                                <div *ngIf="forma.hasError('required', 'sel1') && forma.get('sel1').touched" class="alert alert-danger">
                                    Dato obligatorio, favor de capturar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                    <div class="row">
                        <div class="col-lg-1 padding-labelToInput">
                            <label>CLABE: </label>
                        </div>
                        <div class="col-sm-10">
                            <input id="clabe" [matKeyboard]="'num'" name="clabe" formControlName="clabe" type="text" maxlength="16" class="form-control amount input-lg" required />
                            <div *ngIf="forma.hasError('maxlength', 'clabe')" class="alert alert-danger">
                                La clabe debe ser de....
                            </div>
                            <div *ngIf="forma.hasError('required', 'clabe') && forma.get('clabe').touched" class="alert alert-danger">
                                Este dato es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
                -->

                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>Importe: </label>
                            </div>
                            <div class="col-sm-10">
                                <input disabled="disabled" id="ammountQUICK" #rImporteQUICK [matKeyboard]="'num'" name="ammountQUICK" formControlName="ammountQUICK" type="text" maxlength="7" class="form-control amount input-lg" required (blur)="transformAmount(rImporteQUICK.value)"
                                />
                                <div *ngIf="forma.hasError('min', 'ammountQUICK') || forma.hasError('max', 'ammountQUICK') || forma.get('ammountQUICK').hasError('pattern')" class="alert alert-danger">
                                    Los datos proporcionados son incorrectos, favor de verificar.
                                </div>
                                <div *ngIf="forma.hasError('required', 'ammountQUICK') && forma.get('ammountQUICK').touched" class="alert alert-danger">
                                    Dato obligatorio, favor de capturar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>Referencia: </label>
                            </div>
                            <div class="col-sm-10">
                                <input disabled="disabled" id="referenceQuick" [matKeyboard]="'num'" name="referenceQuick" formControlName="referenceQuick" type="text" maxlength="7" class="form-control amount input-lg" required />
                                <div *ngIf="forma.hasError('maxlength', 'referenceQuick')" class="alert alert-danger">
                                    Los datos proporcionados son incorrectos, favor de verificar.
                                </div>
                                <div *ngIf="forma.hasError('required', 'referenceQuick') && forma.get('referenceQuick').touched" class="alert alert-danger">
                                    Dato obligatorio, favor de capturar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>RFC Beneficiario:</label>
                            </div>
                            <div class="col-sm-10">
                                <input disabled="disabled" id="RFCbenQUICK" [matKeyboard]="" name="RFCbenQUICK" formControlName="RFCbenQUICK" type="text" maxlength="13" class="form-control amount input-lg" />
                                <div class="alert alert-danger" *ngIf="(forma.get('RFCbenQUICK').errors  && forma.get('RFCbenQUICK').touched)">

                                    <p *ngIf="forma.get('RFCbenQUICK').hasError('pattern')" style="margin-bottom: 0rem !important;">Los datos proporcionados son incorrectos, favor de verificar. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div style="margin:30px -22px 0px 0px;" class="row actions-form-group text-right">
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-lg" routerLink="/menuBXI">Regresar</button>

            </div>
            <!-- <button class="btn btn-primary  btn-lg" ng-click="onSiguiente01();" ng-disabled="currentForm.$invalid"> -->
            <div class="col-sm-1">
                <button disabled="disabled" id="continuarspei" name="continuarspei" class="btn color-botones btn-lg" (click)="showDetallePago()">
                Continuar</button>
            </div>
        </div>

    </fieldset>


    <div class="modal fade" id="confirmModalSPEI" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadowModal ">

                <div class="modal-body" style="padding: 2rem;">

                    <h4 style="color: #B01657; font-weight: 700;">Confirmar pago</h4>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Cuenta origen:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{cuentaOrigenModal}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Cuenta destino:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{CuentaDestino}}</label>
                        </div>
                    </div>

                    <!--<div class="row">
                <div class="col-lg 6">
                    <label>Correo:</label>
                </div>
                <div class="col-lg 6">
                    <label>${{correoBeneModal}}</label>
                </div>
            </div>-->
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Nombre:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{nombreBeneModal}}</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg 6">
                            <label>Importe total:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>${{importeAuxSPEI}}</label>
                        </div>
                    </div>
                    <div class="row" id="mensajeTipoAutentica">
                        <div class="col-lg-12">
                            <label style="display: block; text-align: center; line-height: 280%; 	color: #eb012a;">Por favor captura tu
                          <label>{{labelTipoAutentica}}</label> para poder continuar
                            </label>
                        </div>
                    </div>
                    <div id="challengerSPEI" class="row">
                        <div class="col-lg-6" align="center">
                            <label>N&uacute;mero de seguridad:</label>
                        </div>
                        <div class="col-lg-6">
                            <label class='form-control input-lg'>{{NumeroSeguridad}}</label>
                        </div>
                    </div>
                    <div id="divPassSPEI" class="row">
                        <div class="col-lg-6" align="center">
                            <label>{{labelTipoAutentica}}:</label>
                        </div>
                        <div class="col-lg-6">
                            <input id="inputTokenSPEI" type="password" class="form-control input-lg" #TokenSp [matKeyboard]="'num'" formControlName='fcTokenSp'>
                            <div *ngIf="forma.get('fcTokenSp').errors  && forma.get('fcTokenSp').touched " class="alert alert-danger">
                                <p color="danger" *ngIf="forma.get('fcTokenSp').hasError('required')" style="margin-bottom: 0rem !important;"> Dato obligatorio, favor de capturar.
                                </p>
                                <p color="danger" *ngIf="forma.get('fcTokenSp').hasError('pattern')" style="margin-bottom: 0rem !important;">Los datos proporcionados son incorrectos, favor de verificar.
                                </p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="modal-footer" style="padding-right: 0px !important;">
                        <button class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                        <button id="ValToken" class="color-botones btn btn-lg " (click)="confirmarPago(TokenSp.value, '','')" [disabled]="(forma.get('fcTokenSp').invalid)">
                            Confirmar
                          </button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->

    <div class="modal fade" id="confirmModalTEF" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadowModal ">

                <div class="modal-body" style="padding: 2rem;">

                    <h4 style="color: #B01657; font-weight: 700;">Confirmar pago</h4>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Cuenta origen:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{cuentaOrigenModal}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Cuenta destino:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{CuentaDestino}}</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg 6">
                            <label>Importe total:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>${{importeAuxTEF}}</label>
                        </div>
                    </div>
                    <div class="row" id="mensajeTipoAutentica">
                        <div class="col-lg-12">
                            <label style="display: block; text-align: center; line-height: 280%; 	color: #eb012a;">Por favor captura tu
                          <label>{{labelTipoAutentica}}</label> para poder continuar
                            </label>
                        </div>
                    </div>
                    <div id="challengerTEF" class="row">
                        <div class="col-lg-6" align="center">
                            <label>N&uacute;mero de seguridad:</label>
                        </div>
                        <div class="col-lg-6">
                            <label class='form-control input-lg'>{{NumeroSeguridad}}</label>
                        </div>
                    </div>
                    <div id="divPassTEF" class="row">
                        <div class="col-lg-6" align="center">
                            <label>{{labelTipoAutentica}}:</label>
                        </div>
                        <div class="col-lg-6">
                            <input id="inputTokenTEF" type="password" class="form-control input-lg" #TokenTef [matKeyboard]="'num'" formControlName='fcTokenTef'>
                            <div *ngIf="forma.get('fcTokenTef').errors  && forma.get('fcTokenTef').touched " class="alert alert-danger">
                                <p color="danger" *ngIf="forma.get('fcTokenTef').hasError('required')"> Dato obligatorio, favor de capturar.
                                </p>
                                <p color="danger" *ngIf="forma.get('fcTokenTef').hasError('pattern')">Los datos proporcionados son incorrectos, favor de verificar.
                                </p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="modal-footer" style="padding-right: 0px !important;">
                        <button class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                        <button id="confirmarP" class="color-botones btn btn-lg " (click)="confirmarPago('', TokenTef.value, '')" [disabled]="(forma.get('fcTokenTef').invalid)">
                            Confirmar
                          </button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->

    <div class="modal fade" id="confirmModalQUICK" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadowModal ">

                <div class="modal-body" style="padding: 2rem;">

                    <h4 style="color: #B01657; font-weight: 700;">Confirmar pago</h4>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Cuenta origen:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{cuentaOrigenModal}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Cuenta destino:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{tipoCuentaF}}</label>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg 6">
                            <label>Referencia:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{refF}}</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg 6">
                            <label>Importe total:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>${{importeAuxQUICK}}</label>
                        </div>
                    </div>
                    <div class="row" id="mensajeTipoAutentica">
                        <div class="col-lg-12">
                            <label style="display: block; text-align: center; line-height: 280%; 	color: #eb012a;">Por favor captura tu
                          <label>{{labelTipoAutentica}}</label> para poder continuar
                            </label>
                        </div>
                    </div>
                    <div id="challengerQUICK" class="row">
                        <div class="col-lg-6" align="center">
                            <label>N&uacute;mero de seguridad:</label>
                        </div>
                        <div class="col-lg-6">
                            <label class='form-control input-lg'>{{NumeroSeguridad}}</label>
                        </div>
                    </div>
                    <div id="divPassQUICK" class="row">
                        <div class="col-lg-6" align="center">
                            <label>{{labelTipoAutentica}}:</label>
                        </div>
                        <div class="col-lg-6">
                            <input id="inputTokenQUICK" type="password" class="form-control input-lg" #TokenQuick [matKeyboard]="'num'" formControlName='fcTokenQuick'>
                            <div *ngIf="forma.get('fcTokenQuick').errors  && forma.get('fcTokenQuick').touched " class="alert alert-danger">
                                <p color="danger" *ngIf="forma.get('fcTokenQuick').hasError('required')"> Dato obligatorio, favor de capturar.
                                </p>
                                <p color="danger" *ngIf="forma.get('fcTokenQuick').hasError('pattern')">Los datos proporcionados son incorrectos, favor de verificar.
                                </p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="modal-footer" style="padding-right: 0px !important;">
                        <button class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                        <button id="confirmarP2" class="color-botones btn btn-lg " (click)="confirmarPago('','', TokenQuick.value)" [disabled]="(forma.get('fcTokenQuick').invalid)">
                            Confirmar
                          </button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="modalErrorMessage" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-error">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>
                        <label style="text-align: center;" id="errorMensaje" class="letranegrita"></label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="cerrar" type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</form>


<!-- Modal -->



<!-- <div class="modal fade" id="modalErrorMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Ocurrio un error</h4>
    </div>
    <div class="modal-body">

      <ul class="list-group">
        <li class="list-group-item">
          <label></label>
          <label id="errorMensaje"></label>
        </li>


      </ul>
    </div>
 <div class="modal-footer">
      <button type="button" class="btn btn-lg" data-dismiss="modal">Cerrar</button>
 </div>
      <div class="modal-footer">   <button type="button" class="btn btn-primary btn-lg" onClick="onTransferSPEI()">Confirmar</button>
    </div>
  </div>

</div>
</div> -->