<div ng-cloak>
  <h2 class="text-center">Envio de estado de cuenta</h2>
  <form novalidate name="currentForm">
    <fieldset>


      <div class="row sumando-form-group">
        <div class="col-sm-1 sumando-bg-red group-name">
          Envio
        </div>
        <div class="col-lg-11 sumando-well-white">

          <div class="form-group" ng-class="{
                          'has-error':  currentForm.email.$invalid && currentForm.email.$dirty,
                          'has-success': currentForm.email.$valid}">
            <label class="col-lg-4 col-md-4 control-label align-right">Correo electrónico</label>

            <div class="col-lg-8 col-md-8">
              <input name="email" type="text" class="form-control input-lg" placeholder="" ng-model="command.email" ng-required="true" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" invalid-popover="Debe escribir una cuenta de correo valida." invalid-popover-placement="auto"
              maxlength="60" />
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group" ng-class="{
                          'has-error':  currentForm.confirmar_email.$invalid && currentForm.confirmar_email.$dirty,
                          'has-success': currentForm.confirmar_email.$valid}">
            <label class="col-lg-4 col-md-4 control-label align-right">Confirma correo electrónico</label>

            <div class="col-lg-8 col-md-8">
              <input name="confirmar_email" type="text" class="form-control input-lg" placeholder="" ng-model="command.confirmar_email" ng-match="command.email" ng-required="true" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" invalid-popover-html="Las cuentas de correo deben coincidir."
              invalid-popover-placement="auto" maxlength="60" />
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group" ng-class="{
                          'has-error':  currentForm.pcs.$invalid && currentForm.pcs.$dirty,
                          'has-success': currentForm.pcs.$valid}">
            <label class="col-lg-4 col-md-4 control-label align-right">Contraseña del archivo</label>

            <div class="col-lg-8 col-md-8">
              <input name="pss" type="password" class="form-control input-lg" placeholder="" ng-model="command.pcs" ng-required="true" invalid-popover="Debe escribir una contraseña valida." invalid-popover-placement="auto" maxlength="60" />
              <br/> Esta contraseña sera necesaria para abrir el archivo enviado por correo electronico
            </div>
            <div class="clearfix"></div>
          </div>

        </div>
      </div>
      <div class="row actions-form-group text-right">
        <button class="btn btn-lg" ui-sref="mca.menu">Regresar</button>
        <button class="btn btn-primary  btn-lg" ng-click="onEnviarCorreoClick();" ng-disabled="currentForm.$invalid">
          CONTINUAR
        </button>
      </div>
    </fieldset>
  </form>
</div>
