<div ng-cloak>
  <h2 class="text-center">Consultar estado de cuenta</h2>
  <br/>
  <h4 class="text-center">Selecciona los estados de cuenta que desea imprimir</h4>
  <br/>
  <br/>
  <div id="carousel-example-generic" class="carousel slide kiosk-cec-carousel" data-ride="carousel" data-wrap="false">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item" ng-if="documentosDisponibles.length > 6">
        <div class="row">
          <div class="col-md-4 float-right" ng-repeat="item in documentosDisponibles | limitTo:6:6">
            <div class="kiosk-cec-carousel-item" ng-click="onPeriodoItemClick(item, $event)">
              <span class="icon">{{ item.Fecha | date:'MM' }}</span>
              <span class="title">{{ item.Fecha | etiquetaMes }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="item active">
        <div class="row">
          <div class="col-md-4 float-right" ng-repeat="item in documentosDisponibles | limitTo:6:0">
            <div class="kiosk-cec-carousel-item" ng-click="onPeriodoItemClick(item, $event)">
              <span class="icon">{{ item.Fecha | date:'MM' }}</span>
              <span class="title">{{ item.Fecha | etiquetaMes }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Controls -->


    <span class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </span>

    <span class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </span>

  </div>

<br/>
<br/>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-lg" ng-click="viewEnviarCorreoClick();" ng-disabled="itemsSelected.length == 0">
      ENVIAR POR CORREO
    </button>
    <button type="button" class="btn btn-primary btn-lg" ng-click="viewImprimirClick();" ng-disabled="itemsSelected.length == 0">
      IMPRIMIR
    </button>
  </div>

</div>
