<h2 class="text-center deleteMargin-h2 padding-barToTittle">
    Transferencias Banorte</h2>
<fieldset class="padding-fieldset-general padding-TittleToFieldset">

    <div class="row sumando-form-group letranegrita padding-InFieldset">
        <div class="col-sm-1 sumando-bg-red group-name">
            Tipo
        </div>
        <div class="dropdown sumando-dropdown-account col-sm-11" style="padding-left: 0px; padding-right: 0px;">

            <select class="input-whidth selectModificado" #selectTipo id="tipoTransfer" (change)="setCuentasBenficiarioXTipo();" style=" width: 100%; height: 60px; border:0px solid red;">
               <!-- <img src="./assets/img/bg_selectN.png" align="right" style="width: 3.8%; float: right; position: absolute;     margin-left: 1549px;"> -->

            <option value="0" disabled selected>Seleccione tipo de transferencia...</option>
            <option value="1">Entre cuentas propias</option>
            <option value="2">A terceros banorte</option>
        </select>
        </div>

    </div>

    <div class="row sumando-form-group letranegrita">
        <div class="col-sm-1 sumando-bg-red group-name">
            Desde
        </div>
        <div class="col-sm-11 group-controls  padding-InFieldset" style="padding-left: 0px; padding-right:  0px;">
            <div class="form-group">
                <div class="sumando-bg-white">
                    <input type="hidden">
                    <div class="dropdown sumando-dropdown-account">
                        <button disabled="disabled" class="btn btn-default btn-block dropdown-toggle btn-color-cuentas" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <table id="tableOrigen" style="display: none" width="100%">
                  <tr>
                    <td align="left" width="45%">
                      <strong><label  id="lblAliasOrigen" #lblAliasOrigen></label></strong>
                    </td>
                    <td align="left" width="45%">
                      <strong>$<label id ="lblSaldoOrigen"></label>
                      </strong>
                    </td>
                    <td width="5%" rowspan="2" class="dropdown-caret" style="padding-left: 21px;">
                      <img  class="select-img" src="./assets/img/bg_selectN.png" style="width: 91%; height: 181%;" >
                    </td>
                  </tr>
                  <tr>
                    <td align="left">Cuenta <label id="lblCuentaOrigen" #lblCuentaOrigen></label></td>
                    <td align="left">Saldo Disponible</td>
                  </tr>
                </table>
                <table  id="tableDefaultOrigen" width="100%" style="height: 100%;">
                  <tr>
                    <td align="left" rowspan="2">Seleccione una cuenta de origen...</td>
                    <td width="5%" style="height: 40px;" rowspan="2" class="dropdown-caret">
                      <img src="./assets/img/bg_selectN.png" class="select-img">
                    </td>
                  </tr>
                </table>
              </button>
                        <div>
                            <ul id="ul_Cuentas" #listaCuentas class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1" style="width: 100%; height: 200px; overflow: auto">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="beneficiarios">
        <div class="row sumando-form-group letranegrita">
            <div class="col-sm-1 sumando-bg-red group-name">
                Para
            </div>
            <div class="col-sm-11 group-controls  padding-InFieldset" style="padding-left: 0px; padding-right:  0px;">
                <div class="form-group">
                    <div class="sumando-bg-white">
                        <input type="hidden">
                        <div class="dropdown sumando-dropdown-account">
                            <button disabled="disabled" class="btn btn-default btn-block dropdown-toggle btn-color-cuentas" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <table id="tableBeneficiarios" style="display: none" width="100%">
                  <tr>
                    <td align="left" width="45%" style="width: 0px; margin-right: 64px;">
                      <strong><label  id="lbDescripcionCtaBen" #lbDescripcionCtaBen></label></strong>
                    </td>
                    <!-- <td align="left" width="45%">
                     <strong>$<label id ="lblSaldoOrigen"></label>
                     </strong>
                   </td>-->
                    <td width="5%" rowspan="2" class="dropdown-caret" style="padding-left: 2px;">
                      <img  class="select-img" src="./assets/img/bg_selectN.png" style="width: 80%; height: 184%; margin-left: 42px;">
                    </td>
                  </tr>
                  <tr>
                      <td align="left">Cuenta <label id="lblCuentaDestino" #lblCuentaDestino></label></td>
                      <!--<td align="left">Saldo Disponible</td-->
                    </tr>
                </table>
                <table  id="tableDefaultBeneficiarios" width="100%" style="height: 100%;">
                  <tr>
                      <td align="left" rowspan="2">Seleccione una cuenta destino...</td>
                    <td width="5%" style="height: 40px;" rowspan="2" class="dropdown-caret">
                      <img src="./assets/img/bg_selectN.png" class="select-img">
                    </td>
                  </tr>
                </table>
              </button>
                            <div>
                                <ul id="ul_CuentasBen" #listaCuentasBeneficiario class="dropdown-menu btn-block" aria-labelledby="dropdownMenu2" style="width: 100%; height: 200px; overflow: auto">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <form [formGroup]="forma" (ngSubmit)="showDetallePago()" class="needs-validation">
        <div id="divisionInputs"></div>
        <div class="row sumando-form-group letranegrita">
            <div class="col-sm-1 sumando-bg-red group-name" style="background-color: #ff000000;"></div>
            <div class="col-sm-11 sumando-well-white">

                <div id="transferencia" style="display: block;">

                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>Importe: </label>
                            </div>
                            <div class="col-sm-10">
                                <input id="amount" #rImporte [matKeyboard]="'num'" name="amount" formControlName="amount" type="text" class="form-control amount input-lg" maxlength="60" required (blur)="transformAmount(rImporte.value)" />
                                <div *ngIf="forma.hasError('min', 'amount') || forma.hasError('max', 'amount') " class="alert alert-danger">
                                    Limite de....
                                </div>
                                <div *ngIf="forma.hasError('required', 'amount') && forma.get('amount').touched" style="margin-bottom: 0px; padding: 0.5rem 1.20rem;" class="alert alert-danger">
                                    Este dato es obligatorio.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-1 padding-labelToInput">
                                <label>Concepto: </label>
                            </div>
                            <div class="col-sm-10">
                                <input aria-describedby="validationTooltipUsernamePrepend" [matKeyboard]="" id="concepto" name="concepto" formControlName="concepto" type="text" maxlength="7" class="form-control amount" required />
                                <div *ngIf="forma.hasError('maxlength', 'concepto')" class="alert alert-danger">
                                    Limite de descripcion debe ser de....
                                </div>
                                <div *ngIf="forma.hasError('required', 'concepto') && forma.get('concepto').touched" class="invalid-tooltip">
                                    Este dato es obligatorio.
                                </div>

                            </div>





                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div style="margin:30px 20px 0px 0px;" class="row actions-form-group text-right">
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-lg" routerLink="/menuBXI">Regresar</button>
            </div>
            <!-- <button class="btn btn-primary  btn-lg" ng-click="onSiguiente01();" ng-disabled="currentForm.$invalid"> -->
            <div class="col-sm-1">
                <button [disabled]="!forma.valid" id="continuarspei" name="continuarspei" class="btn btn-danger btn-lg" type="submit">
                    Continuar</button>
            </div>
        </div>
    </form>
</fieldset>


<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadowModal ">

            <div class="modal-body" style="padding: 2rem;">

                <h4 style="color: #B01657; font-weight: 700;">Confirmar pago</h4>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Cuenta origen:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{cuentaOrigenModal}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Cuenta destino:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{CuentaDestino}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg 6">
                        <label>Correo:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{correoBeneModal}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Nombre:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{nombreBeneModal}}</label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg 6">
                        <label>Importe total:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>${{importeF}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 12">
                        <div id="challenger" class="form-group">
                            <label>N&uacute;mero de seguridad</label>
                            <label class='form-control input-lg'>{{NumeroSeguridad}}</label>

                        </div>
                        <div id="divPass" class="form-group">
                            <label>{{labelTipoAutentica}}</label>
                            <input type="password" class="form-control input-lg" #token [matKeyboard]="'num'">
                            <div *ngIf="(token.value == '')  && token.touched" class="alert alert-danger">
                                <p color="danger" *ngIf="(token.value == '')">Dato obligatorio, favor de capturar. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                    <button class="color-botones btn btn-lg " (click)="confirmarPago(token.value)">
                                Confirmar
                              </button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="uiv-animate" ui-view></div>


<div id="errorModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-error">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    <label id="mnsError"></label>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onClick="currentPage.loadMenu();">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
