<div>
    <script type="text/javascript">
        $.getScript(path + "Keyboard-master/docs/js/demo.js");
    </script>
    <!-- 	<!-- Modal Start here-->

    <div ng-cloak class="padding-barToTittle">
        <h2 class="text-center deleteMargin-h2 color-letra letramegrita">Pago de tarjeta de cr&eacute;dito</h2>
    </div><br>

    <fieldset class="padding-TittleToFieldset padding-fieldset-general">

        <div class="row sumando-form-group letranegrita">
            <div class="col-sm-1 sumando-bg-red group-name" style="height: 66px;">
                Desde
            </div>
            <div class="col-sm-11 group-controls padding-InFieldset" style="padding-left: 0px; padding-right:  0px;">
                <div class="form-group">
                    <div class="sumando-dropdown-account">
                        <table id="tablaMantoBen" width="100%" class="letranegrita">
                            <tr>
                                <td align="left" width="40%" style="border: 0px">CUENTA ENLACE PERSONAL <strong>
                                                                                    </strong>
                                </td>
                                <td align="left" style="border: 0px">
                                    <strong>
                                                <label>{{saldoClienteTdd | currency}}
                                                </label>
                                            </strong>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="border: 0px; font-weight: normal">Cuenta
                                    <label> {{mostrarCuentaMascara}}</label>
                                </td>
                                <td align="left" style="border: 0px; font-weight: normal">Saldo Disponible
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <form [formGroup]="forma">

            <div class="row sumando-form-group letranegrita">
                <div class="col-sm-1 sumando-bg-red group-name">Para</div>
                <div class="col-lg-11 sumando-well-white">
                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class=" control-label">Banco:</label>
                        </div>
                        <div class="dropdown sumando-dropdown-account col-lg-10">
                            <select formControlName="selectBanco" #rSelecBanco class="input-whidth input-lg selectModificado" id="tipoBanco" (change)="selectBanco($event.target.value)" style=" width: 100%; border:  0px">
                            <option disabled="" selected value="0" ng-reflect-value="0">SELECCIONE BANCO</option>
                            <option *ngFor="let banco of bancos; let i = index" [value]="banco.IdBanco">{{ banco.NombreBanco }}</option>


                        </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="margin-InFieldset row">
                        <div class="col-lg-2">
                            <label for="amount" class="control-label ">N&uacute;mero de tarjeta:</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" [matKeyboard]="'num'" class="input-whidth form-control amount input-lg" formControlName="numTarjeta" />
                            <div class="alert-danger" *ngIf="forma.get('numTarjeta').errors && forma.get('numTarjeta').touched">
                                <p color="danger" *ngIf="forma.get('numTarjeta').hasError('required')" style="margin-bottom: 0;">Dato obligatorio, favor de capturar.</p>
                                <p color="danger" *ngIf="forma.get('numTarjeta').hasError('pattern') || forma.get('numTarjeta').hasError('minlength') || forma.get('numTarjeta').hasError('maxlength')" style="margin-bottom: 0;">Los datos proporcionados son incorrectos, favor de verificar.</p>
                            </div>
                            <!--    <div *ngIf="forma.hasError('required', 'numTarjeta') && forma.get('numTarjeta').touched" class="alert alert-danger">
                                Este dato es obligatorio.
                            </div> -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <br>

                    <div class="margin-InFieldset row">
                        <label class="col-sm-2 control-label">Importe:</label>

                        <div class="col-sm-10">
                            <input formControlName="importe" name="importe" #rImporte (blur)="transformAmount(rImporte.value)" id="importe" [matKeyboard]="'num'" type="text" class="input-whidth form-control amount input-lg" />
                            <div class="alert-danger" *ngIf="(forma.get('importe').errors  && forma.get('importe').touched)">
                                <p color="danger" *ngIf="forma.get('importe').hasError('required')">Dato obligatorio, favor de capturar.</p>
                                <p color="danger" *ngIf="forma.get('importe').hasError('pattern')">Los datos proporcionados son incorrectos, favor de verificar.</p>
                            </div>
                        </div>
                        <div class="clearfix "></div>
                    </div>
                    <br>
                    <!--
                    <div class="margin-InFieldset row">
                        <label class="col-sm-2 control-label ">Correo a notificar:</label>

                        <div class="col-sm-10 ">
                            <input class="input-whidth form-control amount input-lg" [matKeyboard]="" formControlName="email" type="text" name="email " id="email" />
                            <div *ngIf="forma.hasError('required', 'email') && forma.get('email').touched" class="alert alert-danger">
                                Este dato es obligatorio.
                            </div>
                            <div *ngIf="forma.hasError('pattern', 'email') && !forma.get('email').untouched" class="alert alert-danger">
                                El correo electronico es incorrecto.
                            </div>
                        </div>
                        <div class="clearfix "></div>
                    </div> -->

                </div>
            </div>
            <div class="row actions-form-group text-right " style="margin-right: -26px;">
                <div class="col-lg-7"></div>
                <div class="col-lg-4">
                    <button class="btn btn-lg" [routerLink]="['/menuTdd']">Regresar</button>
                </div>
                <div class="col-lg-1">
                    <button id="continuar" [disabled]="!forma.valid || rSelecBanco.value === 'Seleccione Banco' || rSelecBanco.value === '0'" class="btn color-botones btn-lg pull-left" type="submit" data-toggle="modal" (click)="validarSaldo()">Continuar</button>
                </div>
            </div>

        </form>

    </fieldset>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadowModal" style="height: 320px">

                <div class="modal-body" style="padding: 2rem;">

                    <h4 style="color: #B01657; font-weight: 700;">Confirmar pago</h4>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Cuenta origen:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{ cuentaClienteTdd }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Banco Destino:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{nombreBanco | uppercase}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Cuenta Destino:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{noTarjeta}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Importe:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{importe | currency}}</label>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-lg 6">
                            <label>Correo:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{correo}}</label>
                        </div>
                    </div> -->
                    <div class="modal-footer">
                        <button class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                        <button id="continuar" class="color-botones btn btn-lg " onclick="handlerCallPinpad()" (click)="cargaBancos()" data-dismiss="modal">
                                        Confirmar
                                      </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content shadowModal">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmar pago</h4>
                </div>
                <div class="modal-body">

                    <ul class="list-group">
                        <li class="list-group-item"><strong> <label>Cuenta Origen:</label></strong>
                            <label>{{ cuentaClienteTdd }}</label>
                        </li>
                        <li class="list-group-item"><strong><label>Cuenta Destino:</label></strong>
                            <label>{{ noTarjeta }}</label>
                        </li>
                        <li class="list-group-item"><strong><label>Importe:</label></strong>
                            <label>{{ importe | currency }}</label>
                        </li>
                        <li class="list-group-item"><strong><label>Correo:</label></strong>
                            <label>{{ correo }}</label></li>
                    </ul>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-lg letranegrita" data-dismiss="modal">Cancelar</button>
                    <button id="continuar2" type="button" class="btn color-botones btn-lg" onclick="handlerCallPinpad()" (click)="cargaBancos()" data-dismiss="modal">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="uiv-animate" ui-view></div>
-->
    <div id="modalErrorMessage" class="modal fade" data-backdrop="static" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-error">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>
                        <label id="errorMensaje"></label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


</div>