
  <h2 class="text-center deleteMargin-h2 padding-barToTittle">Operaci&oacute;n exitosa</h2>
  <div class="row padding-TittleToFieldset padding-InFieldset">
    <div class="col-md-6 col-sm-6 col-md-offset-3 background-Confirmacion padding-bgWhite">
      <div class="row padding-labelToInput">
        <div class="col-lg-6" align="right">
        <strong>Instituci&oacute;n:</strong>
      </div>
        <div class="col-lg-6">
   	    	<label >{{detallePago.institucion}}</label>
        </div>
      </div>
      <div class="row padding-labelToInput">
          <div class="col-lg-6" align="right">
              <strong>Operaci&oacute;n: </strong>  
        </div>
          <div class="col-lg-6">
             <label >{{detallePago.operacion}}</label>
          </div>
        </div>
      <div class="row padding-labelToInput">
        <div class="col-lg-6" align="right">
        <strong>Fecha de operaci&oacute;n:</strong>
        </div>
      <div class="col-lg-6 ">
       	<label >{{detallePago.fechaOperacion}}</label>
       </div>
      </div>
        <div class="row padding-labelToInput">
        <div class="col-lg-6" align="right">
        <strong>Clave de rastreo:</strong>
        </div>
         <div class="col-lg-6">
        <label> {{detallePago.claveRastreo}}</label>
     </div>
      </div> 
        <div class="row padding-labelToInput">
          <div class="col-lg-6" align="right">
        <strong>Comisi&oacute;n e IVA:</strong>
        </div>
        <div class="col-lg-6">
       <label>{{detallePago.comisioneiva}}</label>
     </div>
      </div>
        <div class="row padding-labelToInput">
        <div class="col-lg-6" align="right">
        <strong>Cuenta origen:</strong>
         </div>
        <div class="col-lg-6">
        <label>{{detallePago.cuentaOrigen}}</label>
      </div>
      </div>
      <div class="row padding-labelToInput">
          <div class="col-lg-6" align="right">
          <strong>Cuenta destino:</strong>
           </div>
          <div class="col-lg-6">
          <label>{{detallePago.cuentaDestino}}</label>
        </div>
        </div>
       <div class="row padding-labelToInput">
        <div class="col-lg-6" align="right">
        <strong>Hora de Operaci&oacute;n:</strong>
        </div>
        <div class="col-lg-6">
       <label>{{detallePago.horaOperacion}}</label>
      </div>
      </div>
        <div class="row padding-labelToInput">
          <div class="col-lg-6" align="right">
        <strong>Importe:</strong>
        </div>
        <div class="col-lg-6">
       <label>{{detallePago.importe}}</label>
       </div>
      </div>
  </div>
</div>
<div class="row">
 <div class="col-md-6 col-sm-6 col-md-offset-3" style="padding-right: 0px;">
    <button class="btn btn-primary pull-right btn-lg"  (click)="irMenuBXI()">
      Terminar
    </button>
  </div>
</div>
