<div class="container">
    <h2>Editar beneficiario</h2>
    <h4>Utiliza el teclado para llenar los siguientes campos</h4>
    <br/>

    <form novalidate name="currentForm" method="post" autocomplete="off">
        <div class="row kiosk-form-container">
            <div class="row">

                <div class="form-group col-lg-3 col-md-3" ng-class="{
                      'has-error':  currentForm.nombreBeneficia.$invalid && currentForm.nombreBeneficia.$dirty,
                      'has-success': currentForm.nombreBeneficia.$valid}">
                    <label class="control-label align-right klabel">Nombre beneficiario</label>
                    <input name="nombreBeneficia" type="text" class="form-control input-lg" placeholder=""
                           ng-model="command.nombreBeneficia"
                           ng-required="true"
                           maxlength="60"/>
                </div>

                <div class="form-group col-lg-3 col-md-3" ng-class="{
                      'has-error':  currentForm.apPaternoBenef.$invalid && currentForm.apPaternoBenef.$dirty,
                      'has-success': currentForm.apPaternoBenef.$valid}">
                    <label class="control-label align-right klabel">Apellido Paterno</label>
                    <input name="apPaternoBenef" type="text" class="form-control input-lg" placeholder=""
                           ng-model="command.apPaternoBenef"
                           ng-required="true"
                           maxlength="60"/>
                </div>

                <div class="form-group col-lg-3 col-md-3" ng-class="{
                      'has-error':  currentForm.apMaternoBenef.$invalid && currentForm.apMaternoBenef.$dirty,
                      'has-success': currentForm.apMaternoBenef.$valid}">
                    <label class="control-label align-right klabel">Apellido Materno</label>
                    <input name="apMaternoBenef" type="text" class="form-control input-lg" placeholder=""
                           ng-model="command.apMaternoBenef"
                           ng-required="true"
                           maxlength="60"/>
                </div>

                <div class="form-group col-lg-3 col-md-3" ng-class="{
                      'has-error':  currentForm.fisicaMoral.$invalid && currentForm.fisicaMoral.$dirty,
                      'has-success': currentForm.fisicaMoral.$valid}">
                    <label class="control-label align-right klabel">Tipo de persona</label>
                    <select name="fisicaMoral" class="form-control input-lg" ng-model="command.fisicaMoral"
                            ng-required="true">
                        <option value="">Seleccione un banco</option>
                        <option value="F">Fisica</option>
                        <option value="M">Moral</option>
                    </select>
                </div>


            </div>

            <div class="row">

                <div class="form-group col-lg-4 col-md-4" ng-class="{
                      'has-error':  currentForm.registroFederal.$invalid && currentForm.registroFederal.$dirty,
                      'has-success': currentForm.registroFederal.$valid}">
                    <label class="control-label align-right klabel">RFC</label>
                    <input type="text" numbers class="form-control input-lg" placeholder=""
                           ng-model="command.registroFederal" name="registroFederal"
                           ng-pattern="/^[A-Za-z]{4}[ |\-]{0,1}[0-9]{6}[ |\-]{0,1}[0-9A-Za-z]{3}$/"/>
                </div>

                <div class="form-group col-lg-3 col-md-3" ng-class="{
                      'has-error':  currentForm.parentesco.$invalid && currentForm.parentesco.$dirty,
                      'has-success': currentForm.parentesco.$valid}">
                    <label class="control-label align-right klabel">Parentezco</label>
                    <input name="parentesco" type="text" class="form-control input-lg" placeholder=""
                           ng-model="command.parentesco"
                           ng-required="true"
                           maxlength="60"/>
                </div>

                <div class="form-group col-lg-3 col-md-3" ng-class="{
                      'has-error':  currentForm.fechaNacimiento.$invalid && currentForm.fechaNacimiento.$dirty,
                      'has-success': currentForm.fechaNacimiento.$valid}">
                    <label class="control-label align-right klabel">Fecha de nacimiento</label>
                    <input name="fechaNacimiento" type="text" class="form-control input-lg" placeholder=""
                           ng-model="command.fechaNacimiento"
                           ng-required="true"
                           maxlength="60"/>
                </div>

                <div class="form-group col-lg-2 col-md-2" ng-class="{
                      'has-error':  currentForm.porcentajeBenef.$invalid && currentForm.porcentajeBenef.$dirty,
                      'has-success': currentForm.porcentajeBenef.$valid}">
                    <label class="control-label align-right klabel">Porcentaje</label>
                    <input name="porcentajeBenef" id="porcentajeBenef" type="text" step="0.01" ng-required="true"
                           class="form-control amount input-lg" ng-model="command.porcentajeBenef" ng-min="1"
                           ng-max="100" invalid-popover="Solo se admite numeros y un maximo de 100."
                           invalid-popover-placement="auto"
                            />
                </div>

            </div>

            <!--
            <div class="row">
                <div class="checkbox">
                    <input id="chkNotificacion" type="checkbox" ng-model="isDomicilioIgual" checked
                           ng-click="onShowDomicilioClick()"/>
                    <label for="chkNotificacion">Utilizar mismo domicilio que el titular</label>
                </div>
            </div>
            -->
        </div>


    </form>
</div>

<div class="kiosk-actions">
    <div class="row">
        <a class="btn btn-kiosk btn-kiosk-next pull-right" ng-if="isDomicilioIgual" ng-disabled="currentForm.$invalid"
           ng-click="onEditGuardarBeneficiarioClick()">GUARDAR
            BENEFICIARIO</a>
        <a class="btn btn-kiosk btn-kiosk-next pull-right" ng-if="!isDomicilioIgual" ui-sref="kiosk.mc.benef.edit-2"
           ng-disabled="currentForm.$invalid">SIGUIENTE</a>
        <a class="btn btn-kiosk btn-kiosk-back pull-left" ui-sref="kiosk.mc.benef.home">CANCELAR</a>
    </div>
</div>
