<div ng-cloak>
  <div class="page-header">
    <h2>Transferencia cuentas propias</h2>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-md-offset-4">
      <form name="currentForm" novalidate>
        <div class="form-group" ng-show="account.uty=='A' && account.ist">
          <label>Numero de seguridad</label>
          <input type="text" class="form-control" ng-model="challenge.rcg" readonly>
        </div>

        <div class="form-group" ng-class="{
                'has-error':  currentForm.cde.$invalid && currentForm.cde.$dirty,
                'has-success': currentForm.cde.$valid}">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
            </div>
            <input name="cde" type="password" class="form-control" ng-model="cde" placeholder="Contraseña + Token" ng-required="true">
          </div>
        </div>

        <button type="button" class="btn btn-primary pull-right" ng-click="onNext()">
          Continuar
        </button>
        <button type="button" class="btn pull-left" ui-sref="bxi.transfer">
          Cancelar
        </button>
      </form>
    </div>

  </div>

</div>
