<h2 class="text-center">Transferencia r&aacute;pida</h2>
<form novalidate name="currentForm">
  <fieldset>
    <div class="row sumando-form-group">
      <div class="col-sm-1 sumando-bg-red group-name">
        Desde
      </div>
      <div class="col-sm-11 group-controls padding-left-0 padding-right-0">
        <div class="form-group" ng-class="{
        'has-error':  currentForm.originAccount.$invalid && currentForm.originAccount.$dirty,
        'has-success': currentForm.originAccount.$valid}">
          <input type="hidden" name="originAccount" ng-model="command.originAccount" required/>

          <div class="dropdown sumando-dropdown-account">
            <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <table ng-if="command.originAccount" width="100%">
                <tr>
                  <td align="left" width="45%">
                    <strong>{{ command.originAccount.accal }}</strong>
                  </td>
                  <td align="left" width="45%">
                    <strong>{{ command.originAccount.accab | currency }}
                    </strong>
                  </td>
                  <td rowspan="2" width="10%" class="dropdown-caret">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                  </td>
                </tr>
                <tr>
                  <td align="left">Cuenta {{ command.originAccount.acccn | accountmask }}</td>
                  <td align="left">Saldo Disponible</td>
                </tr>
              </table>
              <table ng-if="!command.originAccount" width="100%">
                <tr>
                  <td align="left" rowspan="2">Seleccione una cuenta de origen...</td>
                  <td width="10%" rowspan="2" class="dropdown-caret">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                  </td>
                </tr>
              </table>
            </button>
            <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
              <li ng-repeat="account in ownAccounts" ng-click="setSelectedOriginAccount(account)">
                <a href="javascript:void(0)">{{ account.accal }}</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="row sumando-form-group">
      <div class="col-sm-1 sumando-bg-red group-name ">
        Para
      </div>
      <div class="col-sm-11 group-controls sumando-bg-white padding-top-15">

        <div class="form-group" ng-class="{
    'has-error':  currentForm.destinyAccount.$invalid && currentForm.destinyAccount.$dirty,
    'has-success': currentForm.destinyAccount.$valid}">
          <label class="col-sm-2 control-label">Tipo de cuenta</label>

          <div class="col-sm-10">
            <select class="form-control input-lg" ng-model="command.accountType" required>
              <option value="acnum">Número de Cuenta</option>
              <option value="clabe">CLABE</option>
              <option value="plastico">Tarjeta</option>
              <option value="celular">Celular</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>

        <div ng-if='command.accountType === "acnum"' class="form-group">
          <label class="col-sm-2 control-label">Numero de cuenta</label>

          <div class="col-sm-10">
            <input name="destAccountId" type="text" class="form-control input-lg" ng-model="command.destAccountId" required/>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group" ng-class="{
  'has-error':  currentForm.destinyAccount.$invalid && currentForm.destinyAccount.$dirty,
  'has-success': currentForm.destinyAccount.$valid}" ng-if="command.accountType && (command.accountType !='celular' || command.phone.pho=='Nuevo Celular')">
          <label class="col-sm-2 control-label">Banco Destino</label>

          <div class="col-sm-10">
            <select class="form-control input-lg" ng-model="command.destBank" ng-options="a.nme for a in banks" ng-if="command.accountType !='acnum'" required>
              <option value="">Seleccione un banco</option>
            </select>
            <input type="text" class="form-control input-lg" readonly ng-if="command.accountType === 'acnum'" value="Banorte / IXE" />
          </div>
          <div class="clearfix"></div>
        </div>
        <div ng-if='command.accountType === "clabe"' class="form-group">
          <label class="col-sm-2 control-label">CLABE</label>

          <div class="col-sm-10">
            <input type="text" class="form-control input-lg" ng-model="command.destAccountId" required/>
          </div>
          <div class="clearfix"></div>
        </div>
        <div ng-if='command.accountType === "plastico"' class="form-group">
          <label class="col-sm-2 control-label">Numero de tarjeta</label>

          <div class="col-sm-10">
            <input type="text" class="form-control input-lg" ng-model="command.destAccountId" required/>
          </div>
          <div class="clearfix"></div>
        </div>
        <div ng-if='command.accountType === "celular"' class="form-group">
          <label class="col-sm-2 control-label">Telefono</label>

          <div class="col-sm-10">
            <select class="form-control input-lg" ng-model="command.phone" ng-if="command.accountType =='celular'" ng-options="freqphone.pho for freqphone in frequentPhones" ng-change="command.destBank=getBankFromId(phone.idBk); command.destAccountId = phone.pho">
              <option value="">Seleccione un teléfono celular</option>
            </select>
          </div>
          <div class="clearfix"></div>

        </div>
        <div class="form-group" ng-if="command.accountType =='celular' && command.phone.pho=='Nuevo Celular'">
          <label class="col-sm-2 control-label">Numero de tarjeta</label>

          <div class="col-sm-10">
            <input type="text" numbers class="form-control input-lg" placeholder="" ng-model="command.destAccountId" />
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="form-group" ng-class="{
'has-error':  currentForm.amount.$invalid && currentForm.amount.$dirty,
'has-success': currentForm.amount.$valid}">
          <label class="col-sm-2 control-label">Importe</label>

          <div class="col-sm-10">
            <input name="amount" type="text" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" currency class="form-control amount input-lg" ng-model="command.amount" required />
          </div>
          <div class="clearfix"></div>

        </div>

      </div>


    </div>

    <div class="row sumando-form-group">
      <!--
            <div class="col-lg-12">
              <div class="checkbox">
                <input id="chkNotificacion" type="checkbox" />
                <label for="chkNotificacion">Recibir notificaci&oacute;n de esta operaci&oacute;n</label>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"
                  aria-hidden="true"></span></span>
                  <input type="text" class="form-control" ng-model="account.email" placeholder="Correo">
                </div>


              </div>
              -->
      <!--
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-phone"
                  aria-hidden="true"></span></span>
                  <input type="text" class="form-control" ng-model="command.sms" placeholder="SMS">
                </div>
              </div>
              -->
    </div>

    <div class="row actions-form-group text-right">
      <button class="btn btn-lg" ui-sref="bxi.menu2">Regresar</button>
      <button class="btn btn-primary btn-lg" ng-click="onSiguiente01();" ng-disabled="currentForm.$invalid">Continuar</button>
    </div>

  </fieldset>

</form>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form novalidate name="currentForm1" method="post" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Confirmar pago</h4>
        </div>
        <div class="modal-body">

          <ul class="list-group">
            <li class="list-group-item">
              <label>Cuenta Origen:</label>
              {{ command.originAccount.accal }}
            </li>
            <li class="list-group-item">
              <label>Banco Destino:</label>
              {{ command.destBank.nme }}
            </li>
            <li class="list-group-item">
              <label>Cuenta Destino:</label>
              {{ command.destAccountId }}
            </li>
            <li class="list-group-item">
              <label>Importe:</label>
              {{ command.amount | currency }}
            </li>

          </ul>

          <div class="form-group" ng-show="account.uty=='A' && account.ist">
            <label>Numero de seguridad</label>
            <input type="text" class="form-control input-lg" ng-model="challenge.rcg" readonly>
          </div>
          <div class="form-group" ng-class="{
            'has-error':  currentForm1.cde.$invalid && currentForm1.cde.$dirty,
            'has-success': currentForm1.cde.$valid}">
            <label ng-show="account.uty=='A' && account.ist">Captura tu contraseña y código dinámico Token
            </label>
            <label ng-show="account.uty=='A' && !account.ist">Captura tu contraseña y token</label>
            <label ng-show="account.uty=='B' && !account.ist">Captura tu contraseña</label>
            <input name="cde" type="password" class="form-control input-lg" ng-model="command.cde" ng-required="true">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-lg" ng-click="onProcessTransfer();" ng-disabled="currentForm1.$invalid">
            Confirmar
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
