<script src="./js/validation.js" type="text/javascript">
</script>
<script type="text/javascript" src="./assets/scripts/jquery-ui.js"></script>
<script src="./assets/scripts/jquery.paginate.js" type="text/javascript"></script>

<div class="content">
    <div id="paginationdemo" class="demo">
        <h2 class="text-center color-letra">Mis cuentas</h2>


        <div class="row">
            <div class="col-md-6 col-sm-6 col-xl-6 ">
                <div class="tConsultaSaldos" id="cuentas1" #deposito (click)="cambiarMenu(deposito.id)">
                    Cuentas de dep&oacute;sito
                </div>
                <div class="flecha_abajo" id="flecha1"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xl-6 ">
                <div class="tConsultaSaldos" id="cuentas2" #deposito2 (click)="cambiarMenu(deposito2.id)">
                    Cuentas de cr&eacute;dito
                </div>
                <div class="flecha_abajo" id="flecha2" style='display:none'></div>
            </div>
        </div>

        <!-- Tab panes -->
        <br>
        <fieldset class="padding-TittleToFieldset padding-fieldset-general">
            <div class="row sumando-form-group">

                <div class="col-sm-10 group-controls  padding-InFieldset" style="padding-left: 0px; padding-right:  0px;">
                    <div class="form-group">
                        <div class="sumando-bg-white">
                            <input type="hidden">
                            <div class="dropdown sumando-dropdown-account">
                                <button class="btn btn-default btn-block dropdown-toggle btn-color-cuentas " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding-right: 0px;padding-top: 0px;padding-bottom: 0px">
                    <table id="tableOrigen" style="display: none" width="100%">
                      <tr>
                        <td align="left" width="45%">
                          <strong><label  id="lblAliasOrigen" #lblAliasOrigen></label></strong>
                        </td>
                        <td align="left" width="45%">
                          <strong>$<label id ="lblSaldoOrigen" #lblSaldoOrigen></label>
                          </strong>
                        </td>
                        <td width="5%" rowspan="2" class="dropdown-caret">
                          <img  class="img-select-seleccion" src="./assets/img/bg_selectN.png">
                        </td>
                      </tr>
                      <tr>
                        <td align="left">Cuenta <label id="lblCuentaOrigen" #lblCuentaOrigen></label></td>
                        <td align="left">Saldo Disponible</td>
                      </tr>
                    </table>
                    <table  id="tableDefaultOrigen" width="100%">
                      <tr>
                        <td align="left" rowspan="2" height="100px">Seleccione una cuenta de origen...</td>
                        
                        
                    </tr>
                    </table>
                  </button>
                                <div>
                                    <ul id="ul_Cuentas" #listaCuentas class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1" style="width : 100%; height : 200px; overflow: auto;">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2 group-name2 letranegrita">
                    <div class="row">
                        <div class="flecha_derecha col-sm-3"></div>
                        <div class="col-sm-6" (click)="consultarSaldos()">Ver detalle</div>
                    </div>

                </div>
            </div>

        </fieldset>

        <div class="row actions-form-group text-right padding-right-5">
            <button class="btn btn-default btn-lg" style="margin-right: 15px;" onClick="currentPage.loadMenu();">Regresar</button>
        </div>
    </div>
</div>