<div class="padding-barToTittle">
    <h2 class="text-center deleteMargin-h2 color-letra">Movimientos de cuenta</h2>
</div>

<div id="contenedor" class="padding-fieldset-general ">
    <div ui-view="navbar">
        <div class="row">
            <div class="col-sm-9">
                <div class="row padding-TittleToFieldset padding-InFieldset">
                    <div style="width: 300px" class="col-lg-6 ">
                        <h4 class="color-letra">Selecciona una opci&oacute;n</h4>
                    </div>
                    <div style="width: 980px" class="col-lg-6 text-right">
                        <select class="form-control input-lg selectModificado selColonia" id="account-cicle" (change)="calcularFecha()">
                              <option value="0" #mes >Mes Actual</option>
                              <option value="1" #mes>Mes Anterior</option> 
            </select>
                    </div>
                </div>
                <div class="row padding-top-15">
                    <div class="col-lg-12">
                        <div id="paginador" id="tblDatos" style="display:none">
                            <table class="table table-striped accounts-table">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Descripci&oacute;n</th>
                                    <th>Importe</th>
                                </tr>
                                <tr *ngFor="let movimiento of movimientosCue; let i = index">
                                    <td *ngIf="(i>=numeroDatoInicial) && (i < numeroDatoFinal)">{{movimiento.FechaOperacion|date:'dd/MM/yyyy'}}</td>
                                    <td *ngIf="(i>=numeroDatoInicial) && (i < numeroDatoFinal)">{{movimiento.DescripVariableUno}}</td>
                                    <td *ngIf="(i>=numeroDatoInicial) && (i < numeroDatoFinal)">{{movimiento.Importe| currency}}</td>
                                </tr>

                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="display:none" id="Navegador">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item boton"><a class="page-link" ng-click='setPage(page.no)' (click)="previousPag(numeroDatoFinal)" #algo>Anterior</a></li>
                                        <li class="page-item" *ngFor="let pagina of arrayNumPag"><a class="page-link" #paginaNum (click)="cambiarPagina(paginaNum)">{{pagina + 1}}</a></li>
                                        <li class="page-item"><a class="page-link" (click)="nextPag(numeroDatoFinal)" #algo1>Siguiente</a></li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                        <div class="row text-center accounts-pager" id="navPag">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 panel-account-detail-mca margin-panelAccount" id="Datos">
                <h4 class="color-letra">Tu cuenta</h4>
                <ul class="list-group">
                    <li class="list-group-item list-group-item1">
                        <strong>Tipo de cuenta</strong>
                        <samp id="txtTitular">{{tipoCuenta}}</samp>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <strong>No. de Cuenta:</strong>
                        <samp id="txtCuenta">{{cuentaClienteBXI}}</samp>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <strong>No. de Tarjeta</strong>
                        <samp id="txtTarjeta">{{noTarjeta}}</samp>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <strong>Divisa</strong>
                        <samp id="txtDivisa">{{divisa}}</samp>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <strong id="cuentaDebito" style="display: none">Saldo disponible:</strong>
                        <strong id="cuentaCredito" style="display: none">Credito Diponible:</strong>
                        <samp id="txtSaldoDisponible">{{saldoDispoinible | currency}}</samp>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div style="margin:30px 0px 0px 0px;" class="row">
    <div class="col-lg-10"></div>
    <div class="col-lg-2">
        <div class="row">
            <div style=" padding: 0px;" class="col-lg-9">
                <button class="btn btn-danger  btn-lg letranegrita pull-right" routerLink="/menuBXI">
                Regresar
            </button>
            </div>
        </div>
    </div>
</div>

<div id="noMovimientosMesActual" class="modal fade">
    <div class="modal-dialog modal-dialog-error">
        <div class="modal-content">
            <div class="modal-body" style="margin-left: 25px; margin-right: 25px;">
                <h4 class="color-letra">Aviso</h4>
                <p id="mnsErrorModal">Estimado cliente, No existen movimientos en el mes actual.</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="currentPage.loadMenu()">Salir</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="noMovimientosMesAnterior" class="modal fade">
    <div class="modal-dialog modal-dialog-error">
        <div class="modal-content">
            <div class="modal-body" style="margin-left: 25px; margin-right: 25px;">
                <h4 class="color-letra">Aviso</h4>
                <p id="mnsErrorModal">Estimado cliente, No existen movimientos en el mes anterior.</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="currentPage.loadMenu()">Salir</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="timeOut" class="modal fade">
    <div class="modal-dialog modal-dialog-error">
        <div class="modal-content">
            <div class="modal-body" style="margin-left: 25px; margin-right: 25px;">
                <h4 class="color-letra">Aviso</h4>
                <p id="mnsErrorModal">Estimado cliente, Por el momento este servicio no está disponible, favor de intentar de nuevo más tarde.</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="currentPage.loadMenu()">Salir</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>