<div class="container">
    <h2>Activar servicio de envio electronico de correspondencia</h2>
    <h4>Utiliza el teclado para llenar los siguientes campos.</h4>
    <br/>
    <br/>
    <br/>
    <form novalidate name="currentForm" method="post" autocomplete="off">
        <br/>
        <div class="row kiosk-form-container padding-top-30">

            <div class="form-group" ng-class="{
                      'has-error':  currentForm.email.$invalid && currentForm.email.$dirty,
                      'has-success': currentForm.email.$valid}">
                <label class="col-lg-4 col-md-4 control-label align-right klabel">Correo electrónico</label>

                <div class="col-lg-8 col-md-8">
                    <input name="email" type="text" class="form-control input-lg" placeholder="" ng-model="command.email" ng-required="true" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" invalid-popover="Debe escribir una cuenta de correo valida." invalid-popover-placement="auto"
                           maxlength="60" />
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="form-group" ng-class="{
                      'has-error':  currentForm.confirmar_email.$invalid && currentForm.confirmar_email.$dirty,
                      'has-success': currentForm.confirmar_email.$valid}">
                <label class="col-lg-4 col-md-4 control-label align-right klabel">Confirma correo electrónico</label>

                <div class="col-lg-8 col-md-8">
                    <input name="confirmar_email" type="text" class="form-control input-lg" placeholder="" ng-model="command.confirmar_email" ng-match="command.email" ng-required="true" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" invalid-popover-html="Las cuentas de correo deben coincidir."
                           invalid-popover-placement="auto" maxlength="60" />
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </form>
</div>

<div class="kiosk-actions">
    <div class="row ">
        <a class="btn btn-kiosk btn-kiosk-back pull-left" ui-sref="kiosk.mc.home">REGRESAR</a>
        <a class="btn btn-kiosk btn-kiosk-next pull-right" ng-click="onActivateEmailClick()" ng-disabled="currentForm.$invalid">ACTIVAR</a>
    </div>
</div>