<div class="form-group">
  <label>Cuenta Origen</label>
  <input type="text" class="form-control" ng-model="command.ccOriginAccount.accal" readonly>
</div>

<div class="form-group">
  <label>Tarjeta Destino</label>
  <input type="text" class="form-control" ng-model="command.ccDestinyAccount.accal" readonly>
</div>

<div class="form-group">
  <label>Importe</label>
  <input type="text" class="form-control" ng-model="command.amount | currency" readonly>
</div>

<div class="form-group" ng-show="account.uty=='A' && account.ist">
  <label>Numero de seguridad</label>
  <input type="text" class="form-control" ng-model="challenge.rcg" readonly>
</div>

<div class="form-group" ng-class="{
                'has-error':  currentForm.password.$invalid && currentForm.password.$dirty,
                'has-success': currentForm.password.$valid}">
  <label>Contraseña + Token</label>
  <input name="password" type="password" class="form-control" ng-model="password" ng-required="true">
</div>

<button type="submit" class="btn btn-primary pull-right">
  Aceptar
  <span class="glyphicon glyphicon-circle-arrow-right"></span>
</button>
<button type="button" class="btn pull-left" ui-sref="bxi.payment.cc.third.accounts">
  Regresar
</button>