<div class="container">
    <h2>Pagar servicios</h2>
    <h4>Utiliza el teclado para llenar los siguientes campos</h4>
    <br/>

    <form novalidate name="currentForm">
        <fieldset>
            <div class="row sumando-form-group ">
                <div class="group-controls">

                    <div class="form-group" ng-if="payee_detail.reciboPago.rUn != '00' && payee_detail.reciboPago.rUnN"
                         ng-class="{
                      'has-error':  currentForm.ref01.$invalid && currentForm.ref01.$dirty,
                      'has-success': currentForm.ref01.$valid}">
                        <label class="col-md-3 col-lg-3 control-label klabel text-right">{{payee_detail.reciboPago.rUnN}}</label>

                        <div class="col-md-9 col-lg-9">
                            <input type="text" class="form-control input-lg" ng-model="command.ref01" name="ref01"
                                   ng-required="true" ng-payee-field-validator="{{payee_detail.reciboPago.rUn}}"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group" ng-if="payee_detail.reciboPago.rDo != '00' && payee_detail.reciboPago.rDoN"
                         ng-class="{
                      'has-error':  currentForm.ref02.$invalid && currentForm.ref02.$dirty,
                      'has-success': currentForm.ref02.$valid}">
                        <label class="col-lg-3 col-md-3 control-label klabel text-right">{{payee_detail.reciboPago.rDoN}}</label>

                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control input-lg" ng-model="command.ref02" name="ref02"
                                   ng-payee-field-validator="{{payee_detail.reciboPago.rDo}}"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group" ng-if="payee_detail.reciboPago.rTr != '00' && payee_detail.reciboPago.rTrN"
                         ng-class="{
                      'has-error':  currentForm.ref03.$invalid && currentForm.ref03.$dirty,
                      'has-success': currentForm.ref03.$valid}">
                        <label class="col-lg-3 col-md-3 control-label klabel text-right">{{payee_detail.reciboPago.rTrN}}</label>

                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control input-lg" ng-model="command.ref03" name="ref03"
                                   ng-payee-field-validator="{{payeeDetail.reciboPago.rTr}}"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group" ng-if="payee_detail.reciboPago.rCu != '00' && payee_detail.reciboPago.rCuN"
                         ng-class="{
                      'has-error':  currentForm.ref04.$invalid && currentForm.ref04.$dirty,
                      'has-success': currentForm.ref04.$valid}">
                        <label class="col-lg-3 col-md-3 control-label klabel text-right">{{payee_detail.reciboPago.rCuN}}</label>

                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control input-lg" ng-model="command.ref04" name="ref04"
                                   ng-payee-field-validator="{{payee_detail.reciboPago.rCu}}"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group"
                         ng-if="payee_detail.reciboPago.rCi != '00' && payee_detail.reciboPago.rCiN"
                         ng-class="{
                      'has-error':  currentForm.dueDate.$invalid && currentForm.dueDate.$dirty,
                      'has-success': currentForm.dueDate.$valid}">

                        <label class="col-md-3 col-lg-3 control-label klabel text-right">Fecha vencimiento</label>

                        <div class="col-md-5 col-lg-5">
                            <input type="text" class="form-control input-lg" ng-model="command.dueDate"
                                   name="dueDate" placeholder="yyyy-mm-dd"
                                   ng-pattern="/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/" ng-required="true"
                                   invalid-popover="La fecha es invalida, la fecha debe estar en formato yyyy-mm-dd. Ejemplo: 2015-10-21."
                                   invalid-popover-placement="auto"/>
                        </div>

                        <div class="clearfix"></div>
                    </div>


                    <div class="form-group"
                         ng-class="{
                      'has-error':  currentForm.amount.$invalid && currentForm.amount.$dirty,
                      'has-success': currentForm.amount.$valid}">
                        <label class="col-lg-3 col-md-3 control-label klabel text-right">Importe</label>

                        <div class="col-lg-9 col-md-9">
                            <input name="amount" id="amount" type="text" step="0.01" currency ng-required="true"
                                   class="form-control amount input-lg" ng-model="command.amount" ng-min="1"
                                   ng-max="7000" invalid-popover="Solo se admite numeros y un maximo de 7000."
                                   invalid-popover-placement="auto"
                                    />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <br/>
                </div>
            </div>
        </fieldset>
    </form>

</div>

<div class="kiosk-actions">
    <div class="row ">
        <a class="btn btn-kiosk btn-kiosk-back pull-left" ui-sref="kiosk.pts.payee">CANCELAR</a>
        <a class="btn btn-kiosk btn-kiosk-next pull-right" ng-click="onPTSValidatePayment()" ng-disabled="itemsSelected.length == 0">PAGAR</a>
    </div>
</div>
