<div class="container">
  <h2>Pagar servicios</h2>
  <h4>Selecciona o busca el servicio que desea pagar</h4>
  <br/>
  <div class="row">
    <div class="col-lg-4 col-md-4 text-right">
        Buscar otro Facturador/Servicio
    </div>
    <div class="col-lg-8 col-md-8">
        <input type="text" ng-model="payee_search" ng-change="onPayeeSearchChange(this)" ng-model-options="{debounce: 3000}" class="form-control"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4" ng-repeat="item in payee_list | startFrom:currentPage*pageSize | limitTo:pageSize" >
      <div class="kiosk-payee-item vertical-align" ng-click="onPayeeClick(item)">
        <div class="text-center">
          {{ item.descripcion }}</div>
      </div>
    </div>
  </div>
  <div class="row text-center accounts-pager">
    <a ng-click="currentPage=currentPage-1" ng-hide="currentPage == 0">
      <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <a ng-hide="currentPage >= numberOfPages()" ng-click="currentPage=currentPage+1">
      <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
    </a>
  </div>
</div>

<div class="kiosk-actions">
  <div class="row ">
    <a class="btn btn-kiosk btn-kiosk-back pull-left" ng-click="onLogout()">CANCELAR</a>
  </div>
</div>
