<div class="container">
    <h2>Pagar Servicios</h2>
    <h4>Por favor, revisa y confirma que los datos sean correctos</h4>
    <br/>

    <div class="row">
        <div class="col-lg-6 col-md-6 text-right klabel">
            Cuenta origen:
        </div>
        <div class="col-lg-6 col-md-6">
            {{ account.datosPersonales.numeroCuenta }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 text-right klabel">
            Servicio:
        </div>
        <div class="col-lg-6 col-md-6">
            {{ validation.reciboPago.chF }}
        </div>
    </div>
    <div class="row" ng-if="payee_detail.reciboPago.rUn != '00' && payee_detail.reciboPago.rUnN">
        <div class="col-lg-6 col-md-6 text-right klabel">
            {{validation.reciboPago.rUnN}}:
        </div>
        <div class="col-lg-6 col-md-6">
            {{ command.ref01 }}
        </div>
    </div>
    <div class="row" ng-if="payee_detail.reciboPago.rDo != '00' && payee_detail.reciboPago.rDoN">
        <div class="col-lg-6 col-md-6 text-right klabel">
            {{validation.reciboPago.rDoN}}:
        </div>
        <div class="col-lg-6 col-md-6">
            {{ command.ref02 }}
        </div>
    </div>
    <div class="row" ng-if="payee_detail.reciboPago.rTr != '00' && payee_detail.reciboPago.rTrN">
        <div class="col-lg-6 col-md-6 text-right klabel">
            {{validation.reciboPago.rTrN}}:
        </div>
        <div class="col-lg-6 col-md-6">
            {{ command.ref03 }}
        </div>
    </div>
    <div class="row" ng-if="payee_detail.reciboPago.rCu != '00' && payee_detail.reciboPago.rCuN">
        <div class="col-lg-6 col-md-6 text-right klabel">
            {{validation.reciboPago.rCuN}}:
        </div>
        <div class="col-lg-6 col-md-6">
            {{ command.ref04 }}
        </div>
    </div>
    <div class="row" ng-if="payee_detail.reciboPago.rCi != '00' && payee_detail.reciboPago.rCiN">
        <div class="col-lg-6 col-md-6 text-right klabel">
            Fecha vencimiento:
        </div>
        <div class="col-lg-6 col-md-6">
            {{ command.dueDate }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 text-right klabel">
            Importe neto:
        </div>
        <div class="col-lg-6 col-md-6">
            {{ validation.reciboPago.mNP | currency }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 text-right klabel">
            Iva:
        </div>
        <div class="col-lg-4 col-md-4">
            {{ validation.reciboPago.iva | currency }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 text-right klabel">
            Comision:
        </div>
        <div class="col-lg-6 col-md-6">
            {{ validation.reciboPago.coC | currency }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 text-right klabel">
            Importe total:
        </div>
        <div class="col-lg-6 col-md-6">
            {{ validation.reciboPago.toP | currency }}
        </div>
    </div>

</div>

<div class="kiosk-actions">
    <div class="row ">
        <a class="btn btn-kiosk btn-kiosk-back pull-left" ui-sref="kiosk.pts.payee">REGRESAR</a>
        <a class="btn btn-kiosk btn-kiosk-next pull-right" ng-click="onProcessPayment();" ng-disabled="itemsSelected.length == 0">REALIZAR PAGO</a>
    </div>
</div>
