<div ng-cloak class="padding-barToTittle">
    <h2 class="text-center  color-letra">Transferencia a cuenta banorte exitosa</h2>
</div>

<fieldset align="center" class="padding-TittleToFieldset padding-fieldset-general">
    <div class="well sumando-well-white">
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Fecha de operaci&oacute;n:</strong>
            </div>
            <div class="col-lg-6" align="left">
                <label>{{detallePago.FechaOperacion | date:'dd/MM/yyyy'}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Hora de Operaci&oacute;n:</strong>
            </div>
            <div class="col-lg-6" align="left">
                <label>{{detallePago.HoraOperacion}}</label>
            </div>
        </div>
        <!-- ------------------------------------------------ -->
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Titular cuenta abono:</strong>
            </div>
            <div class="col-lg-6" align="left">
                <label> {{detallePago.TitularAbono}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Importe:</strong>
            </div>
            <div class="col-lg-6" align="left">
                <label>{{detallePago.ImporteTotTraspaso | currency}}</label>
            </div>
        </div>



    </div>
    <div style="margin:30px 0px 0px 0px;" class="row">
        <div style=" padding: 0px;" class="col-sm-12">
            <button id="terminar" class="color-botones btn btn-lg pull-right " (click)="irMenuTDD()">
      Terminar
    </button>
        </div>
    </div>

</fieldset>