<h2 class="text-center deleteMargin-h2 color-letra">

    Comprar tiempo aire</h2>

<fieldset class="padding-TittleToFieldset padding-fieldset-general">
    <div class="row sumando-form-group letranegrita">
        <div class="col-sm-1 sumando-bg-red group-name" style="height: 66px;">
            Desde
        </div>
        <div class="col-sm-11 group-controls padding-InFieldset" style="padding-left: 0px; padding-right:  0px;">
            <div class="form-group">
                <div class="sumando-dropdown-account">
                    <table width="100%" class="letranegrita">
                        <tr>
                            <td align="left" width="40%" style="border: 0px">CUENTA ENLACE PERSONAL <strong>
                                                                                </strong>
                            </td>
                            <td align="left" style="border: 0px">
                                <strong>
                                            <label>{{saldoClienteTdd | currency}}
                                            </label>
                                        </strong>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="border: 0px; font-weight: normal;">Cuenta
                                <label> {{mostrarCuentaMascara}}</label>
                            </td>
                            <td align="left" style="border: 0px; font-weight: normal">Saldo Disponible
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>

    <form [formGroup]="forma">

        <div class="row sumando-form-group letranegrita">
            <div class="col-sm-1 sumando-bg-red group-name">
                Para
            </div>
            <div class="col-sm-11 sumando-well-white">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label class="control-label">Selecciona un operador de telefon&iacute;a celular</label>
                    </div>
                    <!-- <div id="atributo" class="col-lg-2 "> -->
                    <div id="carriersDiv" class="row col-sm-8" style="height:60px; width:1200px;">
                        <input type="hidden" id="carrier" name="carrier" />
                        <div [ngClass]="{'Telcel col-sm-2': true , 'border border-danger': blClassT}">
                            <img src="./assets/img/7000.png" style="display: inline-block; float: center !important;" class="imagenTelcel compTelefonica" #importeTelcel id="imagenTelcel" name='importeTelcel' ngDefaultControl formControlName="operador" (click)="cargaSaldo(importeTelcel)"
                            />
                        </div>
                        <div [ngClass]="{'Movistar col-sm-2': true , 'border border-danger': blClassM}">
                            <img src="./assets/img/11000.png" style="display: inline-block;float: left;" class="imagenMovistar compTelefonica" #importeMovi id="importeMovi" name='importeMovi' ngDefaultControl (click)="cargaSaldo(importeMovi)" />
                        </div>
                        <div [ngClass]="{'Unefon col-sm-2': true , 'border border-danger': blClassU}">
                            <img src="./assets/img/5000.png" style="display: inline-block;float: left;" class="imagenUnefon compTelefonica" #importeUnefon id="importeUnefon" name='importeUnefon' ngDefaultControl (click)="cargaSaldo(importeUnefon)" />
                        </div>
                        <div [ngClass]="{'Iusacell col-sm-2': true , 'border border-danger': blClassI}">
                            <img src="./assets/img/6000.png" style="display: inline-block;float: left;" class="imagenIusacell compTelefonica" #importeIusa id="importeIusa" name='importeIusa' ngDefaultControl (click)="cargaSaldo(importeIusa)" />
                        </div>
                    </div>

                    <style>
                        .disabledbutton {
                            pointer-events: none;
                            opacity: 0.4;
                        }
                    </style>

                </div>

                <div class="row padding-InFieldset">
                    <label style="width: 8.3%;" class="col-sm-2 control-label">Monto</label>
                    <div class="col-sm-1 amount-list" *ngFor="let recarga of recargas; let i = index">

                        <label formControlName="importe" ngDefaultControl #importe id="{{recarga.ImporteTiempoAire}}" (click)="cargaImporte(importe)">{{recarga.ImporteTiempoAire | currency}}</label>

                        <div id="botonMontos" style="display:none; ">
                            <div id="muestraMontos" name="muestraMontos" class="btn-group" role="group">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding-InFieldset amount-list">
                    <label class="col-sm-2 control-label">Tel&eacute;fono</label>

                    <div class="col-sm-10">
                        <input formControlName="telefono" id="telefono" #telefonoF name="telefono" [matKeyboard]="'num'" type="text" class="input-whidth form-control amount input-lg" />
                        <div class="alert-danger" *ngIf="(forma.get('telefono').errors  && forma.get('telefono').touched)">
                            <p color="danger" *ngIf="forma.get('telefono').hasError('required')">Ingrese número de teléfono.</p>
                            <p color="danger" *ngIf="forma.get('telefono').hasError('pattern')">Dato incorrecto, favor de verificar.</p>
                            <p color="danger" *ngIf="forma.get('telefono').hasError('minlength') || forma.get('telefono').hasError('maxlength')">El numero telefonico debe ser a 10 digitos.</p>
                        </div>
                    </div>
                </div>
                <!--
                <div class="row ">
                    <label class="col-sm-2 control-label">Correo a notificar</label>

                    <div class="col-sm-10">
                        <input formControlName="email" id="email" name="email" type="text" class="input-whidth form-control input-lg" placeholder="" maxlength="60" />
                        <div *ngIf="forma.hasError('pattern', 'email') && !forma.get('email').untouched" class="alert alert-danger">
                            El correo electronico es incorrecto.
                        </div>
                        <div *ngIf="forma.hasError('required', 'email') && forma.get('email').touched" class="alert alert-danger">
                            Este dato es obligatorio.
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div> -->
            </div>
        </div>

        <div class="row actions-form-group " style="margin:30px 20px 0px 0px;">
            <div class="col-sm-11">
                <button class="btn btn-lg pull-right" [routerLink]="['/menuTdd']">Regresar</button>
            </div>
            <div class="col-sm-1">
                <button id="continuar" [disabled]="!forma.valid" class="btn color-botones btn-lg pull-left" type="submit" data-toggle="modal" (click)="validarSaldo()">Continuar</button>
            </div>
        </div>

    </form>

</fieldset>

<!-- Modal -->
<!--hasta aqui revise fade-->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadowModal" style="height: 300px; width: 550px;">
            <div class="modal-body" style="padding: 2rem;">
                <h4 class="padding-barToTittle deleteMargin-h2" style="color: #B01657; font-weight: 700; margin-top: -50px;">Confirma tu compra de tiempo aire</h4>
                <div class="modal-body modal-body-aux" style="left: -15px;">

                    <div class="row">
                        <div class="col-lg 6">
                            <label>Operador:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{ operador}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>Importe:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{ importe | currency }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg 6">
                            <label>N&uacute;mero de celular:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{ forma.get('telefono').value }}</label>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-lg 6">
                            <label>Correo:</label>
                        </div>
                        <div class="col-lg 6">
                            <label>{{ forma.get('email').value }}</label>
                        </div>
                    </div> -->
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-lg letranegrita" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="handlerCallPinpad()" (click)="trnasrecargaTA()" class="btn btn-danger btn-lg letranegrita" style="margin-right: -19px;" data-dismiss="modal">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uiv-animate" ui-view></div>

<div id="modalErrorMessage" class="modal fade" data-backdrop="static" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-error">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    <label id="errorMensaje"></label>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onClick="currentPage.loadMenu();">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>