<div ng-cloak class="padding-barToTittle">
    <h2 class="text-center  color-letra">Actualizaci&oacute;n exitosa</h2>
</div>

<fieldset align="center" class="padding-TittleToFieldset padding-fieldset-general">
    <div class="well sumando-well-white">
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Nombre cliente:</strong>
            </div>
            <div class="col-lg-6" align="left">
                <label>{{NombreUser}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Numero de cliente:</strong>
            </div>
            <div class="col-lg-6" align="left">
                <label>{{Sic}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Fecha de operaci&oacute;n:</strong>
            </div>
            <div class="col-lg-6" align="left">
                <label>{{fechaMesActualFin}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="right">
                <strong>Hora de operaci&oacute;n:</strong>
            </div>
            <div class="col-lg-6" align="left">
                <label>{{hora}}</label>
            </div>
        </div>
        <!-- ------------------------------------------------ -->
        <div id="celular" style="display:none">
            <div class="row">
                <div class="col-lg-6" align="right">
                    <strong>N&uacute;mero de celular:</strong>
                </div>
                <div class="col-lg-6" align="left">
                    <label>{{Celular}} </label>
                </div>
            </div>
        </div>
        <div id="correo" style="display:none">
            <div class="row">
                <div class="col-lg-6" align="right">
                    <strong>Correo electr&oacute;nico:</strong>
                </div>
                <div class="col-lg-6" align="left">
                    <label>{{CorreoElectronico}}</label>
                </div>
            </div>

            <br>
            <div class="row" id="correo2">
                <div class="col-lg-12" align="center">
                    Tu nuevo correo estar&aacute; disponible en 48 horas.
                </div>
            </div>
        </div>

    </div>
    <div style="margin:30px 0px 0px 0px;" class="row">
        <div style=" padding: 0px;" class="col-sm-12">
            <button id="terminar" class="color-botones btn btn-lg pull-right " (click)="irMenuTDC()">
    Terminar
  </button>
        </div>
    </div>

</fieldset>