<div class="padding-barToTittle">
    <h2 class="text-center deleteMargin-h2 color-letra">Activar alertas Banorte</h2>
</div>
<fieldset class="padding-TittleToFieldset padding-fieldset-general">
    <div class="row sumando-form-group letranegrita">
        <div class="col-sm-1 sumando-bg-orange group-name">Desde</div>
        <div class="col-sm-11 group-controls padding-left-0 padding-right-0 sumando-well-white">
            <div class="form-group ">

                <div class="sumando-dropdown-account">
                    <button style="width: 100% !important;" class="letranegrita fondoblanco btn btn-default btn-block dropdown-toggle" type="button">
                  <table width="100%" class="letranegrita">
                    <tr>
                      <td align="left"  width="40%" >Suma - <strong>
                          <label id="Cuenta"  for="amount" >
                          </label>
                        </strong>
                      </td>
                      <td align="left" width="40%">
                        <strong>
                          <label id="saldoDisponible" for="amount" >$</label> 
                        </strong>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" id="numeroCuenta" >Cuenta<label  for="amount">
                        </label>
                      </td>
                      <td align="left" width="40%">
                          <strong>
                            <label for="amount" >Saldo Disponible</label> 
                          </strong>
                        </td>
                    </tr>
                  </table>
                </button>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="padding-TittleToFieldset padding-fieldset-general">
    <div align="center" class="well sumando-well-white col-sm-12">

        <div class="col-sm-5" align="left">
            <label>No tienes activadas las alertas para la cuenta</label>
            <label id="cuenta">.</label>
        </div>

        <br>
        <br>

        <div class="col-sm-12" align="left">
            <label class="">¿Deseas activar el servicio de alertas?</label>

        </div>
        <div class="col-sm-12" align="left">
            <input type="checkbox" id="cbox1" /> <label align="center" for="cbox1">Si</label>
        </div>
    </div>

</fieldset>


<div style="margin:30px 0px 0px 0px;">
    <div class="col-sm-10">
        <button class="btn pull-right btn-lg letranegrita" onClick="hola">
                    Cancelar
                </button>
    </div>
    <div style=" padding: 0px;" class="col-sm-1">
        <button class="btn btn-danger btn-lg letranegrita" onClick="">
                Guardar
            </button>
    </div>
</div>