<form  [formGroup]="myForm" novalidate>
<h2 class="text-center deleteMargin-h2 padding-barToTittle">Pago tarjeta de cr&eacute;dito </h2>
<fieldset class="padding-fieldset-general padding-TittleToFieldset">
 <div class="row sumando-form-group"> 
     <div class="col-sm-1 sumando-bg-orange group-name">
       Tipo 
     </div>
     <div class="col-sm-11 group-controls padding-left-0 padding-right-0 padding-InFieldset">
        
          <select class="selectModificado" #rcbFiltro (change)="setCuentasBenficiarioXTipo()">
                <option *ngIf='existenPropias' value="5">Propias Banorte</option>
                <option *ngIf='existenTerceros' value="9"> Terceros Banorte</option>
                <option *ngIf='existenExternas' value="2"> Otros Bancos</option>
                <option *ngIf='existenAMEX' value="20"> American Express</option>
            </select>
        
     </div>
 </div>
 <div class="row sumando-form-group padding-InFieldset"> 
     <div class="col-sm-1 sumando-bg-orange group-name">
       Desde 
     </div>
     <div class="col-sm-11 group-controls padding-left-0 padding-right-0" >
        <div class="form-group" >
          <div class="sumando-bg-white">
            <input type="hidden" >
            <div class="dropdown sumando-dropdown-account">
              <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding-right: 0px;padding-top: 0px;padding-bottom: 0px">
              <table id="tableOrigen" style="display: none" width="100%">
                <tr> 
                  <td align="left" width="45%">
                    <strong><label  id="lblAliasOrigen" #lblAliasOrigen></label></strong>
                  </td>
                  <td align="left" width="45%">
                    <strong>$<label id ="lblSaldoOrigen"></label>
                    </strong>
                  </td>
                  <td width="5%" rowspan="2" class="dropdown-caret">
                    <img src="./assets/img/bg_selectN.png" style="width: 90%;    height: 150%;">
                  </td> 
                </tr>
                <tr>
                  <td align="left">Cuenta <label id="lblCuentaOrigen" #lblCuentaOrigen></label></td>
                  <td align="left">Saldo Disponible</td>
                </tr>
              </table> 
              <table  id="tableDefaultOrigen" width="100%">
                <tr>
                  <td align="left" rowspan="2">Seleccione una cuenta de origen...</td>
                  <td width="5%" rowspan="2" class="dropdown-caret">
                    <img src="./assets/img/bg_selectN.png" style="width: 90%;    height: 150%;">
                  </td> 
                </tr>  
              </table>
            </button>  
          <div>
            <ul id="ul_Cuentas" #listaCuentas class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1" style="width: 100%; height: 200px; overflow: auto" >
               
            </ul>
          </div>
          </div>
        </div> 
      </div>
    </div>
   </div>
   <div class="row sumando-form-group padding-InFieldset"> 
      <div class="col-sm-1 sumando-bg-orange group-name">
        Para 
      </div>
      <div class="col-sm-11 group-controls padding-left-0 padding-right-0" >
         <div class="form-group" >
           <div class="sumando-bg-white">
             <input type="hidden" >
             <div class="dropdown sumando-dropdown-account">
               <button class="btn btn-default btn-block dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding-right: 0px;padding-top: 0px;padding-bottom: 0px">
               <table id="tableBeneficiarios" style="display: none" width="100%">
                 <tr> 
                   <td align="left" width="45%">
                     <strong><label  id="lbDescripcionCtaBen" #lbDescripcionCtaBen></label></strong>
                   </td>
                  <!-- <td align="left" width="45%">
                     <strong>$<label id ="lblSaldoOrigen"></label>
                     </strong>
                   </td>-->
                   <td width="5%" rowspan="2" class="dropdown-caret">
                     <img src="./assets/img/bg_selectN.png" style="width: 90%;    height: 150%;">
                   </td> 
                 </tr>
                 <tr>
                   <td align="left">Cuenta <label id="lblCuentaDestino" #lblCuentaDestino></label></td>
                   <!--<td align="left">Saldo Disponible</td-->
                 </tr>
               </table> 
               <table  id="tableDefaultBeneficiarios" width="100%">
                 <tr>
                   <td align="left" rowspan="2">Seleccione una cuenta destino...</td>
                   <td width="5%" rowspan="2" class="dropdown-caret">
                     <img src="./assets/img/bg_selectN.png" style="width: 90%;    height: 150%;">
                   </td> 
                 </tr>  
               </table>
             </button>  
           <div>
             <ul id="ul_CuentasBen" #listaCuentasBeneficiario  class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1" style="width: 100%; height: 200px; overflow: auto" >
                
             </ul>
           </div>
           </div>
         </div> 
       </div>
     </div>
    </div>
   <div class="row">
     <div class="col-lg-11 col-lg-offset-1 sumando-well-white" style="padding-right: 0px;width: 92.0%;padding-bottom: 0px;margin-bottom: 25px;padding-top: 25px">
        <div class="form-group padding-InFieldset" style="margin-bottom: 0px" >
     <div class="row">
       <div class="col-lg-1 padding-labelToInput">
         <label>Importe: </label>
       </div>
        <div class="col-lg-10">
          <input  id="txtImporte" type="text"class="form-control input-lg" #rImporte formControlName="fcImporte" [matKeyboard]="'num'" />
              <div *ngIf="myForm.get('fcImporte').errors  && myForm.get('fcImporte').touched" 
                      class="alert alert-danger">
                      <p color="danger" *ngIf="myForm.get('fcImporte').hasError('required')">importe requerido. </p >
                      <p color="danger"  *ngIf="myForm.get('fcImporte').hasError('pattern')">No es formato solicitado</p>
              </div>
        </div>
     </div>
   </div>
     </div>
   </div>
   <div class="row actions-form-group text-right">
     <button class="btn btn-lg" >Regresar</button>
     <button class="btn btn-primary btn-lg" (click)="confirmaOperacion(rImporte.value)"
     [disabled]="(myForm.get('fcImporte').invalid || (lblAliasOrigen.value == '') || (lblCuentaOrigen.value == '') || (lblCuentaDestino.value == ''))" >
       Continuar
     </button>
   </div>
 </fieldset>
 <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadowModal ">

            <div class="modal-body" style="padding: 2rem;">

                <h4 style="color: #eb012a; font-weight: 700;">Confirmar pago</h4>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Cuenta origen:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{CuentaOrigen}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Cuenta Destino:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{CuentaDestino}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Importe:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>$${{Importe}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 12">
                        <div id="challenger" class="form-group">
                            <label>N&uacute;mero de seguridad</label>
                            <input type='text' id='numeroSeguridad' class='form-control input-lg' ng-model='challenge.rcg' readonly>

                        </div>
                        <div id="divPass" class="form-group">
                            <label>TipoAutentica</label>

                            <input type="password" class="form-control input-lg" #token [matKeyboard]="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                    <button class="color-botones btn btn-lg " (click)="confirmarPago(token.value)">
                            Confirmar
                          </button>
                </div>

            </div>
        </div>
    </div>
</div> 
</form>