<form  [formGroup]="myForm" novalidate>
  <div ng-cloak class="padding-barToTittle">
    <h2 class="text-center color-letra">Pago tarjeta de cr&eacute;dito</h2>
</div>
<fieldset class="padding-fieldset-general padding-TittleToFieldset">
  <div class="row sumando-form-group letranegrita padding-InFieldset">
    <div class="col-sm-1 sumando-bg-red group-name">
       Tipo 
     </div>
     <div class="dropdown sumando-dropdown-account col-sm-11" style="padding-left: 0px; padding-right: 0px;">
        
      <select class="input-whidth selectModificado" #rcbFiltro (change)="setCuentasBenficiarioXTipo();" style=" width: 100%; height: 60px; border:0px solid red;">
                <option value="0" disabled selected> Seleccione el tipo de tarjeta ...</option>
                <option *ngIf='existenPropias' value="5">Propias Banorte</option>
                <option *ngIf='existenTerceros' value="9"> Terceros Banorte</option>
                <option *ngIf='existenExternas' value="2"> Otros Bancos</option>
                <option *ngIf='existenAMEX' value="20"> American Express</option>
            </select>
        
     </div>
 </div>
 <div class="row sumando-form-group letranegrita">
  <div class="col-sm-1 sumando-bg-red group-name">
      Desde
  </div>
  <div class="col-sm-11 group-controls  padding-InFieldset" style="padding-left: 0px; padding-right:  0px;">
      <div class="form-group">
          <div class="sumando-bg-white">
              <input type="hidden">
              <div class="dropdown sumando-dropdown-account">
                  <button class="btn btn-default btn-block dropdown-toggle btn-color-cuentas " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding-right: 0px;padding-top: 0px;padding-bottom: 0px">
      <table id="tableOrigen" style="display: none" width="100%">
        <tr>
          <td align="left" width="45%">
            <strong><label  id="lblAliasOrigen" #lblAliasOrigen></label></strong>
          </td>
          <td align="left" width="45%">
            <strong>$<label id ="lblSaldoOrigen" #lblSaldoOrigen></label>
            </strong>
          </td>
          <td width="5%" rowspan="2" class="dropdown-caret">
            <img  class="img-select-seleccion" src="./assets/img/bg_selectN.png">
          </td>
        </tr>
        <tr>
          <td align="left">Cuenta <label id="lblCuentaOrigen" #lblCuentaOrigen></label></td>
          <td align="left">Saldo Disponible</td>
        </tr>
      </table>
      <table  id="tableDefaultOrigen" width="100%">
        <tr>
          <td align="left" rowspan="2">Seleccione una cuenta de origen...</td>
          <td width="5%" rowspan="2" class="dropdown-caret">
            <img src="./assets/img/bg_selectN.png" class="select-img">
          </td>
        </tr>
      </table>
    </button>
                  <div>
                      <ul id="ul_Cuentas" #listaCuentas class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1" style="width : 100%; height : 200px; overflow: auto;">

                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row sumando-form-group letranegrita">
      <div class="col-sm-1 sumando-bg-red group-name">
        Para 
      </div>
      <div class="col-sm-11 group-controls  padding-InFieldset" style="padding-left: 0px; padding-right:  0px;">
      <div class="form-group">
          <div class="sumando-bg-white">
              <input type="hidden">
              <div class="dropdown sumando-dropdown-account">
               <button class="btn btn-default btn-block dropdown-toggle btn-color-cuentas " type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding-right: 0px;padding-top: 0px;padding-bottom: 0px">
               <table id="tableBeneficiarios" style="display: none" width="100%">
                 <tr> 
                   <td align="left" width="45%">
                     <strong><label  id="lbDescripcionCtaBen" #lbDescripcionCtaBen></label></strong>
                   </td>
                  <!-- <td align="left" width="45%">
                     <strong>$<label id ="lblSaldoOrigen"></label>
                     </strong>
                   </td>-->
                   <td width="5%" rowspan="2" class="dropdown-caret">
                    <img  class="img-select-seleccion" src="./assets/img/bg_selectN.png">
                  </td>
                 </tr>
                 <tr>
                   <td align="left">Cuenta <label id="lblCuentaDestino" #lblCuentaDestino></label></td>
                   <!--<td align="left">Saldo Disponible</td-->
                 </tr>
               </table> 
               <table  id="tableDefaultBeneficiarios" width="100%">
                 <tr>
                   <td align="left" rowspan="2">Seleccione una cuenta destino...</td>
                   <td width="5%" rowspan="2" class="dropdown-caret">
                    <img src="./assets/img/bg_selectN.png" class="select-img">
                  </td> 
                 </tr>  
               </table>
             </button>  
           <div>
             <ul id="ul_CuentasBen" #listaCuentasBeneficiario  class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1" style="width: 100%; height: 200px; overflow: auto" >
                
             </ul>
           </div>
           </div>
         </div> 
       </div>
     </div>
    </div>
    <div id="divisionInputs"></div>
    <div class="row sumando-form-group letranegrita" style="padding-left: 8.5%;">
     <div class="col-lg-11  sumando-well-white" style="max-width: 100% !important;flex: 0 0 100.666667% !important;padding-right: 0px;width: 100%;padding-bottom: 0px;margin-bottom: 25px;padding-top: 25px">
        <div class="form-group padding-InFieldset" style="margin-bottom: 0px" >
          <div class="row">
            <div class="col-lg-1 padding-labelToInput">
              <label>Importe: </label>
            </div>
              <div class="col-lg-10">
                <input  id="txtImporte" type="text"class="form-control input-lg" #rImporte formControlName="fcImporte"
                [matKeyboard]="'num'"  (blur)="transformAmount(rImporte.value)" />
                <div *ngIf="(myForm.get('fcImporte').errors  && myForm.get('fcImporte').touched)||( rImporte.value === '' && myForm.get('fcImporte').errors === null)" class="alert alert-danger">
                  <p color="danger" *ngIf="myForm.get('fcImporte').hasError('required') ">Dato obligatorio, favor de capturar. </p>
                  <p color="danger" *ngIf="( rImporte.value === '' && myForm.get('fcImporte').errors === null)">Dato obligatorio, favor de capturar. </p>
              </div>
              </div>
          </div>
   </div>
     </div>
   </div>
   <div class="row actions-form-group text-right">
      <div class="col-lg-9"></div> 
      <div class="col-lg-2">
        <button class="btn btn-lg"  type="button" (click)="irMenuBXI()">Regresar</button>
      </div>
      <div class="col-lg-1" style="padding-right: 0px;">
            <button type="button" class="btn btn-danger btn-lg" (click)="confirmaOperacion(rImporte.value)"
        [disabled]="(myForm.get('fcImporte').invalid || (lblAliasOrigen.value == '') || (lblCuentaOrigen.value == '') || (lblCuentaDestino.value == ''))" >
          Continuar
        </button>
    </div>
   </div>
 </fieldset>
 <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadowModal ">

            <div class="modal-body" style="padding: 2rem;">

                <h4 style="color: #eb012a; font-weight: 700;">Confirmar pago</h4>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Cuenta origen:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{CuentaOrigen}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Banco destino:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{nombreBanco}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Cuenta Destino:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>{{CuentaDestino}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 6">
                        <label>Importe:</label>
                    </div>
                    <div class="col-lg 6">
                        <label>${{Importe}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 12">
                        <div id="challenger" class="form-group">
                            <label>N&uacute;mero de seguridad</label>
                            <label  class='form-control input-lg'  >{{NumeroSeguridad}}</label>

                        </div>
                        <div id="divPass" class="form-group">
                          <label>{{labelTipoAutentica}}</label>
                            <input type="password" class="form-control input-lg" #token [matKeyboard]="'num'">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-lg" data-dismiss="modal">Cancelar</button>
                    <button class="color-botones btn btn-lg " (click)="confirmarPago(token.value)">
                            Confirmar
                          </button>
                </div>

            </div>
        </div>
    </div>
</div> 
</form>