<form novalidate [formGroup]="myForm">
<div class="padding-barToTittle">
  <h2 class="text-center deleteMargin-h2 color-letra">Actualizar datos de contacto</h2>
</div>
<fieldset class="padding-TittleToFieldset padding-fieldset-general">
  <div align="center" class="well sumando-well-white col-sm-12">
      <div class="row">
          <div class="col-sm-5 col-md-5" align="right">
              <strong>Correo electr&oacute;nico</strong>
          </div>
          <div class="col-sm-4 col-md-4">
              <input   #correoElectronico  type="text"   class="tamimput form-control amount input-lg" 
              formControlName="fcCorreo" [matKeyboard]="" placeholder="Correo electr&oacute;nico" readonly (focus)="focusTeclado(correoElectronico)"/>
                <div *ngIf="IsControlCorreo">
                    <div *ngIf="(myForm.get('fcCorreo').errors  && myForm.get('fcCorreo').touched) " class="alert alert-danger" >
                        <p *ngIf="myForm.get('fcCorreo').hasError('required')" >
                                Dato obligatorio, favor de capturar.
                        </p>
                        <!--<div *ngIf="showCorreoError">-->
                            <p *ngIf="myForm.get('fcCorreo').hasError('pattern') && !myForm.get('fcCorreo').hasError('required') ">
                                Los datos proporcionados son incorrectos, favor de verificar.
                            </p>
                       <!-- </div>-->
                    </div>
                </div>
            </div>
          <div class="col-sm-1 col-md-1" align="left">
              <a>  <img src="./assets/img/edit.png" type="image/png" width="30" height="30" (click)="editarCorreo(correoElectronico)"> </a>
          </div>
      </div>
      <br>
      <br>
      <div class="row">
          <div class="col-sm-5 col-md-5" align="right">
              <strong>N&uacute;mero de celular</strong>
          </div>
          <div class="col-sm-4 col-md-4">
              <input  #numeroCelular  type="text" class="tamimput form-control amount input-lg" 
              formControlName="fcCelular" [matKeyboard]="'num'" placeholder="Número de celular" readonly maxlength="10"  (focus)="focusTeclado(numeroCelular)"/>
              <div *ngIf="IsControlCelular">
                <div *ngIf="myForm.get('fcCelular').errors  && myForm.get('fcCelular').touched" class="alert alert-danger">
                    <p *ngIf="myForm.get('fcCelular').hasError('required')"  >
                            Dato obligatorio, favor de capturar.
                    </p>
                    <!--<div *ngIf="showCelularError">-->
                        <p *ngIf="myForm.get('fcCelular').hasError('minlength') " >
                            Los datos proporcionados son incorrectos, favor de verificar.
                        </p>
                        <p *ngIf="myForm.get('fcCelular').hasError('maxlength')  " >
                            Los datos proporcionados son incorrectos, favor de verificar.
                        </p>
                        <p *ngIf="myForm.get('fcCelular').hasError('pattern') && !myForm.get('fcCelular').hasError('maxlength')  && !myForm.get('fcCelular').hasError('minlength') " >
                                Los datos proporcionados son incorrectos, favor de verificar.
                        </p>

                    <!--</div>-->
                </div>
              </div>
         </div>
          <div class="col-sm-1 col-md-1" align="left">
              <a> <img src="./assets/img/edit.png" type="image/png" width="30" height="30" (click)='editarNumCel(numeroCelular)'> </a>
          </div>
      </div>

  </div>
</fieldset>


<div style="margin:30px -142px 0px 0px;" class="row">
  <div class="col-sm-10">
      <button class="btn pull-right btn-lg letranegrita" (click)="irMenuBXI()">
                  Regresar
              </button>
  </div>
  <div style=" padding: 0px;" class="col-sm-1">
      <button id="guardar" class="btn color-botones btn-lg letranegrita" type="button" [disabled]="((correoElectronico.readOnly === true) && (numeroCelular.readOnly === true)) || (myForm.get('fcCelular').invalid && numeroCelular.readOnly === false) || (myForm.get('fcCorreo').invalid && correoElectronico.readOnly === false)" (click)="setTipoAutenticacionOnModal(correoElectronico.value,numeroCelular.value)">
              Guardar
          </button>
  </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document" style="margin-left: 650px !important;">
            <div class="modal-content shadowModal " style=" width: 639px;">
    
                <div class="modal-body" style="padding: 2rem;">
    
                    <h4 style="color: rgb(176, 22, 87); font-weight: 700;">Confirmar cambio   </h4><br>
                    <div class="row" *ngIf="actCel">
                        <div class="col-lg-4" align="right"> 
                            <label>N&uacute;mero celular:</label>
                        </div>
                        <div class="col-lg-8">
                            <label>{{Celular}}</label>
                        </div>
                    </div>
                    <div class="row" *ngIf="actCorreo">
                        <div class="col-lg-4" align="right">
                            <label>Correo el&eacute;ctrónico:</label>
                        </div>
                        <div class="col-lg-8">
                            <label>{{Correo}}</label>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-12">
                              <label style="display: block; text-align: center; line-height: 280%; 	color: #eb012a;">Por favor captura tu 
                                  <label>{{labelTipoAutentica}}</label> 
                                para poder continuar
                              </label>
                            </div>
                        </div>
                    <div id="challenger" class="row">
                            <div class="col-lg-5" align="center">
                                  <label>N&uacute;mero de seguridad:</label>
                            </div>
                            <div class="col-lg-7">
                                <label  class='form-control input-lg'  >{{NumeroSeguridad}}</label>
                            </div>
                    </div>
                    <div id="divPass" class="row">
                                <div class="col-lg-5" align="center">
                                    <label>{{labelTipoAutentica}}:</label>
                                 </div>
                                  <div class="col-lg-7">
                                    <input type="password" class="form-control input-lg" #token [matKeyboard]="'num'" formControlName='fcToken'>
                                    <div *ngIf="myForm.get('fcToken').errors  && myForm.get('fcToken').touched " class="alert alert-danger">
                                        <p color="danger" *ngIf="myForm.get('fcToken').hasError('required')"> Dato obligatorio, favor de capturar.
                                        </p>
                                        <p color="danger" *ngIf="myForm.get('fcToken').hasError('pattern')">Los datos proporcionados son incorrectos, favor de verificar.
                                        </p>
                                    </div>
                                  </div>
                      </div>
                      
                      <br>
                    <div class="modal-footer">
                        <button class="btn btn-lg" data-dismiss="modal" (click)="ocultaModal()">Cancelar</button>
                              <button id="confirmar" class="color-botones btn btn-lg " (click)="confirmarOperacion(token.value)" [disabled]="(myForm.get('fcToken').invalid)">
                                Confirmar
                              </button>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</form>
