<div class="container">
  <h2>Pagar tarjeta de credito</h2>
  <h4>Utiliza el teclado para llenar los siguientes campos</h4>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="row text-center">
    <div class="row">
      <div class="col-lg-7 col-md-7 text-right">
        <a ui-sref="kiosk.pts.tc">
          <img src="assets/images/k_tc_bin.png" draggable="false" />
        </a>
      </div>
      <div class="col-lg-3 col-md-3 text-center">
        <form novalidate name="currentForm">
          <fieldset>
            <div class="row sumando-form-group ">
              <div class="group-controls">

                <div class="form-group"
                     ng-class="{
                      'has-error':  currentForm.ref01.$invalid && currentForm.ref01.$dirty,
                      'has-success': currentForm.ref01.$valid}">
                  <label class="control-label klabel text-right">Numero de tarjeta</label>
                  <div >
                    <input name="ref01" type="text" ng-pattern="/^[0-9]{15}$/" maxlength="16" class="form-control amount input-lg" ng-model="command.ref01" required invalid-popover="Solo se admite numeros y una longitud de 16 caracteres." invalid-popover-placement="auto"
                            />
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="form-group"
                     ng-class="{
                      'has-error':  currentForm.ref01_conf.$invalid && currentForm.ref01_conf.$dirty,
                      'has-success': currentForm.ref01_conf.$valid}">
                  <label class="control-label klabel text-right">Confirma el numero de tarjeta</label>

                  <div >
                    <input name="ref01_conf" type="text"  maxlength="16" class="form-control amount input-lg" ng-model="command.ref01_conf" required ng-match="command.ref01"
                            />
                  </div>
                  <div class="clearfix"></div>
                </div>

              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="kiosk-actions">
  <div class="row ">
    <a class="btn btn-kiosk btn-kiosk-back pull-left" ui-sref="kiosk.tc.home">REGRESAR</a>
    <a class="btn btn-kiosk btn-kiosk-next pull-right" ui-sref="kiosk.tc.amount" ng-disabled="currentForm.$invalid">CONTINUAR</a>
  </div>
</div>
