

.padding-fieldset-general{
                
                padding-left: 5%;
    padding-right: 5%;
}
.padding-barToTittle{

                padding-top: 55px;
}
.padding-TittleToFieldset{

                padding-top: 30px;
}
Estilos(Copiar y pegar en hoja de estilos del proyecto)

.padding-fieldset-general{
                
                padding-left: 5%;
    padding-right: 5%;
}
.padding-barToTittle{

                padding-top: 55px;
}
.padding-TittleToFieldset{

                padding-top: 30px;
}

.padding-InFieldset{
                
                padding-bottom : 25px;
}

.deleteMargin-h2{
                margin : 0px;
}

.padding-labelToInput{
                
                padding-bottom : 10px;
}
.padding-bgWhite{
                padding : 2%;
}

.deletePaddingRigth-buttom{
                
                padding-right: 0px;
}

.background-Confirmacion{
                
                background-color: white;
}

.padding-InFieldset{
                
                padding-bottom : 25px;
}

.deleteMargin-h2{
                margin : 0px;
}

.padding-labelToInput{
                
                padding-bottom : 10px;
}
.padding-bgWhite{
                padding : 2%;
}

.deletePaddingRigth-buttom{
                
                padding-right: 0px;
}

.background-Confirmacion{
                
                background-color: white;
}
