<form>
    <h2 class="text-center padding-barToTittle deleteMargin-h2  color-letra">La cancelación de envío de estado de cuenta a domicilio ha sido exitosa</h2>
    <fieldset class="padding-TittleToFieldset padding-fieldset-general">
        <div style="background-color: white; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 30px;">
            <div style="padding-top: 20px;">
                <label>Entrega de estado de cuenta a domicilio <strong>desactivado.</strong></label>
            </div>
            <div style="padding-top: 20px;">
                <label>Recibirás en tu correo electrónico una notificación cada vez que se genere un nuevo estado de cuenta, mismo que podrás consultar en tu Banca en Línea o en sucursal usando este aplicativo.
                </label>
            </div>
            <div style=" padding-top: 20px">
                <label>Correo electrónico registrado: <strong>{{correoRegistrado}}.</strong> Si deseas actualizar tu dirección de correo electrónico selecciona la opción <strong>Actualizar datos de contacto.</strong></label>
            </div>
            <div>
                <label>Para dudas o aclaraciones sobre este cambio comunícate de lunes a viernes de 8:00 a 20:00 hrs. y sábados de 9:00 a 14:00 hrs. a los siguientes teléfonos:</label>
                <label>México D.F (55) 5140-5600</label>
                <label>Resto del país 01-800-226-6783</label>
            </div>
        </div>
        <div style="margin:30px 20px 0px 0px; margin-top: 10px" class="row actions-form-group text-right">
            <div class="col-sm-11"></div>
            <div class="col-sm-1">
                <button id="terminar" routerLink="/menuTdd" class="color-botones btn btn-lg pull-right" style="margin-right: -35px;">Terminar</button>
            </div>
        </div>
    </fieldset>
</form>