<h2 class="text-center color-letra deleteMargin-h2 padding-barToTittle">
    Envío de estado de cuenta</h2>
<fieldset class="padding-fieldset-general padding-TittleToFieldset">



    <form [formGroup]="forma" class="needs-validation">
        <div id="divisionInputs"></div>
        <div class="row sumando-form-group letranegrita">
            <div class="col-sm-1 sumando-bg-red group-name">Envío</div>
            <div class="col-sm-11 sumando-well-white">

                <div id="transferencia" style="display: block;">

                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-2 padding-labelToInput">
                                <label>Correo electronico: </label>
                            </div>
                            <div class="col-sm-10">
                                <input id="correo" name="correo" [matKeyboard]="" formControlName="correo" type="text" class="form-control amount input-lg" maxlength="60" required />
                                <div *ngIf="forma.hasError('pattern', 'correo') || forma.hasError('max', 'correo') " style="margin-bottom: 0px; padding: 0.5rem 1.20rem;" class="alert alert-danger">
                                    Correo electronico incorrecto.
                                </div>
                                <div *ngIf="forma.hasError('required', 'correo') && !forma.get('correo').untouched" style="margin-bottom: 0px; padding: 0.5rem 1.20rem;" class="alert alert-danger">
                                    Este dato es obligatorio.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-2 padding-labelToInput">
                                <label>Confirma correo electronico: </label>
                            </div>
                            <div class="col-sm-10">
                                <input id="confCorreo" name="confCorreo" [matKeyboard]="" formControlName="confCorreo" type="text" class="form-control amount input-lg" maxlength="60" required />
                                <div class="alert-danger" *ngIf="(forma.get('confCorreo').errors  && forma.get('confCorreo').touched)">
                                    <p color="danger" *ngIf="forma.get('confCorreo').hasError('required')">Este dato es obligatorio.</p>
                                    <p color="danger" *ngIf="correosIgual === 1 || forma.get('confCorreo').hasError('pattern')">Los datos proporcionados son incorrectos, favor de verificar.</p>
                                </div>
                                <div class="alert-danger">
                                    <p color="danger" *ngIf="correosIgual === 1">Los datos proporcionados son incorrectos, favor de verificar.</p>
                                </div>
                                <!--  <div *ngIf="forma.hasError('pattern', 'confCorreo') || forma.hasError('max', 'correo') " style="margin-bottom: 0px; padding: 0.5rem 1.20rem;" class="alert alert-danger">
                                    Correo electronico incorrecto.
                                </div>
                                <div *ngIf="forma.hasError('required', 'confCorreo') && forma.get('confCorreo').touched" style="margin-bottom: 0px; padding: 0.5rem 1.20rem;" class="alert alert-danger">
                                    Este dato es obligatorio.
                                </div>
                                <div *ngIf="correosIgual === 1" style="margin-bottom: 0px; padding: 0.5rem 1.20rem;" class="alert alert-danger">
                                    Los correos no son iguales, favor de verificar.
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group padding-InFieldset" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-2 padding-labelToInput">
                                <label>Contraseña del archivo: </label>
                            </div>

                            <div class="col-sm-10">
                                <input id="contra" name="contra" placeholder="La contrseña debe ser de 5 caracteres (números y/o letras)" [matKeyboard]="" formControlName="contra" type="password" class="form-control amount input-lg" maxlength="60" required />
                                <div class="alert-danger" *ngIf="(forma.get('contra').errors  && forma.get('contra').touched)">
                                    <p color="danger" *ngIf="forma.get('contra').hasError('required')">La contraseña debe ser de 5 caracteres (números y/o letras)</p>
                                    <p color="danger" *ngIf="forma.get('contra').hasError('pattern') || forma.get('contra').hasError('maxlength') || forma.get('contra').hasError('minlength')">La contraseña debe ser de 5 caracteres (números y/o letras)</p>
                                </div>
                                <!-- <div *ngIf="forma.hasError('min', 'contra') || forma.hasError('max', 'contra') " style="margin-bottom: 0px; padding: 0.5rem 1.20rem;" class="alert alert-danger">
                                        Limite de....
                                    </div>
                                    <div *ngIf="forma.hasError('required', 'contra') && forma.get('contra').touched" style="margin-bottom: 0px; padding: 0.5rem 1.20rem;" class="alert alert-danger">
                                        Este dato es obligatorio.
                                    </div> -->
                            </div>

                        </div>
                        <div class="row">
                            <label style="color: #eb012a; font-weight: 700; margin-left: auto; margin-right: auto; margin-top: 30px;">Esta contraseña sera necesaria para abrir el archivo enviado por correo electronico </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div style="margin:30px 20px 0px 0px;" class="row actions-form-group text-right">
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-lg" routerLink="/ImpresionEdcTdc">Regresar</button>
            </div>
            <!-- <button [disabled]="!forma.valid" class="btn btn-primary  btn-lg" ng-click="onSiguiente01();" ng-disabled="currentForm.$invalid"> -->
            <div class="col-sm-1">
                <button [disabled]="!forma.valid || correosIgual === 1" id="continuarEdc" name="continuarEdc" class="btn color-botones btn-lg" (click)="validateFields()">
                            Continuar</button>
            </div>
        </div>
    </form>
</fieldset>



<div id="errorModal" class="modal fade" data-backdrop="static" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-error">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    <label style="text-align: center;" id="mnsError" class="letranegrita"></label>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="cerrar" class="btn color-botones" data-dismiss="modal">ACEPTAR</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>